%h3 Thank you for contacting Funding Launchpad.
%p
  We have received your information and will be in touch soon 
  regarding how we may be able to help you start crowd funding.
  = render 'shared/email_signature'
