%h3
  The following information was submitted by an interested Issuer:
  %br
%div
  %b
    Name:
  = @contact.name
%div
  %b
    Email:
  = @contact.email
- if !@contact.phone.blank?
  %div
    %b
      Phone:
    = @contact.phone
- if !@contact.twitter_username.blank?
  %div
    %b
      Twitter @name:
    = @contact.twitter_username
- if !@contact.facebook_url.blank?
  %div
    %b
      Facebook Page:
    = @contact.facebook_url
%div
  %b
    Looking to raise:
  = @contact.raise_amount
%div
  %b
    Description:
  = @contact.description
%div
  %b
    =I18n.t :business_state, :scope => [:simple_form, :labels, :contact]
  = @contact.business_state
%div
  %b
    Industry
  = @contact.industry
- if !@contact.referral.blank?
  %div
    %b
      Referral
    = @contact.referral
%div
  %b
    Business Plan Investor Ready
  = @contact.investor_ready

