= simple_form_for [@offering, @auction], :html => {:multipart => true} do |f|
  .well.span9

    = f.input :title, input_html: {class: "span4"}
    = f.input :description, input_html: {class: "span9 wysi resizable", size: "50x8"}
    = f.input :enabled, input_html: {class: "span4"}
    = f.input :price, label: "Minimum Price", input_html: {class: "span4"}
    = f.input :auction_end_time, input_html: {class: "span4"}
    = f.input :delivery_method, :collection => ['Physical', 'Electronic'], input_html: {class: "span4"}
    
    = form_actions
