.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Auctions for #{@offering.name}

.container
  -if @auctions.nil? or @auctions.count == 0
    .small_notice
      There are currently no auctions associated with this offering.
  -else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th Enabled
          %th Title
          %th Minimum Price
          %th Current Bid
          %th Ends On
          %th Delivery
          %th.span2 Actions
          

        - @auctions.each do |auction|
          %tr{id: "auction_#{auction.id}"}
            %td= auction.enabled ? 'Yes' : 'No'
            %td= truncate( auction.title )
            %td= number_to_currency(auction.price)
            - if auction.bids.nil? or auction.bids.count == 0
              %td= "--"
            - else
              %td= number_to_currency(auction.bid.last.amount)
            %td= auction.auction_end_time
            %td= auction.delivery_method
            %td= action_btns @offering, auction
          
  %br
    = link_to('Return to Offering', admin_offering_path(@offering), class: "btn")
    = link_to('Add a new auction', new_offering_auction_path(@offering), class: "btn btn-primary")
