#auction_detail.modal.hide.fade.in
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Auction Detail
  .modal-body
    = render "show_body"
    %br
  .modal-footer
    %a.btn{:href => offering_path(@offering), "data-ga" => "required_warning_back"} Back to Offering

