.hero-alt-top
  .container
    %h2 Your Default Following Options

.container
  %p
    If you elect to follow offerings through Funding Launchpad, you have a wide
    variety of actions you may choose to hear about.  Below is a list of all available
    actions where you can choose whether or not you want to be notified by default.
  %p
    When you elect to follow an offering you can override these settings for that
    specific offering if you like.  These are just your defaults.

  = simple_form_for @dfo, :html => {:class => 'form-vertical' }, defaults: {:wrapper => :inline_checkbox} do |f|
    .row
      .span
        = f.input :new_offering_update, :label => "New Offering Updates"
    .row
      .span
        = f.input :new_offering_qa, :label => "New Offering Questions or Answers"
    .row
      .span
        = f.input :investment_invested, :label => "Money Invested"
    .row
      .span
        = f.input :offering_funded, :label => "Offering Fully Funded"
    .row
      .span
        = f.input :offering_expired, :label => "Offering Expired Without Funding"
    .row
      .span
        = f.input :offering_content_changed, :label => "Changes Made To Offering Content"
    .row
      .span
        %button.btn.btn-primary{:type => "submit"}
          Update Defaults
