
= simple_form_for [@offering, @contribution] do |f|

  = render :partial => 'shared/payment_fields', :locals => {:f => f}

  %hr
  .form-actions-custom
    = f.button :submit, "Submit", :class => "btn btn-primary"
    =link_to('Cancel', :back, :class => "btn btn-cancel")
