= render "shared/offering_nav"

.container
  .row
    .span8
      - if @contributions.count == 0
        %h3.ac
          Currently, nobody has contributed to this offering.
      -else
        %table.table.table-striped.table-bordered
          %tr
            %th.span2 Contributor
            %th Status
            %th Date
            %th Amount
  
          - @contributions.each do |contribution|
            %tr
              %td
                = image_tag(contribution.user.person.profile_picture_url(:thumb).to_s)
                .investor_name
                  = contribution.user.person.full_name
              %td= contribution.status
              %td= contribution.created_at.localtime
              %td= number_to_currency(contribution.amount)

    .span4.offering-sidebar
      = render "offerings/offering_sidebar"

= render "shared/no_invest_reason"
  

