- if @offering.access_token.blank?
  .hero-alt-top
    .container
      %h2 We're Sorry
  .container
    %p
      Unfortunately this particular offering is not currently accepting contributions.  Please try again later or contact the issuer
      to see when they will be accepting contributions.
    %p
      = link_to "Return to Offering", offering_path(@offering), class: "btn"
- else
  .hero-alt-top
    .container
      =render :partial => "shared/flash", :locals => {:flash => flash}
      %h2 Make Your Contribution

  .container
    %p
      So you'd like to contribute? That's exciting!  Please let us know how you'd like to make your contribution.  All fields are required.

    .row
      .well.span

        = render "form"

