= simple_form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %table.table
    = f.fields_for :person do |person|
      %tr
        %td
          = person.input :first_name
      %tr
        %td
          = person.input :last_name
    %tr
      %td
        = f.input :email
    %tr
      %td
        = f.input :password
    %tr
      %td
        = f.input :password_confirmation
    %tr
      %td
      %td.actions
        = f.submit 'Register'
