.well.span.social-logins
  = render "shared/social_logins"
.span.login-seperator.focus
  %h3 or
.well.span6.signup
  = f.fields_for :person, resource.person do |person|
    = person.input :first_name, required: false, placeholder: "First Name", label: false
    = person.input :last_name, required: false, placeholder: "Last Name", label: false
    = f.input :email, placeholder: "*Email", label: false
    = f.input :password, required: false, :placeholder => "*Password (minimum 6 characters)", label: false
    = f.input :password_confirmation, placeholder: "*Confirm Password", label: false
    * Required Fields
    %br
    %br

    -unless true # In other words, never include this stuff on rewards site
      = person.input :resident,
                :collection => [["In the U.S.", true],["Outside the U.S.", false]],
                :label_method => :first,
                :value_method => :last,
                :as => :radio_buttons,
                :label => "Where is your principal <a title='Residence Definition' href='#' class='residence'>residence?</a>",
                :wrapper_html => {:id => "residence"},
                :item_wrapper_class => 'inline'

      = person.fields_for :addresses do |address|
        = address.hidden_field :content_type, :value => "Residence"
        = address.input :country_code, :label => false, :wrapper_html => {:id => 'wrap-country', :class => 'hide'} do
          = address.country_select :country_code, prompt: 'Please select a country'
        = address.input :state, :label => false, :wrapper_html => {:id => 'wrap-state', :class => 'hide'}, :input_html => {:class => "span4"} do
          = address.subregion_select :state, "US", prompt: 'Please select a state'

    = f.input :pcp_email, :label => "Notify me of future crowdfunding offerings powered by Funding Launchpad's technology", :wrapper => :inline_checkbox, :input_html => { :class => 'span',  :checked => true }, :as => :boolean
    - if !is_pcp?
      = f.input :newsletter, :label => "Also sign me up for the Funding Launchpad Newsletter", :wrapper => :inline_checkbox, :input_html => { :class => 'span', :checked => true }, :as => :boolean

  =render "shared/resident"
  %hr
  %p
    %small.muted
      By clicking Create Account, you agree to our
      = link_to static_page_menu("Terms of Use"), terms_path, target: "_blank"
      and that you have read and understand our
      = link_to static_page_menu("Privacy Policy"), privacy_path, target: "_blank"

  .ac
    %button.btn.btn-primary.btn-large.btn-block{:type => "submit"}
      %i.icon-user
      Create Account

/      -if hide_email
/        = f.hidden_field :email
/      -elsif params.has_key?('email')
/        = f.input :email, :input_html => { :value => params['email'] }, label: false
/      -else
/        = f.input :email, :required => false, label: false, :placeholder => "Email"
/