.hero-alt-top
  .container
    %h2 Offerings I'm Following
  
.container
  -if @followed_offerings.empty?
    .small_notice
      You are currently not following any offerings.
  -else
    .entity_list
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th{:align => "left"} Offering Name
          %th
          %th
        - @followed_offerings.each do |offering|
          %tr
            %td= offering.name
            %td= link_to "Unfollow", unfollow_user_path(offering)
            %td= link_to "Adjust Follow Options", edit_following_option_path(offering)
            