.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 User Maintenance
.container
  .entity_list
    = paginate @users
    %table{:class => "table table-bordered table-striped" }
      %tr
        %th First name
        %th Last name
        %th Email
        %th Vim Admin?
        %th PCP Admin?
        %th Confirmed?
        %th

      - @users.each do |user|
        %tr
          %td= user.person.first_name if user.person
          %td= user.person.last_name if user.person
          %td= user.email
          %td.ac= (vim_admin?(user)) ? raw("&#x2713;") : ''
          %td.ac= (pcp_admin?(user)) ? raw("&#x2713;") : ''
          %td.command= confirm_user(user)
          %td.command= link_to 'Remove', user, :data => { :confirm => 'Are you sure?' }, :method => :delete

  = link_to "Back to Administration", admin_path, :class => "btn"
  