.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 User Profile
.container
  %p
    %b First name:
    = @user.person.first_name
  %p
    %b Last name:
    = @user.person.last_name


