-no_tics ||= false
.progress-info
  //  -if !no_tics
  //    .progress-tics
  //      .tic.min{:style => "margin-left: #{@offering.contributed_percent}%;"}
  //        .tip{class: equity_diff < 3 ? 'offset fix-offset' : 'offset', title: "#{number_to_currency(@offering.contribution_goal, :precision => 0)}", rel: "tooltip"}
  //          .text
  //            Min
  //          =icon_tag "", "icon-caret-down"
  //
  .progress.progress-striped.progress-success.active
    .bar.tip{:style => "width: #{@offering.contributed_percent}%;", title: "#{number_to_currency(@offering.contributed, :precision => 0)}", rel: "tooltip", data: {placement: "right"}}
.progress-text
  = contributed_label @offering.contributed_percent, @offering.contributed
