- if PCP_CONFIG.is_pcp?
  = "Thank you again for supporting #{PCP_CONFIG.name}"
- else
  %br
    Sincerely,
  %br
    Funding Launchpad
  %br
    = link_to("http://www.fundinglaunchpad.com", "http://www.fundinglaunchpad.com")
  %br
    = link_to("@fundingpad on Twitter", "https://twitter.com/fundingpad")
  %br
    = link_to("Funding Launchpad on Facebook", "https://www.facebook.com/FundingLaunchpad")
