
%div{:id => "#{(no_hide ||= false) ? 'flash-no-hide' : 'flash'}"}
  - flash.each do |key, val|
    .alert-slide{:class => "#{flash_class(key)}"}
      %a.close{"data-dismiss" => "alert"} ×
      = val
