
#login.modal.fade.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3
      Login or Signup

  .modal-body
    = render :partial => "users/registrations/login_and_register"
  .modal-footer
    -if is_pcp?
      - name = is_pcp? ? PCP_CONFIG.name : "Funding Launchpad"

      %p.ac
        %small
          = "#{name} is using the Funding Launchpad platform to power this offering."
          = "If you have previously created a login on a different Funding Launchpad site, you can use the same username and password to access the #{name} offering."

