#modal-gallery.modal.modal-gallery.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3.modal-title
  .modal-body
    .modal-image
  .modal-footer
    %a.btn.modal-download{:target => "_blank"}
      %i.icon-download
      Download
    %a.btn.btn-success.modal-play.modal-slideshow{"data-slideshow" => "5000"}
      %i.icon-play.icon-white
      Slideshow
    %a.btn.btn-primary.modal-prev
      %i.icon-arrow-left.icon-white
      Previous
    %a.btn.btn-primary.modal-next
      Next
      %i.icon-arrow-right.icon-white