%ul.nav.pull-right
  =nav_link "Home", root_path

  -if !is_pcp?
    =nav_link static_page_menu("About"), about_path
    =nav_link static_page_menu("Blog"), '/blog'

  -if signed_in?
    %li.dropdown
      %a#user-dropdown.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        = current_user_full_name.blank? ? current_user.email : current_user_full_name
        %b.caret
      %ul.dropdown-menu
        = nav_link icon_tag("My Groups", "icon-list-ul"), groups_path if current_user.has_role? :group_creator or current_user.has_role? :group_admin, :any
        = nav_link icon_tag("My Offerings", "icon-list-alt"), my_offerings_path if not_pcp_or_pcp_admin?
        = nav_link icon_tag("My Investments", "icon-money"), myinvestments_path unless contributions_only?
        = nav_link icon_tag("My Contributions & Rewards", "icon-money"), mycontributions_path
        = nav_link icon_tag("Offerings I'm Following", "icon-heart"), followings_user_path(current_user)
        = nav_link icon_tag("Default Following Options", "icon-wrench"),
         edit_default_following_option_path(current_user.default_following_option)
        = nav_link icon_tag("Account Settings", "icon-cog"), settings_path
        %li.divider
        /%li.nav-header What else here?
        -if vim_admin?
          = nav_link "Administration", admin_path

        %li= link_to icon_tag("Log Out", "icon-signout"), destroy_user_session_path, :method => :delete
  -else
    = nav_link "Sign Up", new_user_registration_path
    = nav_link "Log In", new_user_session_path

%ul.nav.pull-right.span6

  - if signed_in?
    = nav_link "Browse", root_path if not is_pcp?
    = nav_link "Create Offering", new_offering_path if not_pcp_or_pcp_admin?
