
#no_invest_reason.hide
  -if is_pcp?
    %p
      Unfortunately, securities laws only permit us to sell this offering to residents
      of the following states:
      = @offering.filed_in_states.join(", ")
      or a non US resident. We have not yet decided whether we will seek to register this offering in other states.
    %br
    %p
      We're really sorry about that, and we really
      appreciate your interest in our company! We'd love it if you could please tell
      your friends about us (no matter what state they live in), and if you're interested
      in following our progress, please click the follow button on this page.
  -else
    %p
      Presently, we can only legally list offerings that have been registered
      at the state level.  The offering you are currently viewing has not been
      registered in your state of residence, and so the issuer may not sell its
      securities to you.  The company has not yet decided whether it will seek to register this offering in other states.
    %br
    %p
      Further, please note that as soon as the new crowdfunding law
      is fully implemented, we expect to be able to list offerings from any
      state, which can be invested in by anybody.

    /Add this when newsletter signup is completed
    /
      Also, please sign up for our mailing
      list at [________] to be notified whenever a new offering is available in
      your state.  Further, please note that as soon as the new crowdfunding law
      is fully implemented, we expect to be able to list offerings from any
      state, which can be invested in by anybody.  Please sign up for our
      mailing list at [________] to receive updates, and we’ll let you know as
      soon as our platform is expanded in this way.