= render partial: "shared/required_modal/accredited", locals: {accredited: true}

.hero-alt-top
  - flash.each do |key, value|
    -if key == :'can-invest-error'
      .alert.alert-error
        .container
          %h4.no-invest-msg
            =value
          - if value[/accredited/].nil?
            %span.no-invest-reason.btn.btn-danger
              Why?
          - else
            %span.not-accredited.btn.btn-danger
              Are you accredited?
    -elsif key == :'no-residence-info'
      .alert.alert-error
        .container
          %h4.no-invest-msg
            =value
          %span
            = link_to "Update Address", "#{profile_person_path(current_user.person)}#personal", class: "btn btn-danger"
    - else
      .container
        %div{:class => "#{flash_class(key)}"}
          =value
          %a.close{:'data-dismiss' => "alert"} x
  .container
    -if can_edit_this_offering?(@offering)
      .offering-header
        %h2
          .span10
            = "#{@offering.name}"
          .offset10
            = link_to "Edit Offering", admin_offering_path(@offering), class: "btn"
    -else
      %h2= "#{@offering.name}"
      
    .tabbable.hero-tab
      %ul.nav.nav-tabs
        = nav_link icon_tag("Offering Overview", "icon-list-alt"), offering_path(@offering)
        -unless @offering.updates.blank?
          = nav_link icon_tag("Updates <span class='badge'>#{@offering.updates.size}</span>".html_safe, "icon-th-list"), offering_updates_path(@offering)
        = nav_link icon_tag("Q & A <span class='badge'>#{@offering.questions.size}</span>".html_safe, "icon-comments"), offering_questions_path(@offering)
        - if @offering.invested > 0
          - if @offering.show_investor_count
            = nav_link icon_tag("Investments <span class='badge'>#{Investment.escrowed.find_all_by_offering_id(@offering.id).size}</span>".html_safe, "icon-heart"), investors_offering_path(@offering)
          - else
            = nav_link icon_tag("Investments".html_safe, "icon-heart"), investors_offering_path(@offering)
        - if @offering.contributed > 0
          = nav_link icon_tag("Contributions <span class='badge'>#{Contribution.find_all_by_offering_id(@offering.id).size}</span>".html_safe, "icon-heart"),
                    offering_contributions_path(@offering)
          

- content_for :opengraph_meta_tags do
  = offering_og_tags
