= f.input :amount, :required => true, :label => "Amount"
= f.input :payment_method, :required => true, :collection => ['Visa', 'MasterCard', 'American Express', 'Discover'], :selected => 'Visa', input_html: {class: "span4"}

= label_tag :card_number, "Credit Card Number"
= text_field_tag :card_number, nil, name: nil
= label_tag :card_code, "Security Code on Card (CVV)"
= text_field_tag :card_code, nil, name: nil
= label_tag :card_month, "Card Expiration"
= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
= f.input :stripe_card_token, :as => :hidden
#stripe_error

/= f.input :pay_info_credit_card_number, :required => true, :label => "Credit Card Number"
/= f.input :pay_info_name_on_card, :required => true, :label => "Name on Card"
/= f.input :pay_info_expiration_date, :required => true, :label => "Expiration Date (MMYYYY)"
/= f.input :pay_info_security_code, :required => true, :label => "CVV (on back of card)"
