-if @offering.show_progress_bar
  -no_tics ||= false
  -if @offering.debt?
    .progress-info{style: "#{!no_tics ? 'padding-top: 40px;' : ''}"}
      -# .progress-tics
        -# .tic.max
          -# .tip{title: "#{number_to_currency(@offering.minimum_goal, :precision => 0)}", rel: "tooltip"}
            -# .text
              -# Investment
            -# =icon_tag "", "icon-caret-down"

      .progress.progress-striped.progress-success.active
        .bar.tip{:style => "width: #{@offering.min_funded_percent}%;", title: "#{number_to_currency(@offering.invested, :precision => 0)}", rel: "tooltip", data: {placement: "right"}}
    .progress-text
      = funded_label @offering.min_funded_percent, @offering.invested
  -else
    .progress-info
      -if !no_tics
        .progress-tics
          .tic.min{:style => "margin-left: #{@offering.min_of_max_percent}%;"}
            .tip{class: equity_diff < 3 ? 'offset fix-offset' : 'offset', title: "#{number_to_currency(@offering.minimum_goal, :precision => 0)}", rel: "tooltip"}
              .text
                Min
              =icon_tag "", "icon-caret-down"
          .tic.max
            .tip{class: equity_diff < 3 ? 'fix-offset' : 'offset', title: "#{number_to_currency(@offering.maximum_goal, :precision => 0)}", rel: "tooltip"}
              .text
                Max
              =icon_tag "", "icon-caret-down"

      .progress.progress-striped.progress-success.active
        .bar.tip{:style => "width: #{@offering.max_funded_percent}%;", title: "#{number_to_currency(@offering.invested, :precision => 0)}", rel: "tooltip", data: {placement: "right"}}
    .progress-text
      = funded_label @offering.min_funded_percent, @offering.invested
    