#residence_popover_content.hide
  For purposes of determining the residence of a prospective investor:

  %ol
    %li
      An individual shall be deemed to be a resident of a state or territory
      if such individual has, at the time of the offer and sale to him, his
      principal residence in the state or territory.
      
    %li
      A corporation, partnership, trust or other form of business
      organization shall be deemed to be a resident of a state or territory if,
      at the time of the offer and sale to it, it has its principal office
      within such state or territory.
  
    %li
      A corporation, partnership, trust or other form of business
      organization which is organized for the specific purpose of acquiring part
      of an issue offered pursuant to this rule shall be deemed not to be a
      resident of a state or territory unless all of the beneficial owners of
      such organization are residents of such state or territory.