.social-buttons
  <span class='st_email_vcount' displayText='Email'></span>
  <span class='st_facebook_vcount' displayText='Facebook'></span>
  <span class='st_twitter_vcount' displayText='Tweet'></span>
  <span class='st_plusone_vcount' displayText='Google +1'></span>
  <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
  <span class='st_pinterest_vcount' displayText='Pinterest'></span>
  <span class='st_sharethis_vcount' displayText='ShareThis'></span>
