- if devise_mapping.omniauthable?
  - User.omniauth_providers.each do |provider|
    -unless provider.to_s == "stripe_connect"
      = link_to icon_tag("<span>Log in with #{provider.to_s.titleize}</span>".html_safe, "icon-#{provider.to_s}"),
                omniauth_authorize_path(resource_name, provider),
                class: "btn btn-large social-login-#{provider.to_s}"
