:javascript
  var switchTo5x=true;
%script{:src => "https://ws.sharethis.com/button/buttons.js", :type => "text/javascript"}
:javascript
  stLight.options({
    publisher: "40a9aa54-de6d-4bdf-82c9-d16719755e9e",
    tracking:'google',
    onhover: 'false'
  });