<div class="control-group">
  <label class="control-label"><%= control_label %></label>
  <div class="controls">
    <form action="/privacy-settings" method="post" class="pull-left" style="margin-right: 5px; margin-bottom: 0;">
      <input type="hidden" name="user_id" value="<%= current_user.id %>" />
      <input type="hidden" name="<%= control_name %>" value="1" />
      <input type="submit" class="btn<% if current_user[control_name] %> btn-primary<% end %>" value="Public" />
    </form>
    <form action="/privacy-settings" method="post" style="margin-bottom: 0;">
      <input type="hidden" name="user_id" value="<%= current_user.id %>" />
      <input type="hidden" name="<%= control_name %>" value="0" />
      <input type="submit" class="btn<% if not current_user[control_name] %> btn-info<% end %>" value="Private" />
    </form>
  </div>
</div>
