<div class="form-horizontal">
  <legend>Basic Information</legend>
  <%= render 'controls', :control_label => 'EZOG', :control_name => 'privacy_settings_ezog' %>
  <%= render 'controls', :control_label => 'Birthday', :control_name => 'privacy_settings_birthday' %>
  <%= render 'controls', :control_label => 'Background', :control_name => 'privacy_settings_background' %>
  <%= render 'controls', :control_label => 'Birthplace', :control_name => 'privacy_settings_birthplace' %>
  <%= render 'controls', :control_label => 'Bio', :control_name => 'privacy_settings_bio' %>
  <%= render 'controls', :control_label => 'Screen Name', :control_name => 'privacy_settings_screen_name' %>
  <%= render 'controls', :control_label => 'Website', :control_name => 'privacy_settings_website' %>
  <%= render 'controls', :control_label => 'Email', :control_name => 'privacy_settings_email' %>
  <%= render 'controls', :control_label => 'Address', :control_name => 'privacy_settings_address' %>
  <%= render 'controls', :control_label => 'Phone Number', :control_name => 'privacy_settings_phone_number' %>
</div>

<div class="form-horizontal">
  <legend>Company Information</legend>
  <%= render 'controls', :control_label => 'Address', :control_name => 'privacy_settings_company_address' %>
  <%= render 'controls', :control_label => 'Phone Number', :control_name => 'privacy_settings_company_phone_number' %>
</div>
