= simple_form_for(@investment_total) do |f|
  .row
    .well.span4
      = f.error_notification

      = f.input :amount, :required => false
      = f.input :show, :wrapper => :inline_checkbox

      = form_actions
