= simple_form_for resource, :as => resource_name, :remote => true, :url => company_invitation_path("#{params[:company_id]}"), :html => {:method => :post} do |f|
  .container
    .row
      .well.span
        
        = f.input :email
        = form_actions "Send Invitation", "Cancel", btn_cancel_path: "#company"
        
      .well.span  
        %p
          The following list shows people that you have already invited to join your company.  
        - if @invitations.nil? or @invitations.count == 0
          .small_notice
            You have not invited anyone yet.
        - else
          %table.table
            %tr
              %th Email Address
              %th Sent On
              %th Accepted On
              %th Action
            - @invitations.each do |invitation|
              %tr
                %td= invitation.email
                %td= invitation.invitation_sent_at.to_s(:date_at_time)
                %td= invitation.invitation_accepted_at.to_s(:date_at_time) if invitation.invitation_accepted_at.present?
                %td
                  - if invitation.invitation_accepted_at.nil?
                    = link_to "Re-Invite", resend_company_invitation_path("#{params[:company_id]}", invitation), remote: true