.hero-alt-top
  .container
    %h2 Add your information
.container    
  = simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
    = f.hidden_field :invitation_token
    = render :partial => "/users/register", :locals => {f: f, hide_email: true}
