.hero-alt-top
  .container
    %h2 Send invitation

= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
  .container
    .well.span6
      =render :partial => "shared/flash", :locals => {:flash => flash}
      %p
        You may invite one or many persons to your offering. To add many 
        just separate each email address with a comma. Each email address 
        will receive a unique invitation email.
      %p
        For example: 
        %br
        %span(style="italic")
          person1@fundinglaunchpad.com, person2@fundinglaunchpad.com. 
      %p
        = f.hidden_field :invitation_offering,:value => params[:offering]
        %br
        = f.text_area :email, :class => 'span6'
      %p= f.submit "Send invitation(s)"
