.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Send Private Offering Invitation
    
.container
  .row
    .well.span
      = simple_form_for resource, :as => resource_name, :url => offering_invitation_path("#{params[:offering_id]}"), :html => {:method => :post} do |f|    
        = f.input :email
        =form_actions "Send Invitation"
        
    .well.span8
      %p
        The following list shows people that you have already invited to view your private offering.  
      - if @invitations.nil? or @invitations.count == 0
        .small_notice
          You have not invited anyone yet.
      - else
        %table.table
          %tr
            %th Email Address
            %th Sent On
            %th Accepted On
            %th Actions
          - @invitations.each do |invitation|
            %tr{id: "invitation_#{invitation.id}"}
              %td= invitation.email
              %td= invitation.invitation_sent_at.to_s(:date_at_time) if invitation.invitation_sent_at.present?
              %td= invitation.invitation_accepted_at.to_s(:date_at_time) if invitation.invitation_accepted_at.present?
              %td
                = button_to "Remove", destroy_offering_invitation_path(@offering, invitation.id), 
                    confirm: "Are you sure you want to remove #{invitation.email}?", 
                    method: :delete,
                    class: "btn btn-danger",
                    disable_with: 'Remove', 
                    form_class: "ib",
                    remote: true
                - if invitation.invitation_accepted_at.nil?
                  = button_to "Re-Invite", resend_offering_invitation_path(@offering, invitation.id), 
                    method: :post, 
                    class: "btn btn-primary",
                    disable_with: 'Re-Invite',
                    form_class: "ib"
