---
layout: default
title: Vim Hero's Journey - Account
logged_in: true
---

<form class="form-horizontal">
  <legend>Account Information</legend>
  <div class="control-group">
    <label class="control-label" for="accountFirstName">First Name</label>
    <div class="controls">
      <input type="text" id="accountFirstName" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="accountLastName">Last Name</label>
    <div class="controls">
      <input type="text" id="accountLastName" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="accountEmail">Email</label>
    <div class="controls">
      <input type="text" id="accountEmail" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="accountUserName">User Name</label>
    <div class="controls">
      <input type="text" id="accountUserName" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="accountPassword">Password</label>
    <div class="controls">
      <input type="password" id="accountPassword" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label>
        <input type="checkbox" checked /> Receive Email Updates?
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Update Account</button>
</form>
