---
layout: default
title: Vim Hero's Journey
logged_in: true
---

<div class="row">

  <div class="span2">
    <div class="row">
      <div class="span2">
        <img class="pull-left" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50">
        <a href="#">First Last</a>
        <br />
        <a href="#"><small>Edit Profile</small></a>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span>Current Waypoint</span>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span>Small 140 character bio</span>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#">Messages</a>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#">Events</a>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span>Companies</span>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span>Groups</span>
      </div>
    </div>
  </div>

  <div class="span6 offset1">
    <div class="row">
      <div id="updateJourney" class="span6">
        <label for="updateJourneyText">Update Journey</label>
        <textarea id="updateJourneyText" class="input-block-level" rows="2"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="span1">
        <img class="pull-right" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50">
      </div>
      <div class="span5">
        <a href="#">First Last</a>
        <p>This is some placeholder text for a journey status update.</p>
        <a href="#"><small>Like</small></a>
        <span> · </span>
        <a href="#"><small>Comment</small></a>
        <span> · </span>
        <a href="#"><small>Share</small></a>
        <span> · </span>
        <span>16 minutes ago</span>
        <p><a href="#">John Doe</a> likes this.</p>
        <form>
          <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=32">
          <input type="text" placeholder="Write a comment..." />
        </form>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="span1">
        <img class="pull-right" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50">
      </div>
      <div class="span5">
        <a href="#">First Last</a>
        <p>This is some placeholder text for a journey status update.</p>
        <a href="#"><small>Like</small></a>
        <span> · </span>
        <a href="#"><small>Comment</small></a>
        <span> · </span>
        <a href="#"><small>Share</small></a>
        <span> · </span>
        <span>43 minutes ago</span>
        <div class="row">
          <div class="span5">
            <img class="pull-left" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=32">
            <div>
              <a href="#">John Doe</a>
              <span>This is some comment placeholder text.</span>
            </div>
            <div>
              <span>about an hour ago</span>
              <span> · </span>
              <a href="#">Like</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span5">
            <img class="pull-left" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=32">
            <div>
              <a href="#">Jane Doe</a>
              <span>This is some comment placeholder text.</span>
            </div>
            <div>
              <span>about an hour ago</span>
              <span> · </span>
              <a href="#">Like</a>
            </div>
          </div>
        </div>
        <form>
          <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=32">
          <input type="text" placeholder="Write a comment..." />
        </form>
      </div>
    </div>
  </div>

  <div class="span2 offset1">
    <div class="row">
      <span>Recommendations</span>
    </div>
    <div class="row">
      <span>Connections</span>
    </div>
  </div>

</div>