---
layout: default
title: Vim Hero's Journey - Journal
logged_in: true
---

<ul class="nav nav-tabs">
  <li class="active"><a href="#create" data-toggle="tab">Create a New Journal Entry</a></li>
  <li><a href="#list" data-toggle="tab">List Entries</a></li>
  <li><a href="#graph" data-toggle="tab">Graph Entries</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="create">

<form class="form-horizontal">

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Is this about a waypoint?
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryWaypoint">Waypoint</label>
    <div class="controls">
      <select id="entryWaypoint">
        <option>The Pain</option>
        <option>The Vision</option>
        <option>The Call</option>
        <option>The Denial</option>
        <option>The Mentor</option>
        <option>The Dump</option>
        <option>The Commitment</option>
        <option>The Trials</option>
        <option>The Crisis</option>
        <option>The Lesson</option>
        <option>The Purpose</option>
        <option>The Gift</option>
        <option>The Message</option>
        <option>The Sharing</option>
        <option>The New Life</option>
        <option>The Freedom</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryCategory">Category</label>
    <div class="controls">
      <select id="entryCategory">
        <option>None</option>
        <option>Life</option>
        <option>Business</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryDateMonth">Date</label>
    <div class="controls">
      <select id="entryDateMonth" class="span2" aria-label="Month">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="1">April</option>
        <option value="1">May</option>
        <option value="1">June</option>
        <option value="1">July</option>
        <option value="1">August</option>
        <option value="1">September</option>
        <option value="1">October</option>
        <option value="1">November</option>
        <option value="1">December</option>
      </select>
      <select class="span2" aria-label="Day">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <select class="span2" aria-label="Year">
        <option>2013</option>
        <option>2012</option>
        <option>2011</option>
        <option>2010</option>
        <option>2009</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryBliss">Bliss</label>
    <div class="controls">
      <select id="entryBliss">
        <option>10</option>
        <option>9</option>
        <option>8</option>
        <option>7</option>
        <option>6</option>
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryPrivacy">Privacy</label>
    <div class="controls">
      <select id="entryPrivacy">
        <option>Everyone</option>
        <option>Only Fellows</option>
        <option>Only Myself</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryPostToWallYes">Post to Wall</label>
    <div class="controls">
      <label class="pull-left" style="margin-right: 10px;">
        <input id="entryPostToWallYes" type="radio" name="entryPostToWall" checked="checked"> Yes
      </label>
      <label>
        <input id="entryPostToWallNo" type="radio" name="entryPostToWall"> No
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryDescription">Description</label>
    <div class="controls">
      <textarea id="entryDescription"></textarea>
    </div>
  </div>

  <input type="submit" value="Create Journal Entry" class="btn btn-primary" />
</form>

  </div>
  <div class="tab-pane" id="list">list</div>
  <div class="tab-pane" id="graph">graph</div>
</div>
