---
layout: default
title: Vim Hero's Journey
logged_in: true
---

<form class="form-horizontal">
  <legend>Basic Information</legend>
  <div class="control-group">
    <label class="control-label">EZOG</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Birthday</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Background</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Birthplace</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Bio</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Screen Name</label>
    <div class="controls">
      <button class="btn">Public</button>
      <button class="btn btn-info">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Website</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <button class="btn">Public</button>
      <button class="btn btn-info">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Address</label>
    <div class="controls">
      <button class="btn">Public</button>
      <button class="btn btn-info">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Phone Number</label>
    <div class="controls">
      <button class="btn">Public</button>
      <button class="btn btn-info">Private</button>
    </div>
  </div>
</form>

<form class="form-horizontal">
  <legend>Company Information</legend>
  <div class="control-group">
    <label class="control-label">Address</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Phone Number</label>
    <div class="controls">
      <button class="btn btn-primary">Public</button>
      <button class="btn">Private</button>
    </div>
  </div>
</form>