---
layout: default
title: Vim Hero's Journey - Profile
logged_in: true
---

<form>
<div class="row">
	<div class="span4">
		<h4>Basic Information</h4>
	  <div class="control-group">
	    <label class="control-label" for="profileFirstName">First Name</label>
	    <div class="controls">
	      <input type="text" id="profileFirstName" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileLastName">Last Name</label>
	    <div class="controls">
	      <input type="text" id="profileLastName" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label">Birthday</label>
	    <div class="controls">
	      <select class="span2"></select>
	      <select class="span1"></select>
	      <select class="span1"></select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileHometown">Hometown</label>
	    <div class="controls">
	      <input type="text" id="profileHometown" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" id="profileGender">Gender</label>
	    <div class="controls">
	      <select id="profileGender">
	      	<option>Male</option>
	      	<option>Female</option>
	      </select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileRelationshipStatus">Relationship Status</label>
	    <div class="controls">
	      <select id="profileRelationshipStatus">
	      	<option>Single</option>
	      	<option>Divorced</option>
	      	<option>Married</option>
	      </select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileCollege">College</label>
	    <div class="controls">
	      <input type="text" id="profileCollege" />
	    </div>
	  </div>
	</div>
	<div class="span4">
		<h4>Contact Information</h4>
	  <div class="control-group">
	    <label class="control-label" for="profileEmail">Email</label>
	    <div class="controls">
	      <input type="text" id="profileEmail" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profilePhoneNumber">Phone Number</label>
	    <div class="controls">
	      <input type="text" id="profilePhoneNumber" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileAddress">Address</label>
	    <div class="controls">
	      <input type="text" id="profileAddress" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileWebsite">Website</label>
	    <div class="controls">
	      <input type="text" id="profileWebsite" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileSkypeUsername">Skype Username</label>
	    <div class="controls">
	      <input type="text" id="profileSkypeUsername" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileYourUrl">Your Url</label>
	    <div class="controls">
	    	<span>http://vimjourney.com/</span>
	      <input type="text" id="profileYourUrl" />
	    </div>
	  </div>
	</div>
	<div class="span4">
		<h4>Company Information</h4>
	  <div class="control-group">
	    <label class="control-label" for="profileCompanyName">Name</label>
	    <div class="controls">
	      <input type="text" id="profileCompanyName" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileCompanyAddress">Address</label>
	    <div class="controls">
	      <input type="text" id="profileCompanyAddress" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileCompanyWebsite">Website</label>
	    <div class="controls">
	      <input type="text" id="profileCompanyWebsite" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileCompanyIndustry">Industry</label>
	    <div class="controls">
	      <input type="text" id="profileCompanyIndustry" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileCompanyPhoneNumber">Phone Number</label>
	    <div class="controls">
	      <input type="text" id="profileCompanyPhoneNumber" />
	    </div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="span6">
		<h4>Getting to know you</h4>
	</div>
</div>
<div class="row">
	<div class="span4">
	  <p>EZOG Scores <small>(<a href="#">what is this?</a>)</small></p>
	  <div class="control-group">
	    <label class="control-label" for="profileVisionary">Visionary</label>
	    <div class="controls">
	      <input type="text" id="profileVisionary" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileArchitect">Architect</label>
	    <div class="controls">
	      <input type="text" id="profileArchitect" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileBuilder">Builder</label>
	    <div class="controls">
	      <input type="text" id="profileBuilder" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileCultivator">Cultivator</label>
	    <div class="controls">
	      <input type="text" id="profileCultivator" />
	    </div>
	  </div>
	</div>
	<div class="span4">
	  <div class="control-group">
	    <label class="control-label" for="profileStageOfEntrepreneurship">
	    	Stage of Entrepreneurship <small>(<a href="#">what is this?</a>)</small>
	    </label>
	    <div class="controls">
	    	<select id="profileStageOfEntrepreneurship">
	    		<option>Entrepreneurial</option>
	    		<option>Aspiring</option>
	    		<option>Startup</option>
	    		<option>Growth</option>
	    		<option>Mature</option>
	    	</select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileFavoriteQuotation">Favorite Quotation</label>
	    <div class="controls">
	      <input type="text" id="profileFavoriteQuotation" />
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="profileEntrepreneurialSuperPower">Entrepreneurial Super Power</label>
	    <div class="controls">
	      <input type="text" id="profileEntrepreneurialSuperPower" />
	    </div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<h4>Work History</h4>
	</div>
</div>
<input type="submit" value="Update Profile" class="btn btn-primary" />
</form>
