---
layout: default
title: Vim Hero's Journey
---

<div class="row">
  <div class="span6 offset3">
    <form class="form-signup" action="/signup.html" method="get">
      <h2 class="form-signup-heading">Sign Up</h2>
      <input type="text" class="span3" placeholder="First Name" aria-label="First Name" aria-required="true" />
      <input type="text" class="span3" placeholder="Last Name" aria-label="Last Name" aria-required="true" />
      <input type="text" class="input-block-level" placeholder="Email" aria-required="true" autocomplete="off" />
      <input type="password" class="input-block-level" placeholder="Password" aria-required="true" autocomplete="off" />
      <div class="form-signup-birthday-label">Birthday:</div>
      <select class="span2" aria-label="Month">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="1">April</option>
        <option value="1">May</option>
        <option value="1">June</option>
        <option value="1">July</option>
        <option value="1">August</option>
        <option value="1">September</option>
        <option value="1">October</option>
        <option value="1">November</option>
        <option value="1">December</option>
      </select>
      <select class="span2" aria-label="Day">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <select class="span2" aria-label="Year">
        <option>2013</option>
        <option>2012</option>
        <option>2011</option>
        <option>2010</option>
        <option>2009</option>
      </select>
      <button class="btn btn-large btn-success" type="submit">Sign Up</button>
    </form>
  </div>
</div>