= f.fields_for :address do |address|
  
  = address.hidden_field :content_type, :value => "Company"
  = address.input :address1, :label => "Address Line 1"
  = address.input :address2, :label => "Address Line 2"
  = address.input :city
  = address.input :state
  = address.input :zip_code
