
= simple_form_for [@offering, @company], :url => offering_company_url(@offering),  :html => {:class => "form-horizontal"} do |f|
  .row
    .span.well
      .span10
        = f.input :name, :size => "62"
        = f.input :description, :input_html => {:size => "60x10", :class => "wysi span8"}

      .span11
        = form_actions "Save Changes", "Cancel"
