.hero-alt-top
  .container
    - flash.each do |key, value|
      .flash{:class => key}= value
    %h2 Companies
  
.container
  -if @companies.nil?
    There are currently no companies in the system.
  -else
    %table.table
      - @companies.each do |company|
        %tr
          %td= company.name
          %td= link_to "Detail", company_path(company)
          - if current_user.is_admin?
            %td= link_to "Edit", edit_company_path(company)