.hero-alt-top
  .container
    %h2 Create A New Company Profile
  
.container
  %p
    You must be affiliated with a company in order to create or manage offerings.  You can
    enter information for your company here and, once complete, you will be able to invite
    others to sign in under your company.
  
  = render 'form'
