.reg_header
  %h1 Select Your Company
  
.reg_body
  %p
    You must be affiliated with a company before you can create or modify offerings.  To
    get affiliated, start by searching for your company here, in case somebody else has
    already entered your company in the system.
    
  = form_for @company do |f|
    .fields= f.label :name
    .fields= f.text_field :name
    .actions= f.submit
    
  %p
    If you're sure your company is not already in the system, you can
    = link_to "Create A New Company Profile", new_company_path