.hero-alt-top
  .container
    %h2 Register blah

- resource.build_person if resource.person.nil?
- resource.person.addresses.build if resource.person.addresses.empty?
  
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
 

  .container
    .row
      .span4
        .span4
          %h3 New to Funding Launchpad?
          %h5 Create an account to continue.
        .well.span3
          - flash.each do |key, value|
            .flash{:class => key}= value
          
          = f.fields_for :person, resource.person do |person|  
            = person.input :first_name, :required => false, :label => "First Name"
            = person.input :last_name, :required => false, :label => "Last Name"
            
            = f.input :password, :required => false, :placeholder => "Minimum of 6 characters"
            = f.input :password_confirmation, :label => "Confirm Password", :placeholder => "Minimum of 6 characters"
            
            = person.input :resident,
                      :collection => [["In the U.S", true],["Outside the U.S.", false]],
                      :label_method => :first,
                      :value_method => :last,
                      :as => :radio_buttons,
                      :label => "Where is your principal <a title='Residence Definition' href='#' id='residence'>residence?</a>",
                      :wrapper_html => {:class => "residence"},
                      :item_wrapper_class => 'inline'
              
            = person.fields_for :addresses do |address|
              = address.hidden_field :content_type, :value => "Residence"
              = address.input :country_code, :label => false, :wrapper_html => {:id => 'wrap-country', :class => 'hide'} do
                = address.country_select :country_code, prompt: 'Please select a country'
              = address.input :state, :label => false, :wrapper_html => {:id => 'wrap-state', :class => 'hide'} do
                = address.subregion_select :state, "US", prompt: 'Please select a state'
          
          =render "shared/resident"
          
          %p
            %small
              By clicking Create Account, you agree to our
              = link_to static_page_menu("Terms of Use"), terms_path
              and that you have read and understand our
              = link_to static_page_menu("Privacy Policy"), privacy_path
          %hr
          .form-actions-custom
            %button.btn.btn-primary.pull-right{:type => "submit"}
              %i.icon-user
              Create Account