#company.tab-pane.active.fade.in
  %article
    %h3
      Who we are
    %p
      We know getting a bank loan and raising capital is hard, we’re small business owners too. That’s why Dave Milliken, former Vice President of Marketing for Smashburger, created FundingLaunchpad.com specifically to help franchisees.
    %p
      Capital is vital to your small business success, but that doesn’t mean is has to be complicated. Our management team and advisers consists of proven web and franchise industry experts. They have all focused on making FundingLaunchpad.com to be the crowdfunding solution for busy franchise owners.
    %p
      We are small business owners just like you. We know first-hand how hard it can be to even find reliable information about raising capital – let alone actually obtaining the funding you need. That’s why we built FundingLaunchpad from the ground up with the guiding principle of making crowdfunding clear and straightforward. Fundraising is serious business; but that doesn't mean it has to be complicated.

    %h3
      What we do
    %p
      We studied the best practices of existing rewards-based crowdfunding platforms, and then used our franchise expertise to customize the concept for your business. Our platform has all the features you would expect in a crowdfunding site, as well as a couple that are completley unique to Funding Launchpad.
    %p
      Funding Launchpad is a full-service crowdfunding company. You are in control of your campaign, but we offer guidance at every step so you can focus on building your business &mdash; not on becoming a crowdfunding expert.
