#contact.tab-pane.fade
  .row
    .span4.vcard

      %h3
        %span.fn.org
          Funding Launchpad

      %table
        %tr
          %td
            =icon_tag("", "icon-envelope")
          %td
            =mail_to("info@fundinglaunchpad.com", "Email Us!", :encode => "javascript")
        %tr
          %td
            =icon_tag("", "icon-home")
          %td
            .adr
              .street-address
                6680 Gunpark Drive, Suite 200
              %span.locality Boulder,
              %span.region CO
              %span.postal-code 80301

        %tr
          %td
            =icon_tag("", "icon-twitter")
          %td
            =link_to "@fundingpad", "https://twitter.com/#!/fundingpad", class: "url"
    .span.well
      = simple_form_for @message, :url => about_path, :remote => true do |f|

        %h4.span4.contact-text
          If you have a question, comment or just want to say hi, we would love
          to hear from you!
        %hr
        .span4.contact-text
          =render :partial => "shared/flash", :locals => {:flash => flash}

        =f.input :name, input_html: {class: "span4"}, required: false
        =f.input :email, input_html: {class: "span4"}, required: false
        =f.input :subject, input_html: {class: "span4"}, required: false
        =f.input :body, as: "text", input_html: {class: "span4", size: "60x5"}, required: false
        %hr
        .form-actions-custom
          %button.btn.btn-primary{:type => "submit", :id => "contact-submit"}
            %i.icon-envelope
            Send
