#team.tab-pane.fade
  %article.row
    .span
      =image_tag "bio_pics/dave_bio.png"
    .span8
      %h3
        Dave Milliken - Chief Executive Officer
      %p
        Dave Milliken has extensive experience in marketing, business strategy, and sales. Prior to co-founding Vim Funding, Dave was Vice President
        of Marketing for Smashburger, #99 in the 2011 Inc. 500. Previously he held positions with Coors Brewing Company, Louis Vuitton Moet Hennessey,
        The Scotts Miracle-Gro Company, Zagat Survey, and IBM. Dave holds an MBA, finance emphasis, from NYU and a BBA from Emory University.

  %article.row
    .span8
      %h3
        Steve Reaser - Chief Operating Officer
      %p
        Steve Reaser is a serial entrepreneur and seed-stage investor who joined the Boulder startup community in August
        2011. Steve is on the Executive Committee of CfPA, the Crowdfunding Professional Organization,
        which is working to guide and support this emerging industry.
      %p
        Prior to moving to Colorado Steve co-founded an educational technology company in Raleigh, NC, and helped grow it
        to 150 employees, over one million users, and solid profitability. Over the eleven years there Steve built several
        internal teams from the ground up, and was responsible user-experience design, project management, and executive duties.
        Steve holds a B.S. from Cornell University.
    .span
      =image_tag "bio_pics/steve_bio.png"

  %article.row
    .span
      =image_tag "bio_pics/shane_bio.png"
    .span8
      %h3
        Shane Fleenor - Chief Legal Officer
      %p
        Shane Fleenor has five years of large law firm experience in New York City, where he represented clients as diverse as multi-billion dollar
        private equity and hedge fund sponsors, to publicly traded companies, to high net worth family offices.  This legal experience enables him to
        navigate the complex web of securities laws that the company faces.  Shane serves as a member of the CrowdFund Intermediary Regulatory Advocates
        (CIFRA), where he serves as a Liaison to the SEC. Shane holds a J.D. cum laude from Harvard Law School and a B.A. with Distinction from
        the University of Virginia.

  %article.row
    .span8
      %h3
        Chris Doyle - Chief Information Officer
      %p
        Chris Doyle has more than 25 years of technology experience including hands-on development of complex software systems, network infrastructure development, and large scale project management.  Prior to Vim Funding, Chris, has worked for Bell Labs, Honeywell Commercial Aviation, Financial Times Energy, and a broad mix of more entrepreneurial efforts along the way.
    .span
      =image_tag "bio_pics/chris_bw.png"
