
= simple_form_for [@offering, @investment] do |f|

  %p
    %b= "Minimum investment amount required is: #{number_to_currency(@offering.min_investment)}"

  =f.input :offered_amount
  = f.input :anonymous, :wrapper => :inline_checkbox
  = f.input :comment, input_html: {class: "span4", size: "40x5"}, label_html: {class: "span4"}

  .row
    %p.span4
      %small.muted
        -if @offering.ppm?
          By clicking Submit, you represent that you are an accredited investor and you authorize us 
          to release your name and email address to the issuer, in order to facilitate your investment in this offering.
        -else
          By clicking Submit, you represent that you are a 
          = link_to "resident", "#", :class => "residence", :title => "Residence Definition"
          of one of the following states:
          = @offering.filed_in_states.join(", ")
          or that you are not a resident of the United States
          and you authorize us to release your name, email address and state of residence to the issuer, in order to facilitate your investment in this offering.
  %hr
  .form-actions-custom
    = f.button :submit, "Submit", :class => "btn btn-primary"
    =link_to('Cancel', :back, :class => "btn btn-cancel")
