%h1= "Investments made for project ##{@investments[0].project.id} (#{@investments[0].project.name})"
- if @investments.count == 0
  .small_notice
    There are currently no investments recorded for this project.
- else
  %table
    %tr
      %th{:align => "left"} User
      %th{:align => "right"} Amount
      %th Date

    - @investments.each do |investment|
      %tr
        %td{:width => "100"}= "#{investment.user.first_name} #{investment.user.last_name}"
        %td{:align => "right", :width => "150"}= number_to_currency(investment.amount)
        %td{:align => "center", :width => "150"}= investment.created_at.strftime("%m/%d/%Y")