-# %h1 Editing investment
-# 
-# = render 'form'
-# 
-# = link_to 'Show', @investment
-# \|
-# = link_to 'Back', investments_path

.hero-alt-top
  .container
    %h2 Editing Investment

.container
  %p
    So you're ready to invest in this company? That's exciting! FundingLaunchpad does not consummate investment transactions on our site, 
    but if you click the "Submit" button below, we will email you with instructions for completing an investment. The company will also be 
    notified that they should expect to hear from you soon. Please note that neither you nor the company will be bound to complete an investment 
    just because you click "Submit" below - you'll both have to sign some documents first.
  
  .row
    .well.span  
      = render "form"

