= render "shared/required_modal/confirm_email"
- if @show_accredited_message
  = render "shared/required_modal/accredited"

- if @show_required_message
  #required_modal.modal.hide
    .modal-header
      %a.close{"data-dismiss" => "modal"} x
      %h3 Investor Requirement
    .modal-body
      %p In order to invest in this offering, the issuer is requiring that you read:
      %ul
        - @unread_required_docs.each do |document|
          %li
            = link_to document.description, offering_document_path(@offering, document)

      %p= "Please download and read the #{'document'.pluralize(@unread_required_docs.size)} before trying to invest."
      %br
    .modal-footer
      %a.btn{:href => offering_path(@offering), "data-ga" => "required_warning_back"} Back to Offering
      %a.btn.btn-primary{"data-dismiss" => "modal", :href => "#", "data-ga" => "required_warning_close"} I'm ready to invest!

.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Next Steps

.container
  %p
    So you're ready to invest? That's exciting! Please submit your offer below and we will email you with instructions
    for completing your investment. Please note that neither you nor the company will be bound to complete an investment just
    because you click "Submit" below – you'll both have to sign some documents first.

  .row
    .well.span

      = render "form"

=render "shared/resident"
