.hero-alt-top
  .container
    %h2 Thanks for expressing interest in #{@offering.company.name}!

.container

  .lead.small.well
    %p
      We <em>really</em> appreciate your support, and we look forward to having you as an investor very soon.
      Please follow the steps below in order to complete your investment (we also sent you these in an email).
    .next-steps
      %h3
        Next Steps:
      %blockquote
        = @offering.instructions.try(:html_safe)

    -if @offering.min_goal_reached?
      %p
        We've already reached our minimum investment threshold, so once the paperwork is complete and the funds
        have been transferred, you’ll officially be an investor in, and a part of, our company! And that means
        that what's good for us is good for you too.
      %p
        So do yourself a favor and spread the word about us and our offering to anyone who might be interested!
        (And don’t forget that you still have to fill out some documents as well).
    -else
      %p
        However, remember that we can’t actually make you an investor until our minimum investment level
        is reached; if we don't reach it, we have to give you your money back.
      %p
        So, if you really want to become a part our company, please <strong>spread the word</strong> about us and our
        offering – help us reach our minimum so we can make you an investor!  (And don’t forget that you
        still have to fill out some documents as well).

    %hr
    = render "shared/sharethis_btns"
    %br
    %blockquote.quote
      %p
        People align with movements they can believe in, and it is the human, intellectual, and financial
        investment in genuine content that defines experiences.
        %small
          Brian Solis, Principal of FutureWorks

  = link_to "Back to Offering", offering_path(@offering), :class => "btn"
  = link_to "Go to My Investments", myinvestments_path, :class => "btn btn-success"

- content_for :opengraph_meta_tags do
  = offering_og_tags
