%p#notice= notice

%p
  %b Project:
  = @investment.offering_id
%p
  %b User:
  = @investment.user_id
%p
  %b Amount:
  = @investment.offered_amount

= link_to 'Edit', edit_investment_path(@investment)
\|
= link_to 'Back', investments_path
