.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 My Investments

.container
  - if @investments.count == 0
    .small_notice
      There are currently no investments recorded.
  - else
    %table.table.table-striped.table-bordered
      %tr
        %th Offering
        %th Offered
        %th Accepted
        %th Date
        %th Funded
        %th Current Status
        %th History

      - @investments.each do |investment|
        %tr
          %td= investment.offering.name
          %td= number_to_currency(investment.offered_amount)
          %td= number_to_currency(investment.accepted_amount)
          %td= investment.created_at.strftime("%m/%d/%Y")
          %td= (investment.offering.funded?) ? "Yes" : "No"
          %td= investment.status
          %td= link_to "View", myinvestment_path(investment)
