.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Status History
  
.container
  %p
    This is the history of status changes for this investment.  Most recent status is
    displayed first.
  %table.table.table-striped.table-bordered
    %th Date
    
    %th Action
    - @statuses.each do |status|
      %tr
        %td= status.created_at.strftime("%B %-d, %Y - %I:%M:%S %P")
        
        %td= status.status
  
  = link_to "Back To Investments", myinvestments_path
