/@ajaxed is set when password reset or resend confirmation forms are submitted. Without
/this the links won't show up on the login form.
- @ajaxed ||= false

- if devise_mapping.recoverable? && (controller_name != 'passwords' or @ajaxed)
  = link_to "Forgot your password?", new_password_path(resource_name), :remote => request.xhr?
  %br/
- if devise_mapping.confirmable? && (controller_name != 'confirmations' or @ajaxed)
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :remote => request.xhr?
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  %br/
-# - if devise_mapping.omniauthable?
-# - User.omniauth_providers.each do |provider|
  -# = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
  -# %br/


