= f.simple_fields_for :address do |address|
  = address.input :address1, label: "Address"
  = address.input :address2, label: "Suite or Apt Number"
  = address.input :city
  = address.input :state
  = address.input :zip_code, label: "Zip Code"
