=simple_form_for @user_reward do |f|
  %p
    Please verify or enter a shipping address:
    = render :partial => 'address', :locals => {:f => f}
      
  %p
    Now enter your payment information (we do not store this):
    = f.input :payment_method, 
      required: true, 
      collection: ['Visa', 'MasterCard', 'American Express', 'Discover'], 
      selected: 'Visa', 
      input_html: {class: "span4"}
    = f.input :pay_info_credit_card_number, label: "Credit Card Number"
    = f.input :pay_info_name_on_card, label: "Name on Card"
    = f.input :pay_info_expiration_date, label: "Expiration Date (MMYYYY)"
    = f.input :pay_info_security_code, label: "CVV Number on Back"

  %p
    = "This item costs #{number_to_currency(@user_reward.reward.price)} each.  How many would you like?"
    = f.input :quantity
    = f.input :offering_id, :as => :hidden
    = f.input :reward_id, :as => :hidden
    = f.input :price, :as => :hidden
  
  %hr
  .form-actions-custom
    = f.button :submit, "Submit", :class => "btn btn-primary"
    =link_to('Cancel', :back, :class => "btn btn-cancel")
  