- if @available_contributions < @user_reward.reward.price
  %p
    Unfortunately, you haven't contributed enough to this offering to receive this reward.  You need to have available contributions of
    = "#{number_to_currency(@user_reward.reward.price)} "
    to receive this reward, but 
    - if @available_contributions == 0 
      you don't have any available contribution dollars to apply to this reward.
    - else
      = "you only have #{number_to_currency(@available_contributions)} dollars to apply to this reward." 
    %hr
    = link_to "Return to Offering", offering_path(@user_reward.offering_id), class: "btn"
- else
  = simple_form_for @user_reward do |f|
    = f.input :offering_id, :as => :hidden
    = f.input :reward_id, :as => :hidden
    = f.input :price, :as => :hidden
    - if @user_reward.reward.delivery_method == "Electronic"
      %p
        Your reward can be delivered electronically.  Please enter or verify the email address we should use:
        = f.input :email
    - else
      %p
        We want to be sure we send your reward to the right place.  Please enter or verify a shipping address we should use:
    
        = render :partial => 'address', :locals => {:f => f}
    
    %hr
    .form-actions-custom
      = f.button :submit, "Submit", :class => "btn btn-primary"
      =link_to('Cancel', :back, :class => "btn btn-cancel")
