.hero-alt-top
  .container
    %h1= "Address Correction"

.container
  %h4= "Feel free to alter your address"
  %br
  = simple_form_for @user_reward do |f|
    - if @user_reward.reward.delivery_method == "Electronic"
      %p
        Please update the email address we should use:
        = f.input :email, :input_html => {:size => 120}
    - else
      %p
        Please update the shipping address we should use:
  
        = render :partial => 'address', :locals => {:f => f}
  
    %hr
    .form-actions-custom
      = f.button :submit, "Submit", :class => "btn btn-primary"
      =link_to('Cancel', :back, :class => "btn btn-cancel")
