<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Contributor</Data></Cell>
        <Cell><Data ss:Type="String">Selection Date</Data></Cell>
        <Cell><Data ss:Type="String">Reward</Data></Cell>
        <Cell><Data ss:Type="String">Quantity</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Delivery Address</Data></Cell>
        <Cell><Data ss:Type="String">User Note</Data></Cell>
        <Cell><Data ss:Type="String">Fulfillment</Data></Cell>
      </Row>
    <% @user_rewards.each do |user_reward| %>
      <Row>
        <Cell><Data ss:Type="String"><%= "#{user_reward.user.person.first_name} #{user_reward.user.person.last_name}" %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= user_reward.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_reward.reward.title %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user_reward.quantity %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_reward.fulfillment_status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_reward.address_as_xls_text(user_reward.address) unless user_reward.address.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_reward.user_delivery_note %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= user_reward.fulfilled_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

