.hero-alt-top
  .container
    %h2 User Selected Rewards

.container
  - if @user_rewards.nil? or @user_rewards.count == 0
    %h3 There are currently no user_reward records in the system.
  - else
    .entity_list
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th Contributer
          %th Selection Date
          %th Reward
          %th Quantity
          %th Status
          %th Delivery Address
          %th User Note
          %th Fulfillment
        - @user_rewards.each do |ur|
          %tr
            %td= "#{ur.user.person.first_name} #{ur.user.person.last_name}"
            %td= ur.created_at
            %td= ur.reward.title
            %td= ur.quantity
            %td= ur.fulfillment_status
            %td= raw(ur.address_as_text(ur.address)) unless ur.address.nil?
            %td= ur.user_delivery_note
            - if ur.fulfillment_status == "New"
              %td= link_to "Mark Fulfilled", fulfill_user_reward_path(ur)
            - else
              %td= ur.fulfilled_at
  = link_to "Return To Offering List", my_offerings_path, :class => "btn"
  = link_to "Download to Excel", offering_user_rewards_path(format: "xls"), :class => "btn"
              

