.hero-alt-top
  .container
    %h1= "Great choice, #{current_user.person.first_name}!"

.container
  .span1
    -unless @user_reward.reward.photo.blank?
      = image_tag @user_reward.reward.photo_url(:main), :alt => "Reward Picture", class: "thumbnail"
  .offset1
    %h4= "You've selected the #{@user_reward.reward.title}."
  %br
  = render :partial => "#{@user_reward.reward.reward_type.downcase}_form"
  
