
= simple_form_for @group, defaults: {input_html: {class: "span5"}} do |f|
  .well.span5
    = f.input :name
    = f.input :subdomain
    = f.input :description, input_html: {size: "10x5"}

    = form_actions
