%tr{id: "offering_#{offering.id}"}
  %td= offering.name
  %td= offering.group.try(:name) || "Not Assigned"
  %td
    - if offering.group.try(:id) == @group.id
      = button_to('Remove from Group', toggle_offering_group_path(@group, :offering_id => offering.id),
        :method => :put,
        :class => "btn btn-danger",
        :remote => true,
        :disable_with => 'Remove from group',
        :form_class => "ib nomargin")
    - else

      = button_to('Assign to Group', toggle_offering_group_path(@group, :offering_id => offering.id),
        :method => :put,
        :class => "btn",
        :remote => true,
        :disable_with => 'Assign to group',
        :form_class => "ib nomargin")