
.span2
  .sidebar-nav
    .well{:style => "padding: 8px 0;"}
      %ul.nav.nav-list
        %li.nav-header Main
        = nav_link icon_tag("Offerings", "icon-th"), group_path(@group), class: "pjax-me"
        = nav_link icon_tag("Members", "icon-group"), members_group_path(@group), class: "pjax-me"
        %li.nav-header Settings
        = nav_link icon_tag("Edit Group", "icon-cog"), edit_group_path(@group), class: "pjax-me"