.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Editing group

.container{:data => {:"pjax-container" => "true", :title => "#{yield :title}"}}
  = render 'form'

