.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Your Groups

.container

  -if @groups.blank?
    %h3 You have not been invited to be a member of any group yet.
  -else
    %table.table.table-striped.table-bordered.table-condensed
      %tr
        %th Name
        %th Description
        %th Subdomain
        -if current_user.has_role? :group_admin, :any
          %th Actions

      - @groups.each do |group|
        %tr
          %td= group.name
          %td= group.description
          %td= group.subdomain
          -if current_user.has_role? :group_admin, group
            %td
              = link_to 'Manage', group, class: "btn"


  - if current_user.has_role? :group_creator
    = link_to icon_tag('New Group', "icon-plus-sign"), new_group_path, class: "btn"
