.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2
      = "Group Management for #{@group.name}"

.container{:data => {:"pjax-container" => "true", :title => "#{yield :title}"}}
  .row
    = render "sidebar"

    .span10
      .well
        %h4
          Add Members:



      - if @members.blank?
        .small_notice
          There are currently no members associated with this group.
      - else
        %table.table.table-striped
          %tr
            %th Name
            %th Email Address
            %th Sent
            %th Accepted
            %th Actions
          - @members.each do |member|
            %tr
              %td= member.person.full_name
              %td= member.email
              %td
              %td
              - if nil.nil?
                %td= link_to "Re-Invite", "reinvite_invitation_path(invitation)"