
.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2
      = "Group Management for #{@group.name}"

.container{:data => {:"pjax-container" => "true", :title => "#{yield :title}"}}
  .row
    = render "sidebar"

    .span10
      -if @offerings.blank?
        %h3
          You have not created any offerings yet. You must create
          one before you are able to assign it to this group.
      -else
        %table.table.table-striped.table-bordered
          %tr
            %th Offering
            %th.span3 Group
            %th.span3 Actions

          - @offerings.each do |offering|
            = render :partial => "offering_table_row", :locals => {:offering => offering}

