!!! 5
%html
  %head
    <meta charset="utf-8">
    %title
      = content_for?(:title) ? content_for(:title) : "Crowdfunding by Funding Launchpad"

    = javascript_include_tag "https://js.stripe.com/v1/"
    = csrf_meta_tags
    %meta{:name => "stripe-key", :content => STRIPE_PUBLIC_KEY}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    -if content_for? :opengraph_meta_tags
      = yield :opengraph_meta_tags
    -else
      = default_og_tags

    = favicon_link_tag 'favicon.png', :type => 'image/png'
    = favicon_link_tag 'apple_icon.png', :rel => 'apple-touch-icon', :type => 'image/png'
    = stylesheet_link_tag    "application", :media => "all"
    = analytics_init :local => Rails.env.development?
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"

  %body
    .wrapper{class: is_pcp? ? "pcp" : ""}
      .navbar.navbar-inverse.custom
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = logo
            .nav-collapse
              = render "shared/nav"

      =yield :features

      %section
        = yield
      .push{class: is_pcp? ? "pcp" : ""}

    %footer
      .footer-main
        .container
          .row
            .span3.offset2
              %h3 Company
              %ul.unstyled
                %li
                  = link_to "About", about_path
                %li
                  = link_to "Team", about_path + "#tab_team"
                %li
                  = link_to "Press", about_path + "#tab_press"
                %li
                  = link_to "Contact", about_path + "#tab_contact"
            .span3
              %h3 Connect
              %ul.unstyled
                %li
                  =icon_tag link_to("@fundingpad", "https://twitter.com/fundingpad", target: "_blank"), "icon-twitter"
                %li
                  =icon_tag link_to("Blog", "/blog", target: "_blank"), "icon-heart"
                %li
                  =icon_tag mail_to("info@fundinglaunchpad.com", "Email Us!", :encode => "javascript"), "icon-envelope"
            .span3
              %h3 Newsletter
              %ul.unstyled
                %li
                  Get updates on our latest news!
                  = form_tag newsletter_path, :class => 'form-horizontal' do |f|
                    #newsletter.control-group
                      .controls
                        .input-append
                          = text_field_tag :user_email, nil, placeholder: "Enter email address", class: "span3", name: "user[email]"
                          %button.btn{:type => "submit", :id => "newsletter_submit"}>
                            Submit
                        %span.help-inline
                          (We hate spam and won't spam you)

      .footer-floor
        .container
          %ul.unstyled
            %li
              &copy;
              = "#{Time.now.year} by"
              Funding Launchpad
              = "- All rights reserved."
              = link_to static_page_menu("Terms"), terms_path
              = " & "
              = link_to static_page_menu("Privacy"), privacy_path

    = javascript_include_tag "application"
    =render "shared/social_scripts"
    - if !["development", "staging", "test", "demo", "pcp"].include?(Rails.env)
      = render "shared/crazy_egg"
      -if signed_in?
        = render "shared/intercom"

    - if ["production"].include?(Rails.env)
      = render "shared/olark"
      
      
