!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    - if PCP_CONFIG.is_pcp?
      = image_tag "http://%s/assets/%s" % [ActionMailer::Base.default_url_options[:host], PCP_CONFIG.logo_email], style: "width: 90%; max-width:600px;"
    - else
      = image_tag "http://fundinglaunchpad.com/assets/fl-logo-small.png",  style: "width: 90%; max-width:600px;"

    = yield
