
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :remote => request.xhr? ) do |f|
  .row
    .well.span5
      = f.error_notification
      .inputs
        = f.input :email, :required => true
      .actions
        = f.button :submit, "Send me reset password instructions"
      = render "new_links"

-if request.xhr?
  .row
    .span
      = link_to "#{icon_tag('Return to Login', 'icon-arrow-left')}".html_safe, new_user_registration_path, class: "btn", :remote => true
