.hero-alt-top
  .container
    %h2 Change your password
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  .container
    = f.error_notification
    = f.input :reset_password_token, :as => :hidden, :error => false
    
    .well.span3
      = f.full_error :reset_password_token, :class => "alert alert-error"
      
      .inputs
        = f.input :password, :label => "New password", :required => true
        = f.input :password_confirmation, :label => "Confirm your new password", :required => true
      %hr
      .actions
        = f.button :submit, "Change my password"
      = render "links"
