= render "shared/required_modal/confirm_email"

.hero-alt-top
  .container
    %h2 New Answer

= simple_form_for [@offering, @question, @answer], :html => {:class => '' } do |f|
  .container
  
    .row
      .span4
    
        .well.span
          
          = f.input :content, 
            :label => "Your Answer",
            :input_html => {:class => "span4",:cols => "100", :rows => "10"}
          
          =form_actions
