= simple_form_for @bid_increment do |f|
  .well.span9

    = f.input :min_price, label: "Minimum Price", input_html: {class: "span4"}
    = f.input :max_price, label: "Maximum Price", input_html: {class: "span4"}
    = f.input :bid_increment, label: "Increment", input_html: {class: "span4"}
    
    = form_actions
