.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Bid Increments

.container
  -if @bid_increments.nil? or @bid_increments.count == 0
    .small_notice
      There are currently no bid increments defined.
  -else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th Minimum Price
          %th Maximum Price
          %th Bid Increment
          %th.span2 Actions
          

        - @bid_increments.each do |bi|
          %tr{id: "bi_#{bi.id}"}
            %td= number_to_currency(bi.min_price)
            -if bi.max_price.nil?
              %td or greater
            -else
              %td= number_to_currency(bi.max_price)
            %td= number_to_currency(bi.bid_increment)
            %td= default_action_btns bi
          
  %br
    = link_to('Return to Administration', admin_path, class: "btn")
    = link_to('Add a New Bid Increment', new_bid_increment_path, class: "btn btn-primary")
