.hero-alt-top
  .container
    %h2 
      = header

= simple_form_for [@offering, @document], :html => {:multipart => true} do |f|
  .container
    .row
      .well.span4
        =f.input :description, :input_html => {class: "span4", size: "100x2"}, required: false
        =f.input :document, required: false
        =f.input :required, :wrapper => :inline_checkbox

        = form_actions action_label
