.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Offering Documents

.container
  - if @documents.count == 0
    .small_notice
      There are currently no documents associated with this offering.
  - else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th Description
          %th Name
          %th Actions
          %th Required

        - @documents.each do |document|
          %tr{id: "document_#{document.id}"}
            %td.entity_item= document.description
            %td.entity_item= link_to "#{File.basename(document.document_url)}", document.document_url
            %td
              = action_btns @offering, document
            %td
              - if document.required?
                Yes

  %br
    = return_add_btns @offering, 'document'
