%p#notice= notice

%p
  %b Offering:
  = @document.offering_id
%p
  %b Description:
  = @document.description.html_safe
%p
  %b Required:
  = @document.required
%p
  %b FileName:
  = @document.document

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
