
%p
  A question/comment has been submitted from fundinglaunchpad.com. See below for more details

%div
  %b
    Name: 
  = @message.name
%div
  %b 
    Email: 
  = @message.email
%div  
  %b 
    Subject: 
  = @message.subject
%div  
  %b
    Comment: 
  = @message.body
