= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => "signin"}, :remote => true, :format => :json) do |f|
  .well.span.social-logins
    = render "shared/social_logins"
  .span.login-seperator.focus
    %h3 or

  .well.span4.login
    .signin_error
    = f.input :email, required: false, error: false, input_html: {class: 'span4', id: "signin_email"}, label: false, placeholder: "Email"

    = f.input :password, required: false, error: false, input_html: {class: 'span4', id: "signin_password"}, label: false, placeholder: "Password"
    = f.input :remember_me, :wrapper => :inline_checkbox, :input_html => { :checked => true }, :as => :boolean if devise_mapping.rememberable?

    %hr
    .ac.mb
      %button.btn.btn-primary.btn-large.btn-block{:type => "submit"}
        %i.icon-signin
        Log In

    %p.ac
      = render "devise/links"

