= simple_form_for [@offering, @update] do |f|
  = render :partial => "shared/flash", :locals => {:flash => flash}
  = f.hidden_field :offering_id
  = f.input :subject, :input_html => {:class => "span5"}, :required => false
  = f.input :content, :input_html => {:class => "span10 wysi", :size => "60x10"}, :required => false

  - if ['edit', 'update'].include? controller.action_name
    = f.input :edit_summary,
              :input_html => {:class => "span10", :value => ""},
              :placeholder => "briefly explain your changes (corrected spelling, improved formatting, added information)"
  %hr
  .form-actions-custom
    .pull-left
      = f.button :submit, "Preview", :class => "btn btn-success"
    = f.button :submit, "Save", :class => "btn btn-primary"
    = link_to("Cancel", admin_offering_updates_path(@offering), :class => "btn btn-cancel")
