.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2= "Updates for #{@offering.name}"

.container
  - if @updates.count == 0
    %p
      There are currently no updates for this offering.
  - else
    %table.table.table-striped.table-bordered
      %th Subject
      %th Created By
      %th Time Created
      %th Actions

      
      - @updates.each do |update|
        %tr
          %td= update.subject
          %td= "#{update.person.first_name} #{update.person.last_name}"
          %td= update.created_at.strftime("%m/%d/%Y %I:%M:%S %P")
          %td= link_to('Edit', edit_offering_update_path(@offering, update), :class => "btn btn-primary")
        
  = return_add_btns @offering, 'update'
