= content_for(:title) {"#{@offering.name} Updates"}
= render "shared/offering_nav"

.container
  .row
    .span8{:data => {:"pjax-container" => "true", :title => "#{yield :title}"}}

      - if @updates.size == 0
        %h4
          There are currently no updates for this offering.
      - else
        - @updates.each_with_index do |update, index|
          .well
            .update-header
              %h1
                %span.update-num= "Update ##{@updates.count - index}: "
                #{update.subject}
              %h5
                = "Posted #{update.created_at.to_s(:date_at_time)} (#{distance_of_time_in_words_to_now(update.created_at)} ago)"
                - if update.versions.length > 1
                  = link_to "(#{update.versions.length-1} #{'Edit'.pluralize(update.versions.length-1)})",
                    revisions_offering_update_path(@offering, update),
                    class: "#{'pjax-me' unless !user_signed_in?}",
                    :remote => !user_signed_in?

            .update-content
              = update.content.html_safe

    .span4.offering-sidebar
      = render :partial => 'offerings/offering_sidebar'