= content_for(:title) {"Update Edit History"}
.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 
      "#{@update.subject}" Revisions
.container{:data => {:"pjax-container" => true, :title => "#{yield :title}"}}

  .well
    %h3
      %p
        You are viewing the edit history for the "#{@update.subject}" update.
    = link_to "#{icon_tag('Return to Updates', 'icon-arrow-left')}".html_safe, offering_updates_path(@offering), class: "btn btn-large #{request.xhr? ? 'pjax-me' : ''}"
  .html-diff.accordion.accordion-custom
    - @update.versions.reverse.each do |version|
      - person = User.find(version.whodunnit).person
      -if !version.reify.nil?
        %section
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#v-#{version.index}"}
                %h3.version-num
                  %i.icon-caret-down
                  - if version.next.nil?
                    Current
                  -else
                    = "Version #{version.index}"
              .version-edit.pull-right
                .version-edit-date
                  Edited #{version.created_at.to_s(:date_at_time)}
                = image_tag(person.profile_picture_url(:thumb).to_s, size: '30x30')
                .version-edit-person.ib
                  = "#{person.first_name} #{person.last_name}"

            .accordion-body.collapse.in{id: "v-#{version.index}"}
              .accordion-inner
                .well
                  .update-header
                    %h1
                      = version.html_diff(:subject).try(:html_safe) || version.reify.subject

                  .update-content
                    = version.html_diff(:content).try(:html_safe) || version.reify.content

                .accordion-heading.accordion-footer
                  %dl.dl-horizontal
                    %dt
                      = "#{I18n.t :edit_summary, :scope => [:simple_form, :labels, :update]}:"
                    %dd
                      =version.changeset[:edit_summary].try(:last) || @update.edit_summary

      - else
        %section
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#v-#{version.index}"}
                %h3.version-num
                  %i.icon-caret-down
                  = "Original"
              .version-edit.pull-right
                .version-edit-date
                  Created #{version.created_at.to_s(:date_at_time)}
                = image_tag(person.profile_picture_url(:thumb).to_s, size: '30x30')
                .version-edit-person.ib
                  = "#{person.first_name} #{person.last_name}"

            .accordion-body.collapse.in{id: "v-#{version.index}"}
              .accordion-inner
                .well
                  .update-header
                    %h1
                      = version.next.reify.subject

                  .update-content
                    = version.next.reify.content.html_safe

                .accordion-heading.accordion-footer
                  %dl.dl-horizontal
                    %dt
                      &nbsp;
                    %dd



