.hero-alt-top
  .container
    %h2 Update Preview

.container
  .row
    %b Note: 
    %i this is just a preview. Your update is not yet saved and available to investors. If this preview looks good, please 
    = link_to_function "go back and save it.", "history.back()"
    %br
    %hr
    .well
      .update-header
        %h1
          %span.update-num= "Update: "
          #{@update.subject}
        %h5
          = "Posted just now"
      
      .update-content
        = raw @update.content
    %br
    %br
    = button_to_function "Go back", "history.back()", {class: 'btn btn-primary'}

