
= simple_form_for [@offering, @team_member], :html => {:multipart => true, :class => "form-horizontal"} do |f|
    
  .row
    .well.span
      = f.input :name
      = f.input :title
      = f.input :picture, wrapper: :file_input
      = f.input :bio, input_html: {size: "200x5", class: 'span7 wysi'}
      
      = form_actions
