.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2
      = "Management Team for #{@offering.name}"

.container
  -if @offering.team_members.nil? or @offering.team_members.count == 0
    .small_notice
      There are currently no management team members associated with this offering.
  -else
    .entity_list
      %ul.team_members{:data => {:update_url => offering_team_members_path(@offering)}}
        - @offering.team_members.each do |team_member|
          %li(id="team_member_#{team_member.id}")= "<div class='left'><i class='icon-reorder handle'></i>".html_safe << image_tag(team_member.picture_url(:thumb)) << "&nbsp;#{team_member.name}</div><div class='right'>#{action_btns(@offering, team_member)}</div><div class='clear'></div>".html_safe

  %br
    = return_add_btns @offering, 'team_member'
