%h2 A new question has been posted regarding your offering:
%p
  = "'#{@question.content}'"
%hr
%p
  You can respond to the question on your offering's Q &amp; A page after you have signed in: 
  = @url
%p
  = render 'shared/email_signature'
