

.modal.hide.accredited{:id => "#{(accredited ||= false) ? 'accredited-modal' : 'required_modal'}"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Investor Requirement
  .modal-body
    %p
      In order to invest in this offering, you must be an accredited investor
      = accredited_popover
    %p By clicking the "I am accredited" button below, you certify that you are an accredited investor.
    %br
  .modal-footer
    %a.btn{:href => offering_path(@offering), "data-ga" => "required_warning_back"} I am not accredited
    %a.btn.btn-primary{:href => accredited_user_path} I am accredited


