- if @show_not_confirmed_message
  #required_modal.modal.hide.confirm-email
    .modal-header
      %a.close{"data-dismiss" => "modal"} x
      %h3 Email Confirmation
    .modal-body
      = render "shared/required_modal/confirm_email_body"
      %br
    .modal-footer
      %a.btn{:href => offering_path(@offering), "data-ga" => "required_warning_back"} Back to Offering
      %a.btn.btn-primary{:href => "#"} I just confirmed my email