=render :partial => "shared/flash", :locals => {:flash => flash, :no_hide => true}
%p
  It looks like you haven't confirmed your email address yet. No problem,
  all you have to do is click the link in the email we sent to #{current_user.email}.
%p
  = simple_form_for(current_user, :url => confirmation_path(current_user), :html => { :method => :post }, :remote => true) do |f|
    = f.hidden_field :email, value: current_user.email
    = f.hidden_field :current_user_resend, value: true
    = f.submit "I didn't receive a confirmation email", class: "btn"
%br