<div class="row">
  <div class="span5">
    <img class="pull-left" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=32" style="padding-right: 5px;">
    <div>
      <%= link_to comment.author.name, comment.author %>
      <span><%= comment.content %></span>
    </div>
    <div>
      <small>
        <abbr class="timeago" title="<%= comment.created_at.utc.iso8601 %>"><%= comment.created_at.strftime('%B %e, %Y at %H:%m:%S%p') %></abbr>
      </small>
      <span> · </span>
    <% if comment.is_liked_by(current_user) %>
      <%= form_tag '/likes', :method => :delete, :class => 'like-button' do %>
        <%= hidden_field_tag :comment_id, comment.id %>
        <%= submit_tag 'Unlike' %>
      <% end %>
    <% else %>
      <%= form_tag '/likes', :class => 'like-button' do %>
        <%= hidden_field_tag :comment_id, comment.id %>
        <%= submit_tag 'Like' %>
      <% end %>
    <% end %>
      <% if comment.likes.count > 0 %>
      <span> · </span>
      <small><%= comment.likes.count %></small>
      <% end %>
    </div>
  </div>
</div>
