<div class="row">
  <div class="span6 offset3">
    <p id="notice"><%= flash[:notice] %></p>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h2 class="new_user_heading">Sign Up</h2>
    <%= f.text_field :first_name, :class => 'span3', :placeholder => 'First Name' %>
    <%= f.text_field :last_name, :class => 'span3', :placeholder => 'Last Name' %>
    <%= f.text_field :email, :class => 'input-block-level', :placeholder => 'Email' %>
    <%= f.password_field :password, :class => 'input-block-level', :placeholder => 'Password' %>
    <div class="new_user_birthday_label">Birthday:</div>
    <%= f.date_select :birthday, {:order => [:month, :day, :year], :start_year => 1900, :end_year => Time.new.year}, {:class => 'span2'} %>
    <%= f.submit 'Sign Up', :class => 'btn btn-large btn-success' %>
<% end %>
  </div>
</div>
