<% if users.count == 1 %>
<p><%= link_to users.first.name, users.first %> likes this.</p>
<% end %>
<% if users.count == 2 %>
<p><%= link_to users.first.name, users.first %> and <%= link_to users[1].name, users[1] %> like this.</p>
<% end %>
<% if users.count > 2 %>
<p>
<% lastIndex = users.count - 1 %>
<% users.each_with_index do |user, i| %>
<% isLast = i == lastIndex %>
<% if isLast %>and <% end %><%= link_to user.name, user %><% if not isLast %>, <% end %>
<% end %> like this.
</p>
<% end %>
