<div class="row">
  <div class="span1">
    <img class="pull-right" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50">
  </div>
  <div class="span5">
    <%= link_to status.author.name, status.author %>
    <p><%= status.content %></p>
  <% if status.is_liked_by(current_user) %>
    <%= form_tag '/likes', :method => :delete, :class => 'like-button' do %>
      <%= hidden_field_tag :status_id, status.id %>
      <%= submit_tag 'Unlike' %>
    <% end %>
  <% else %>
    <%= form_tag '/likes', :class => 'like-button' do %>
      <%= hidden_field_tag :status_id, status.id %>
      <%= submit_tag 'Like' %>
    <% end %>
  <% end %>
    <span> · </span>
    <a href="#" class="comment-link"><small>Comment</small></a>
    <span> · </span>
    <a href="#"><small>Share</small></a>
    <span> · </span>
    <small>
      <abbr class="timeago" title="<%= status.created_at.utc.iso8601 %>"><%= status.created_at.strftime('%B %e, %Y at %H:%m:%S%p') %></abbr>
    </small>
    <small><%= render "likes", :users => status.likes %></small>
  <% status.comments.each do |c| %>
    <%= render "comment", :comment => c %>
  <% end %>
    <div class="row">
      <%= form_tag '/comments', :class => 'form-horizontal' do %>
        <%= hidden_field_tag :status_id, status.id %>
        <div class="span5">
          <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=32">
          <%= text_field_tag :content, '', :placeholder => 'Write a comment...', :autocomplete => 'off' %>
          <%= submit_tag 'Submit', :class => 'btn btn-mini' %>
        </div>
      <% end %>
    </div>
    <hr />
  </div>
</div>
