<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span4">
      <h4>Basic Information</h4>
      <div class="control-group">
        <%= f.label :first_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :last_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :birthday, :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :birthday, {:order => [:month, :day, :year], :start_year => 1900, :end_year => Time.new.year}, {:class => 'span1'} %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :hometown, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :hometown %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :gender, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :gender, ['Female', 'Male'] %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :relationship_status, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :gender, ['Single', 'Married', 'Divorced'] %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :college, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :college %>
        </div>
      </div>
    </div>
    <div class="span4">
      <h4>Contact Information</h4>
      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :phone_number, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :phone_number %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :address, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :address %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :website, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :website %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :skype_username, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :skype_username %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Your Url</label>
        <div class="controls">
          <input class="input-xlarge" disabled value="http://vimjourney.com/<%= current_user.url %>" />
          <a href="/account"><small>Edit</small></a>
        </div>
      </div>
    </div>
    <div class="span4">
      <h4>Company Information</h4>
      <div class="control-group">
        <%= f.label :company_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :company_name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :company_address, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :company_address %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :company_website, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :company_website %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :company_industry, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :company_industry %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :company_phone_number, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :company_phone_number %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h4>Getting to know you</h4>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <p>EZOG Scores <small>(<a href="#">what is this?</a>)</small></p>
      <div class="control-group">
        <%= f.label :visionary_score, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :visionary_score %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :architect_score, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :architect_score %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :builder_score, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :builder_score %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :cultivator_score, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :cultivator_score %>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="control-group">
        <%= f.label :stage_of_entrepreneurship, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :stage_of_entrepreneurship, ['Entrepreneurial', 'Aspiring', 'Startup', 'Growth', 'Mature'] %>
          <small>(<a href="#">what is this?</a>)</small>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :favorite_quotation, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :favorite_quotation %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :entrepreneurial_super_power, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :entrepreneurial_super_power %>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="row">
    <div class="span12">
      <h4>Work History</h4>
    </div>
  </div>
-->
  <%= f.submit 'Update Profile', :class => 'btn btn-primary' %>
<% end %>
