<div class="row">
  <div class="span6 offset3">
    <h4>Do you want to read about The Waypoints now?</h4>
    <%= form_for @user do |f| %>
      <%= hidden_field_tag 'redirect_to', 'http://www.vimjourney.com/tej' %>
      <%= f.hidden_field 'step_number', :value => '3' %>
      <%= f.hidden_field 'wants_to_read_waypoints', :value => Answer::YES %>
      <%= f.submit 'Yes', :class => 'btn btn-large' %>
    <% end %>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '7' %>
      <%= f.hidden_field 'wants_to_read_waypoints', :value => Answer::NO %>
      <%= f.submit 'No', :class => 'btn btn-large' %>
    <% end %>
  </div>
</div>
