<div class="row">
  <div class="span6 offset3">
    <h4>Are you familiar with The Waypoints?</h4>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '4' %>
      <%= f.hidden_field 'is_familiar_with_waypoints', :value => Answer::YES %>
      <%= f.submit 'Yes', :class => 'btn btn-large' %>
    <% end %>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '6' %>
      <%= f.hidden_field 'is_familiar_with_waypoints', :value => Answer::NO %>
      <%= f.submit 'No', :class => 'btn btn-large' %>
    <% end %>
  </div>
</div>
