<div class="row">
  <div class="span6 offset3">
    <h4>Have you read The Entrepreneur's Journey?</h4>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '3' %>
      <%= f.hidden_field 'has_read_entrepreneurs_journey', :value => Answer::YES %>
      <%= f.submit 'Yes', :class => 'btn btn-large' %>
    <% end %>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '5' %>
      <%= f.hidden_field 'has_read_entrepreneurs_journey', :value => Answer::NO %>
      <%= f.submit 'No', :class => 'btn btn-large' %>
    <% end %>
  </div>
</div>
