<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span6 offset3">
  <%= form_for @user, :html => { :multipart => true } do |f| %>
    <%= f.hidden_field 'step_number', :value => '2' %>
    <legend>Please Introduce Yourself</legend>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="control-group">
      <%= f.label :picture, 'Your Picture', :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :picture, :accept => 'image/jpeg,image/gif,image/png' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :bio, 'Your Bio', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :bio, :cols => 80, :rows => 10, :class => 'input-block-level' %>
      </div>
    </div>
    <%= f.submit 'Continue', :class => 'btn btn-large pull-right' %>
  <% end %>
  </div>
</div>
