<div class="row">
  <div class="span6 offset3">
    <h4>Have you taken the EZOG assessment?</h4>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '8' %>
      <%= f.hidden_field 'has_taken_ezog', :value => Answer::YES %>
      <%= f.submit 'Yes', :class => 'btn btn-large' %>
    <% end %>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '9' %>
      <%= f.hidden_field 'has_taken_ezog', :value => Answer::NO %>
      <%= f.submit 'No', :class => 'btn btn-large' %>
    <% end %>
  </div>
</div>
