<div class="row">
  <div class="span6 offset3">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
    <h4>Who do you want to invite as your fellow entrepreneur?</h4>
    <%= form_tag invite_fellow_url, :class => 'form-inline' do %>
      <%= text_field_tag :email, '', :placeholder => 'Email', :class => 'input-xlarge' %>
      <%= submit_tag 'Invite', :class => 'btn' %>
    <% end %>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '11' %>
      <%= f.submit 'Continue', :class => 'btn btn-large' %>
    <% end %>
  </div>
</div>
