<div class="row">
  <div class="span6 offset3">
    <h4>What Waypoint are you currently on?</h4>
    <%= form_for @user do |f| %>
      <%= f.hidden_field 'step_number', :value => '7' %>
      <div class="control-group">
        <%= f.label :waypoint, 'Waypoint', :class => "control-label" %>
        <div class="controls">
          <%= f.select(:waypoint, options_for_select([
            'The Pain', 'The Vision', 'The Call', 'The Denial',
            'The Mentor', 'The Dump', 'The Commitment', 'The Trials',
            'The Crisis', 'The Lesson', 'The Purpose', 'The Gift',
            'The Message', 'The Sharing', 'The New Life', 'The Freedom'
          ])) %>
        </div>
      </div>
      <%= f.submit 'Continue', :class => 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>
