<div class="row">
  <div class="span2">
    <div class="row">
      <div class="span2">
        <img class="pull-left" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50">
        <%= link_to @user.name, @user %>
        <br />
        <small><%= link_to 'Edit Profile', edit_user_path(@user) %></small>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span><%= @user.waypoint %></span>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span><%= @user.bio %></span>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#">Messages</a>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#">Events</a>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span>Companies</span>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <span>Groups</span>
      </div>
    </div>
  </div>
<% if notice %>
  <p class="span6 offset1" id="notice"><%= notice %></p>
<% end %>
  <div class="span6 offset1">
    <div class="row">
      <%= form_tag '/statuses', :class => 'span6', :id => 'updateJourney' do %>
        <%= label_tag :content, 'Update Journey' %>
        <%= text_area_tag :content, nil, :class => 'input-block-level', :rows => 2 %>
        <%= submit_tag 'Update Journey', :class => 'btn btn-mini pull-right' %>
      <% end %>
    </div>
  <% @user.wall_statuses.each do |s| %>
    <%= render "status", :status => s %>
  <% end %>
  </div>
  <div class="span2 offset1">
  <% @user.unapproved_fellows.each do |user| %>
    <div class="row">
      <%= link_to user.name, user, :class => 'span2' %>
    </div>
    <div class="row">
    <%= form_tag '/fellows/approve', :class => 'span1' do %>
      <%= hidden_field_tag :user_id, user.id %>
      <%= submit_tag 'Approve', :class => 'btn btn-mini' %>
    <% end %>
    <%= form_tag '/fellows/ignore', :class => 'span1' do %>
      <%= hidden_field_tag :user_id, user.id %>
      <%= submit_tag 'Ignore', :class => 'btn btn-mini' %>
    <% end %>
    </div>
  <% end %>

  <% @user.suggested_fellows.each do |user| %>
    <div class="row">
      <%= link_to user.name, user, :class => 'span2' %>
    </div>
    <div class="row">
      <%= form_tag '/fellows/invite', :class => 'span2' do %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= submit_tag 'Invite', :class => 'btn btn-mini' %>
      <% end %>
    </div>
  <% end %>

  <% @user.approved_fellows.each do |user| %>
    <div class="row">
      <%= link_to user.name, user, :class => 'span2' %>
    </div>
    <div class="row">
      <%= form_tag '/fellows/remove', :class => 'span2' do %>
        <%= hidden_field_tag :user_id, user.id %>
        <%= submit_tag 'Remove', :class => 'btn btn-mini' %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
