=content_for :title, "Contact Us | Funding Launchpad"
.hero-alt-top
  .container
    %h2 Provide us your details!

.container
  .span6.well
    = simple_form_for @contact do |f|
      =render :partial => "shared/flash", :locals => {:flash => flash}

      =f.input :name,             input_html: {class: "span5"}, placeholder: "John Doe"
      =f.input :email,            input_html: {class: "span5"}, placeholder: "jdoe@example.com"
      =f.input :phone,            input_html: {class: "span5"}, required: false, placeholder: "(555) 555-5555"
      =f.input :business_state,   input_html: {class: "span5"}, collection: Contact::BUSINESS_STATES
      =f.input :industry,         input_html: {class: "span5"}, collection: Contact::INDUSTRIES, required: true
      =f.input :industry_input,   input_html: {class: "span5"}, wrapper_html: {class: "industry-input hide"}
      =f.input :referral,         input_html: {class: "span5"}, collection: Contact::REFERRERS
      =f.input :description,      input_html: {class: "span5"}, placeholder: "Tell us about your business in approximately 50 words"
      =f.input :twitter_username, input_html: {class: "span5"}, wrapper: :prepend do
        %span.add-on> @
        = f.input_field :twitter_username, placeholder: "fundingpad"

      =f.input :facebook_url,     input_html: {class: "span5"}, placeholder: "https://www.facebook.com/fundinglaunchpad"
      =f.input :raise_amount,     input_html: {class: "span5"}, wrapper: :prepend do
        %span.add-on> $
        = f.input_field :raise_amount, placeholder: "250000"

      =f.input :investor_ready,   wrapper: :inline_checkbox
      =f.input :newsletter,       wrapper: :inline_checkbox, input_html: { class: 'span', checked: true }, as: :boolean

      %hr
      .form-actions-custom
        %button.btn.btn-primary{:type => "submit", :id => "contact-submit"}
          Send
  .span4
    %h4
      %p
        Funding Launchpad is America's only full-service crowdfunding platform for franchises and small businesses. 
      %p
        Please tell us about your business and one of our crowdfunding experts will contact you via email to continue the discussion.
    %h5
      %p
        We respect your privacy and will never disclose any information provided to Funding Launchpad without your permission, unless required to do so.
      %p
        If you have any questions 
        %a{:title=>"Contact Us", :href=>"https://fundinglaunchpad.com/about#tab_contact" }let us know!
