= simple_form_for [@offering, @event], :html => {:multipart => true} do |f|
  .well.span9

    = f.input :title, input_html: {class: "span4"}
    = f.input :description, input_html: {class: "span9 wysi resizable", size: "50x8"}

    .row
      .span
        =f.input :formatted_date_string, :wrapper => :prepend do
          %span.add-on>
            %i.icon-calendar
          =f.input_field :formatted_date_string,  as: 'string', class: "span3 datepicker-me", placeholder: "mm/dd/yyyy"


      .span
        =f.input :time_string, :wrapper => :prepend do
          %span.add-on>
            %i.icon-time
          =f.input_field :time_string,  :as => 'string',  :class => "span2 timepicker-me"
      .span
        =f.input :end_time_string, required: false, :wrapper => :prepend do
          %span.add-on>
            %i.icon-time
          =f.input_field :end_time_string,  :as => 'string',  :class => "span2 timepicker-me"

    = form_actions
