#event-modal.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3
      = @event.title
  .modal-body
    %dl
      %dt
        Date
      %dd
        = @event.start_date.to_s(:date_only)
      %dt
        Time
      %dd
        = dates_to_human(@event.start_date, @event.end_date)
      %dt
        Description
      %dd
        = @event.description.html_safe
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close