.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Upcoming Events for #{@offering.name}

.container
  -if @events.nil? or @events.count == 0
    .small_notice
      There are currently no events associated with this offering.
  -else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th Date
          %th Time
          %th Title
          %th Description
          %th.span2 Actions
          

        - @events.each do |event|
          %tr{id: "event_#{event.id}"}
            %td= event.start_date.to_s(:date_only)
            %td= dates_to_human(event.start_date, event.end_date)
            %td= event.title
            %td= event.description.html_safe
            %td
              = action_btns @offering, event
          
  %br
    = return_add_btns @offering, 'event'