.hero-alt-top
  .container
    %h2 All Offerings
.container
  - if @offerings.nil? or @offerings.count == 0
    .small_notice
      There are currently no offerings requiring review.
  - else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th Name
          %th Company
          %th Status
          %th Type
          %th Investments
          %th Group
          %th Links
          %th Alerts
        - @offerings.each do |offering|
          %tr
            %td= offering.name
            %td= offering.company.name unless offering.company.nil?
            %td= offering.offering_status
            %td= offering.debt ? "Debt" : "Equity"
            %td= number_to_currency(offering.invested)
            %td.nowrap
              - if offering.group.present?
                = link_to icon_tag("#{offering.group.name}", "icon-wrench"), offering.group, class: "btn btn-mini"
            %td.nowrap
              = link_to "View", offering_path(offering), class: "btn btn-mini"
              = link_to "Edit", admin_offering_path(offering), class: "btn btn-mini"
            %td
              - if offering.development_completed? && !offering.approved_for_launch?
                = link_to "Waiting for Approval", review_path(offering), class: "label label-important"

  = link_to "Back to Administration", admin_path, :class => "btn"
  