.hero-alt-top
  .container
    %h2= "Reviewing Offering (#{@offering.name})"

.container
  %p
    All sections of offering here to review along with weighting to indicate what is done
    and what isn't.
  .offering_commands
    %table
      %tr
        %td= link_to "Return To Offering List", reviews_path, class: "btn"
        %td= link_to "Approve This Offering", approve_offering_path(@offering), class: "btn btn-primary"

