%section
  %h3
    Crowdfunding

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-bigdeal"}
        Kickstarter and other websites have been crowdfunding for years -- what's the big deal?
    #q-bigdeal.accordion-body.collapse
      .accordion-inner
        %p
          Donations-based or perks-based crowdfunding has indeed been around for awhile, and has recently exploded in popularity.
          In this type of crowdfunding, a company (or an artist, or whoever it might be) seeks funding from the crowd, as either a
          purely philanthropic gesture, or in exchange for some sort of perk -- e.g. a signed copy of the album or independent film
          that the donation funded, or an invitation to the grand opening of the local coffee shop that received the donation.  But,
          importantly, those who donate to these offerings have <u>no possibility of getting their money back or of realizing a financial
          return</u>.  They do not receive a financial or ownership stake in the project they funded -- they made a donation, not an investment.
        %p
          Funding Launchpad is different because we allow companies to raise funds from the crowd, and individuals to participate in crowdfunding
          offerings, <u>as an investment</u>; i.e., companies can sell and investors can purchase shares of stock (or debt instruments) in the company
          that is seeking funds.  Companies get the money they need to grow their business, and investors get something more than just a warm and
          fuzzy feeling - they get the possibility of getting their money back or even profiting from their investment.  That's what makes Funding
          Launchpad different than Kickstarter and some of the other websites you may have heard of.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-illegal"}
        I thought investment crowdfunding for equity or debt is still illegal?
    #q-illegal.accordion-body.collapse
      .accordion-inner
        %p
          In general, it is.  There are severe restrictions both on "general solicitation" (i.e. advertising) of securities, and on companies taking on
          investors who are not "accredited investors" (i.e., people with a sufficiently high income or net worth).  The JOBS Act is slated to change
          this, but it is important to note that <u>the crowdfunding provisions of the JOBS Act are not yet effective, and companies may not legally crowdfund
          under the JOBS Act yet</u> -- please see
          =link_to "[How does this fit into the JOBS Act?]", "#q-jobsfit", id: "faq_jobsfit"
        %p
          However, a key aspect of SCOR offerings is that, once properly registered with the relevant state securities commissions, an issuer (i.e. the
          company selling stock) may generally advertise the offering, and may sell to an unlimited number of non-accredited investors who are resident in the
          states in which the offering is effective.   This effectively means that an issuer can crowdfund its SCOR offering!  Although the SCOR mechanism pre-dates
          the Internet, it happens to work very nicely for crowdfunding (and believe us, we have discussed this extensively with our securities lawyer, a former
          Colorado Securities Commissioner).

%section
  %h3
    Crowdfunding through SCOR

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-scor"}
        What is a SCOR Offering?
    #q-scor.accordion-body.collapse
      .accordion-inner
        %p
          The Small Company Offering Registration (SCOR) is a state level securities registration procedure that has been in effect
          in certain states since 1989.  Since that time, it has been adopted by nearly every state. Companies may "register" their
          sale of securities (i.e. stocks, debt instruments, etc.) with the securities regulators of one or more states by filling
          out the necessary documentation and providing it to the regulators for review.  Once approved by the regulators, the
          securities offering is officially "registered" in such state(s), and those securities may be sold to residents of such
          state(s).   Registered SCOR offerings are generally exempt from registration at the U.S. federal level.


  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-jobsfit", :id => "jobsfit_accordion"}
        How does this fit into the JOBS Act?
    #q-jobsfit.accordion-body.collapse
      .accordion-inner
        %p
          The JOBS Act was signed into law by President Obama in April 2012.  It contains a crowdfunding provision that, once effective, will legalize investment
          crowdfunding for equity and debt on a national level.  The details of the legislation are complicated, but the basic idea is that the restrictions on general
          solicitation and on selling to non-accredited investors will be eased for crowdfunding purposes.  Lots of people, ourselves included, are very excited about this new law.

        %p
          Unfortunately, the JOBS Act cannot be used yet.  Congress gave the SEC 270 days for "rulemaking", i.e. fleshing out the details of the law -- a deadline which the
          SEC may or may not meet.  Moreoever, once the rules have been written, crowdfunding intermediaries will need to apply both to register as a "funding portal" with the
          SEC and to become a member of FINRA, before they can host a crowdfunding offering.  We believe the net effect of all these delays is that there will be no crowdfunding
          under the JOBS Act until, at earliest, the second quarter of 2013.  But not to worry, because Investment Crowdfunding has been legal all along, and continues to be
          legal today, via the SCOR procedure. There's no need to wait until 2013 to raise the funds you need!

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-difficult"}
        Is Registering an Offering Difficult?
    #q-difficult.accordion-body.collapse
      .accordion-inner
        %p
          Unlike a lot of our would-be competitors who are waiting to rush into the space, we are not going to tell you that crowdfunding is easy.  The documentation
          needed to register a SCOR offering is long and detailed - which makes sense, because investors need details in order to evaluate the merits of a stock offering.
          But then again, raising money from investors is never easy.  In fact, it is looking increasingly likely that the documentation that will be required from companies
          to crowdfund under the JOBS Act will be very similar to that required to register a SCOR offering.
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-wait"}
        Wouldn't it be easier to just wait for the national crowdfunding exemption to take effect?
    #q-wait.accordion-body.collapse
      .accordion-inner
        %p
          While we can't predict the future, or SEC rule writing, probably not.  A lot of advocates for investment crowdfunding probably expected a crowdfunding
          offering for equity or debt under the new exemption to look like the donation-based crowdfunding offerings that are popular today.  They expected to be
          able to create an offering page with marketing materials, videos, and a few paragraphs (or at most, a few pages) worth of documentation describing the
          offering.  But that's likely not the way investment crowdfunding will work.
        %p
          Congress created extensive requirements and limitations in order to crowdfund under the JOBS Act, and then instructed the SEC to write even more.
          Investor education, extensive disclosure documents, financial statements that have been audited or reviewed by a CPA, limitations on investments
          per investor based upon such investor's unique financial situation -- investment crowdfunding under the JOBS Act is not a simple process.  The simple
          fact is that crowdfunding issuers who sell debt or equity in their company are selling securities; and this country has always (or at least for the
          last 80 years has) taken a conservative approach to securities regulation.  Investor protection is paramount, and the general presumption is that the
          more information is required to be provided to investors by issuers of securities, the more equipped investors will be to make an informed investment
          decision.  Thus, the simple fact is that whether crowdfunding under SCOR or under the JOBS Act (again, not until 2013), an issuer is going to have
          extensive disclosure and documentation requirements.  Neither is going to be "easy".  Investment crowdfunding is simply going to be more cumbersome,
          and more work, than donation or perks-based crowdfunding -- whether on Fundinglaunchpad.com or elsewhere, and whether in 2012 under SCOR or 2013
          under the JOBS Act.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-whatstates"}
        What states can I register my SCOR offering in?
    #q-whatstates.accordion-body.collapse
      .accordion-inner
        %p
          Most states have adopted the SCOR offering procedure, and others will allow securities to be sold in their state if registered in another
          state.  That said, some states have limited the availability of SCOR offerings.  Although we cannot give legal advice, issuers may
          = link_to "contact us", about_path + "#tab_contact"
          if you have questions about whether SCOR is available in the states you are targeting.  Talking to us is no
          substitute for consulting with your securities lawyer, but we can try to get you pointed in the right direction.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-morestates"}
        Is it difficult to register a SCOR offering in more than one state? 
    #q-morestates.accordion-body.collapse
      .accordion-inner
        %p
          Generally speaking, the states have a "coordinated review" process, so that you would file your SCOR forms in one state only, and then
          your "lead" state will coordinate review by the other states.  This does not mean that the other states will not evaluate your offering -
          they will, and they may have comments, demand changes or clarifications, etc - but there is some level of deference to your lead state.
          Thus, the process of registering an offering in multiple states is somewhat streamlined - it adds a little bit to your time and efforts,
          but not a tremendous amount.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-scorcost"}
        How much does it cost to register a SCOR offering?
    #q-scorcost.accordion-body.collapse
      .accordion-inner
        %p
          Each state has a different filing fee for registering a SCOR offering - these can range from $100 to $1500 or more.  Again, there is
          no substitute for consulting your own securities lawyer, but if you
          = link_to "contact us", about_path + "#tab_contact"
          we'll try to get you pointed in the right direction.  If you're focused primarily on Colorado and the Mountain West area, you might find
          = link_to "this site", "http://www.dfi.wa.gov/sd/scorwestfr.htm"
          to be a helpful starting point.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-minimum"}
        Do I have to set a minimum offering amount?
    #q-minimum.accordion-body.collapse
      .accordion-inner
        %p
          Generally, yes.  In theory, some states will register a SCOR offering with no minimum.  But as a general rule, the state securities
          commissions want to see a minimum and maximum set up for SCOR offerings, with a third party escrow of funds until such time as the
          minimum is hit (and a return of investments if the minimum is not reached).  Accordingly, this is a general requirement for offerings
          on our site.  If you can successfully convince your state's regulators to approve a SCOR offering without a minimum, then contact us
          and we'll have a conversation about posting your offering.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-financials"}
        What sort of financial statements are required?
    #q-financials.accordion-body.collapse
      .accordion-inner
        %p
          A SCOR application requires submission of, at a minimum, financial statements that have been reviewed by a certified public
          accountant - in some circumstances, fully audited financial statements are required.  Interim financial statements may be unaudited.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#q-commonstock"}
        Do I have to sell common stock in a SCOR offering?
    #q-commonstock.accordion-body.collapse
      .accordion-inner
        %p
          Many states require issuers under SCOR to be either a corporation or centrally managed limited liability company.   Issuers must set an
          offering price for common stock or common ownership interests that is equal to or greater than U.S. $1.00 per share or unit of interest;
          some states require this to be as high as $5.00 per share. Alternate forms of interests (i.e. preferred stock, debt instruments, etc.)
          are generally permissible, though they necessitate additional disclosure in your SCOR form and may incur additional scrutiny from the
          regulators reviewing your offering.
%section
  %h3
    Making Investments
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#invest1"}
        I'm thinking of investing, but how do I know whether offers are legitimate?
    #invest1.accordion-body.collapse
      .accordion-inner
        %p
          Every offering on FundingLaunchpad.com has been registered with the securities commission of at least one U.S. state.  Of
          course, that doesn't guarantee the legitimacy of the offers - and so neither can we.  However, you can at least take comfort
          in knowing that the offer has been fully evaluated, reviewed and approved by the securities regulators from at least one
          state - not bad, we think.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#income-limit"}
        Is there an income or wealth requirement to invest in a SCOR offering?
    #income-limit.accordion-body.collapse
      .accordion-inner
        %p
          There is no income or wealth requirement; both accredited and non-accredited investors can invest in a SCOR offering, as long as
          the offering is registered in your state of #{link_to "residence", "#", :class => "residence", :title => "Residence Definition"}.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#invest-how"}
        How do I invest?
    #invest-how.accordion-body.collapse
      .accordion-inner
        %p
          Once you have identified a suitable investment opportunity, here are the typical steps in completing your investment (actual steps may vary slightly by offering):

          %ul
            %li
              Click "Ready to Invest" and submit your desired investment amount
            %li
              You will receive an email containing a link to a subscription agreement that can be signed
              electronically online.  Click the link and follow the instructions to fill out and sign your subscription agreement.
            %li
              You will receive another email once the company has signed your subscription agreement. Once confirmed, follow
              the email instructions for mailing or wiring funds.
            %li
              That's it! If and when the company reaches its minimum raise threshold, you'll be an investor!

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#invest-minraise"}
        What happens if I invest in a company and they do not meet their minimum raise threshold?
    #invest-minraise.accordion-body.collapse
      .accordion-inner
        %p
          Until a company meets their minimum investment threshold, money is generally held in an escrow account or similar
          segregated account. If a campaign closes without meeting the minimum, your money will be returned to you by the
          escrow agent or account representative.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#invest-good"}
        How do I know if this is a good investment?
    #invest-good.accordion-body.collapse
      .accordion-inner
        %p
          Investing in private companies, especially early stage companies, is risky.  Some companies using our platform may
          succeed; many are likely to fail.  Therefore, there is no substitute for doing your own thorough due diligence.
          Closely review all materials on the issuer's offering page. <u>You should read the Form U-7 prospectus especially
          closely, as this document describes the complete terms of the offering, as well as the risks associated with the offering.</u>
          In addition, we have built a robust toolset to help you leverage the "wisdom of the crowd", and to allow you to ask
          questions of the issuer.  We encourage you to take advantage of these tools.  But ultimately, the responsibility lies with
          you - its your hard-earned money that you are investing, so do your homework first!

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#invest-allowed"}
        Why am I allowed to invest in some offerings but not others?
    #invest-allowed.accordion-body.collapse
      .accordion-inner
        %p
          Presently, our platform can only accommodate offerings that have been registered with (i.e. submitted to and approved by) the
          securities commission of one or more states.  Offerings on our platform may only be sold to persons who are
          #{link_to "residents", "#", :class => "residence", :title => "Residence Definition"} of a state where such offering is
          registered (as well as non-U.S. persons).  Once the JOBS Act has been fully implemented and we are operating under the
          new crowdfunding law, each offering should generally be available to residents of any state. But for now, we can't let you
          invest unless the offering is registered in your state of #{link_to "residence", "#", :class => "residence", :title => "Residence Definition"}.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#invest-limit"}
        Is there a limit as to how much I can invest?
    #invest-limit.accordion-body.collapse
      .accordion-inner
        %p
          In general, there is no legal limitation on how much you can invest in an offering. That said, these are risky investments, and
          even successful investments may take a long time to pay off. We therefore recommend that you not invest more than you are able
          to do without for the foreseeable future. Also, note that in some cases, the company may limit the maximum amount that any one
          individual can invest.

  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#invest-return"}
        When will I get my money back?  And how?
    #invest-return.accordion-body.collapse
      .accordion-inner
        %p
          Quite simply, it depends. You should pay close attention to the terms of the security you are purchasing, as well as the company's
          prospectus, and consult with a lawyer as needed.  Some securities may give investors special rights to distributions (i.e. payments);
          others will not.  A company that is doing very well may give money back to its investors quickly (but alternatively it may decide to
          reinvest its profits into the company).  Your company may ultimately be acquired or "go public" - but that could take years, and for
          most companies, it will probably never happen at all.  Generally, securities purchased in a SCOR offering are freely tradeable
          (i.e. you can resell them to others); but because there is no public market for the securities, you may have difficulty in locating
          a buyer. And of course, if the company you invest in does not succeed, you may never get your money back, and your investment may end
          up being worth nothing at all.  That's why we recommend that you approach crowdfunding conservatively, and only invest an amount that
          you are able to live without for an extended period of time.


=render "shared/resident"



