=content_for :features do
  -if !signed_in?
    .hero.ac
      .container
        =render :partial => "shared/flash", :locals => {:flash => flash}
        .row.tagline
          .span5.text-copy
            %h1
              Crowdfund Your Store or Restaurant
            %h3
              Raise money to launch or grow your Main Street business today through the power of crowdfunding.
            .invite-call-to-action.business
            %a.btn.btn-primary.btn-large{ :href => new_contact_path } Contact us to raise money!

          - if @offerings.count > 0
            .span6.offset1
              #myCarousel.carousel.slide
                .carousel-inner.press-carousel
                  - @offerings.each_with_index do |offer, index|
                    = render :partial => "offerings/offering_card_carousel", :locals => { :offering => offer }

                %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
                %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

          - else
            .span7
              .link_html
                <iframe width="560" height="315" src="http://www.youtube.com/embed/-38uPkyH9vI?wmode=transparent" frameborder="0" allowfullscreen></iframe>
                %h4.video_sub
                  (video by crowdsourcing.org)
          - @invest_total = InvestmentTotal.first
          -if @invest_total && @invest_total.show
            .span6.offset1.investment_total
              %h4
                Our clients have raised
              %h1
                = number_to_currency @invest_total.amount, precision: 0
              %h4
                and counting...

    .hero-seperator

    .hero-investor#business
      .container.features-business
        .row
          %h2.hero-tagline Main Street... Meet <strong>Crowdfunding</strong>

        .row
          .span6
            %p
              You may have heard about crowdfunding being used to raise money to film a documentary, record an album, or create a new smart watch. In 2012 over $2.7 billion was raised through crowdfunding. Until now there was no way for Main Street businesses to tap into this new funding mechanism... but Funding Launchpad &mdash; the crowdfunding platform built specifically for retail &mdash; has arrived.
          .span6
            %p
              Funding Launchpad helps existing retailers like you raise money for your grand opening, new equipment, or to open additional locations. Contributors receive goods, services, and experiences related to your business. You get the money you need to grow your business and a crowd of loyal customers.

    .hero-alt#business-needs
      .container
        .row
          .span
            %h2 Who Should Use Funding Launchpad?
        .row
          .span4.target-user
            %h4 Restaurants
            .row
              %p.target-user-tagline
                Independent or franchise restaurants for grand openings, site refreshes, or new locations.
          .span8.target-user
            %img{:alt => "", :src => "/assets/restaurant_banner_3.png"}
        .row
          .span4.target-user
            %h4 Retail Shops
            .row
              %p.target-user-tagline
                Clothing, liquor, hardware, artisan and organic food and beverage, as well as e-commerce.
          .span8.target-user
            %img{:alt => "", :src => "/assets/retail_banner.png"}
        .row
          .span4.target-user
            %h4 Service Providers
            .row
              %p.target-user-tagline
                Gyms, dry cleaners, daycare, indoor children’s recreation, music and art activities, and more.
          .span8.target-user
            %img{:alt => "", :src => "/assets/gym_banner.png"}

    .hero-investor#business-needs
      .container
        .row
          .span12
            %h2 The Funding Launchpad Advantage

        .row
          .span4.feature
            .row
              %img.span{:alt => "", :src => "/assets/icons/01.png"}
              %h4.span3 Step by Step Guidance
            .row
              .offset1
                %p
                  Too busy running your business to become a crowdfunding expert? Don't worry, Funding Launchpad will guide you through every step of the crowdfunding process.
          .span4.feature
            .row
              %img.span{:alt => "", :src => "/assets/icons/03.png"}
              %h4.span3 Engage Your Fans
            .row
              .offset1
                %p
                  Want to turn your regulars into ambassadors? After you raise money with Funding Launchpad, continue to communicate with contributors and make them feel like insiders.
          .span4.feature
            .row
              %img.span{:alt => "", :src => "/assets/icons/05.png"}
              %h4.span3 Go Viral with Social Media
            .row
              .offset1
                %p
                  Use social media to spread the word about your crowdfunding project. Better yet, as social media is built directly into Funding Launchpad, let your fans spread the word for you.
         
          .row
          .span12.dash
 
          .row
            .span4
            .span8
              .invite-call-to-action.business
              %a.btn.btn-primary.btn-large{ :href => new_contact_path } Contact us to raise money!
 
    /
      .hero-alt
        .container
          .row
            .span7
              .row
                .span
                  %h3 A few words from our customers...
              .row
                .span2
                  %img{:alt => "", :src => "http://placehold.it/150x100"}
                .span5
                  %blockquote
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
                    %small Someone famous
              .row
                .span2
                  %img{:alt => "", :src => "http://placehold.it/150x100"}
                .span5
                  %blockquote
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
                    %small Someone famous
            .span4
              %h3.ac Newsletter
              %img{:alt => "", :src => "http://placehold.it/300x350"}

=render "shared/resident"
