:javascript
  stButtons.locateElements();

#investor-invite.modal.fade{data: {backdrop: "static"}}
  = render "pages/request/investor_form"
- if resource.new_record? and resource.errors.blank?
  .invite-call-to-action
    %a.btn.btn-primary.btn-large{"data-toggle" => "modal", :href => "#investor-invite"} Join Us - Beta Signup
- else
  - if resource.errors.blank?
    .modal-header
      %a.close{"data-dismiss" => "modal"} x
      %h3 Request received!
    .modal-body
      %h4 Thanks for registering for beta access!
      %h4 We will let you know as soon as you have access to the site.
      %hr
      = render "shared/sharethis_btns"
      %br
    .modal-footer
      %a.btn{"data-dismiss" => "modal", :href => "#", "data-ga" => "request_access_close"} Close
  - else
    = render "pages/request/investor_form"
