%p 
  The following sets forth the terms on which you may use this website (http://www.fundinglaunchpad.com) (this “Website”). By using this Website, you indicate your acceptance of these terms of use and agree to abide by them at all times.  If you do not agree to these terms of use, please do not use this Website.
.terms  
  %h4 Access to and Information on Our Website
     
  %p 
    Access to this Website is granted on a temporary basis.  We reserve the right to modify the services provided on this Website, or to terminate such services, at any time without notice. If the need arises, we may suspend access to the Website, or close it indefinitely.  We will not be liable if for any reason our site is unavailable at any time or for any period.  
     
  %p
    From time to time, we may restrict your access to some or all of this Website, and we will in no event be liable in any way therefor.
    
  %p
    This Website may be updated, and the content herein changed, at any time. Any of the material on this Website may be out of date at any given time, and we are under no obligation to update such material.
     
  %p
    The user of this Website is at all times responsible for making necessary arrangements in order to have access to this Website, and is responsible for ensuring that all persons who access this Website through an internet connection provided by the user are aware of and comply with these terms.
    
  %h4 Information About You and Your Visits to Our Website
     
  %p
    ="We process information about you in accordance with our Privacy Policy – we advise you to review such policy " 
    =link_to static_page_menu("here"), privacy_path
    = ". By using this Website, you consent to our Privacy Policy and the processing of data described therein, and you represent that all data provided by you to us is true and accurate." 
     
  %h4 Links From Our Website
  %p 
    Where this Website links to other websites, services or content provided by third parties, these links are provided for your information only. We have no control over the contents of those websites or resources, and we disclaim all responsibility for them or for any loss or damage that may arise from your use of them.
    
  %h4 Reliance on Information Posted 
  %p
    None of the questions, answers, commentary, disclosure documents, marketing materials, or any other materials posted on this Website shall be considered investment advice. We disclaim any liability or responsibility for any reliance placed on such materials by you or any other party.
    
  %h4 Disclaimer of Liability 
  %p
    The material displayed on this Website is provided without any representations, warranties, conditions or guarantees as to its accuracy. To the extent permitted by applicable law, we, our affiliates, and third parties connected to us hereby expressly exclude:
     
    %ul
      %li
        All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.
      %li
        Any liability for any direct, indirect, incidental, special, consequential or punitive damages incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of this Website, any websites linked to it and any materials posted on it, including, without limitation any liability for:
     
        %ul
          %li Loss of income or revenue;
          %li Loss of profits or contracts;
          %li Loss of anticipated savings;
          %li Loss of business;
          %li Loss of data;
          %li Loss of goodwill;
          %li Wasted time by you or your employees; and
          %li Any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, and even if we were advised on the possibility of such damages.
     
    The foregoing does not affect any liability of ours which cannot be excluded or limited under applicable law.
      
  %h4 Your Behavior
  %p
    You shall not (and shall not permit any third party to) either (a) take any action or (b) upload, download, post, submit or otherwise distribute or facilitate distribution of any content on or through our Website, that:
    %ul
      %li
        infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity or violates any law or contractual duty;
      %li you know is false, misleading, untruthful or inaccurate;
      %li is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, obscene, offensive, or profane;
      %li constitutes unsolicited or unauthorized advertising or promotional material or any junk mail, spam or chain letters; or
      %li impersonates any person or entity, including any employee or representative of us.
  
  %p
    In addition, you agree not to take any action that imposes or may impose an unreasonable or disproportionately large load on our (or our third party providers’) infrastructure.  You further agree not to run Listserv or similar or any form of auto-responder or “spam” on the Website. 
  %p
    You agree to at all times to use the Website in the manner in which it was intended to be used, and to refrain from taking any action or introducing any material which could be harmful to the Website or its users.
  
  %p
    You agree not to misuse this Website by knowingly introducing viruses, trojans, worms or other material which is malicious or technologically harmful (together “Viruses”). You agree not to attempt to bypass any measures we may use to prevent or restrict access to the Website or otherwise attempt to gain unauthorized access to any portion of the Website to which you have not been granted access, the server on which the Website is stored, or any server, computer or database connected to this Website. You agree not to attack this Website via a denial-of-service attack or to otherwise interfere or attempt to interfere with the proper working of the Website or any activities conducted on the Website.  You agree not to use manual or automated software, devices, or other processes to "crawl" or "spider" any page of the Site.
   
  %p
    By breaching this provision, you may commit a criminal offense under applicable laws, and we may report any such breach to the relevant law enforcement authorities and cooperate with those authorities by disclosing your identity to them. 
   
  %p
    You use this Website at your own risk, and we disclaim any liability for any loss or damage caused by a denial-of-service attack or Viruses that may infect your computer equipment, computer programs, data or other proprietary material due to your use of this Website or to your accessing or downloading of any material posted on it, or on any website linked to it.
  
      
  %h4 Intellectual Property Rights
  %p
    We are the owner or the licensee of all intellectual property rights contained in this Website, as well as in the material published on it. All intellectual property contained in this Website is protected by national and international copyright law and treaties. All such rights are reserved.
  %p
    You are forbidden from printing copies of or downloading extracts from any part of the Website without our express written authorization.
  %p
    If you wish to make any use of material on this Website, please address your request to info@fundinglaunchpad.com.
     
  %h4 Jurisdiction and Applicable Law
     
  %p
    Any suit or proceeding arising out of or relating to this Website brought against us shall be commenced in a court in the City and County of Denver, Colorado, and by using this Website you irrevocably submit to the jurisdiction and venue of such courts.  Notwithstanding the foregoing, we retain the right to bring proceedings against you for breach of these conditions in your country of residence or any other relevant country. These terms of use are governed by the laws of the State of Colorado without regard to conflicts of laws provisions thereof.
     
  %h4 Modification of Terms of Use
     
  %p
    We may revise these terms of use at any time by amending this page. You are expected to check this page periodically to take notice of any changes made.  Any such changes will be binding on you, and if you disagree with any such changes, you should discontinue use of this Website. 
     
  %h4 Information About Us   
  %p
    www.fundinglaunchpad.com is a Website operated by Vim Funding, Inc (“we” or “us”), a corporation organized under the laws of the State of Colorado, USA.
    
  %h4 Breach of Terms of Use
  %p
    In the event of any breach by you of any of these terms of use, your rights to use this Website will cease immediately, and we may take such steps as we deem appropriate in our sole discretion to revoke and deny your access to the Website.
    
  %h4 Relation to Issuer Agreements
  %p
    These terms of use are incorporated by reference into any Platform Access Agreement, Engagement Letter or Agreement, or similar document which may be entered into between us and any issuer that lists an offering on our Website.  In the event an issuer violates any of these terms of use, we reserve the right to remove such issuer’s offering from our Website, and will not be responsible for returning or repaying any platform access fee or similar payments made by such issuer in connection with listing such offering on the Website.
    
  %h4 Your Concerns
  %p
    If you have any concerns about material which appears on this Website, please contact info@fundinglaunchpad.com.
 

