=content_for :title, "Investment Crowdfunding | About Funding Launchpad"
.hero-alt-top
  .container
    %h2 About Us
.container
  .tabbable.tabs-left
    %ul.nav.nav-tabs#about-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#company"} Company
      %li
        %a{"data-toggle" => "tab", :href => "#team"} Our Team
      %li
        = link_to "Press", press_index_path, :remote => true, 'data-toggle' => 'tab', "data-target" => "#press"
      %li
        %a{"data-toggle" => "tab", :href => "#contact"} Contact
    .tab-content
      = render "pages/about/company_tab"
      = render "pages/about/team_tab"
      /= render "pages/about/press_tab"
      #press.tab-pane.fade
      = render "pages/about/contact_tab"

