.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Administration

.container
  %p
    %h3
      Select an administrative task:

  %p
    = link_to "Add Press Release ", press_admin_path, class: "btn"
  /  %p
  /    = link_to "Update Total Amount Raised ", edit_investment_total_path(InvestmentTotal.first), class: "btn"
  %p
    = link_to "Offering Review (#{pluralize(Offering.development_completed.unapproved.count,'offering')} ready)", reviews_path, class: "btn"
  %p
    = link_to "User Review (#{pluralize(User.count,'user')} in database)", users_path, class: "btn"
  %p
    = link_to "Auction Bid Increment Management", bid_increments_path, class: "btn"
  %p
    = link_to "Financials", financials_path, class: "btn"
