.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Financials Administration

.container
  %p
    %h3 Review Financials Here
    
  = link_to "Back to Administration", admin_path, :class => "btn"
  
