=content_for :title, "Investment Crowdfunding | Frequently Asked Questions"
.hero-alt-top
  .container
    
    .tabbable.hero-tab
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#faq", "data-toggle" => "tab"} FAQ
        

.container
  .tab-content
    #faq.tab-pane.active.accordion.accordion-custom
      
      = render :partial => 'faq'
   