- if !signed_in?
  redirect_to root_path
  
.hero-alt-top
  .container
    %h2 My Contributionss

.container
  - if @contributions.count == 0
    .small_notice
      There are currently no contributions recorded.
  - else
    %table
      %tr
        %th.normal_data{:align => "left"} Offering
        %th.normal_data{:align => "right"} Contribution
        %th.normal_data Date

      - @contributions.each do |contribution|
        %tr
          %td.normal_data= contribution.offering.name
          %td.normal_data{:align => "right"}= number_to_currency(contribution.amount)
          %td.normal_data= contribution.created_at.strftime("%m/%d/%Y")
