- if !signed_in?
  redirect_to root_path
  
.hero-alt-top
  .container
    %h2 My Investments

.container
  - if @investments.count == 0
    .small_notice
      There are currently no investments recorded.
  - else
    %table
      %tr
        %th.normal_data{:align => "left"} Offering
        %th.normal_data{:align => "right"} Offered
        %th.normal_data{:align => "right"} Accepted
        %th.normal_data Date
        %th.normal_data Funded
        %th.normal_data Current Status

      - @investments.each do |investment|
        %tr
          %td.normal_data= investment.offering.name
          %td.normal_data{:align => "right"}= number_to_currency(investment.offered_amount)
          %td.normal_data{:align => "right"}= number_to_currency(investment.accepted_amount)
          %td.normal_data= investment.created_at.strftime("%m/%d/%Y")
          %td.normal_data= (investment.offering.funded?) ? "Yes" : "No"
          %td.normal_data= investment.status
          %td.normal_data= link_to "History", my_investment_status_path(:i => investment.id)
