.hero-alt-top
  .container
    %h2 My Offerings

.container
  =render partial: "shared/flash", :locals => {:flash => flash}
  -if @offerings.blank?
    %h3
      You have not created an offering yet, but you can 
      = link_to "start one now.", new_offering_path
  -else
    .entity_list
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th Offering Name
          %th Status
          %th Privacy
          %th Actions
          - unless contributions_only?
            %th Investments
          %th Contributions
          %th Rewards
          %th Followers
        - @offerings.each do |offering|
          %tr
            %td= offering.name
            %td= offering.offering_status
            %td
              -if offering.private?
                Private 
                = link_to "Invite Investors", new_user_invitation_path(offering, offering: offering.id), :class => "btn btn-mini" 
              -else
                Public
            %td
              = link_to "Update", admin_offering_path(offering)
            - unless contributions_only?
              %td= link_to "View", offering_investments_path(offering)
            %td= link_to "View", offering_contributions_path(offering)
            %td= link_to "View", offering_user_rewards_path(offering)
            %td= link_to "View", followers_offering_path(offering)
