=content_for :title, "Privacy Policy | Funding Launchpad"
.hero-alt-top
  .container
    %h2 Privacy Statement

.container
  %p
    Vim Funding, Inc d/b/a Funding Launchpad (“Vim Funding”, “Funding Launchpad”, “we” or “us”), the developer of this website (the “Website”), is 
    committed to protecting and maintaining your privacy. This Privacy Policy explains what information of yours we may collect when you use the 
    Website and services related thereto, how it will be used, and how you can control the collection and use thereof. Please read the following 
    carefully to understand our practices regarding your personal data.

  .privacy
    %h4
      Information Collected by Us 
    %h5
      User-Provided Information:
    %p
      You provide us information about yourself, such as your name, email address, and state of residence, when 
      you register with our Website. If you correspond with us by email, in writing, or by telephone, we may retain the content of those 
      communications and our responses, as well as your email address, mailing address, and/or telephone number. In addition, you provide information 
      about yourself by filling out forms on the Website or completing surveys created by us.  Moreover, any personal information or content that you 
      voluntarily disclose in public areas becomes publicly available and can be collected and used by other users, as well as by us. You should exercise 
      caution before disclosing your personal information via public venues.
    %h5
      IP Addresses and Cookies:
    %p
      We may collect information about your computer, including your Internet Protocol (“IP”) address, operating system and browser type, for system administration. This is statistical data about our user’s browsing actions and patterns, and does not identify any individual.  Similarly, we may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer’s hard drive. They help us to improve the Website, to enhance your user experience by enabling us to estimate our audience size and usage pattern, to store information about your preferences and customize the Website accordingly, to make your searches faster, and to recognize you when you return to the Website.  
    %p
      Unless you have adjusted your browser setting so that it will refuse cookies, our system may issue cookies when you log on to the Website. 
      You can set your web browser to refuse all cookies or to notify you when a cookie is being sent. However, some features of the Website may 
      not function properly if cookies are disabled.  

    %p
      Please note that our advertisers may also use cookies, over which we have no control.
    %h5
      Log File Information:
    %p
      Log file information is automatically reported by your browser each time you access a web page. When you register 
      with or view the Website, our servers automatically record certain information that your web browser sends whenever you visit any website. These 
      server logs may include information such as your web request, IP address, browser type, referring / exit pages and URLs, number of clicks, domain 
      names, landing pages, pages viewed, and other such information. 

    %p
      Clear Gifs Information: When you use the Website, we may employ clear gifs which are used to track the online usage patterns of our users 
      anonymously. No personally identifiable information is collected using these clear gifs. In addition, we may also use clear gifs in emails 
      sent to our users to track which emails are opened by recipients. 

    %h4
      About Your Information 

    %p
      By providing your email address to us, you consent to our using the email address to send you Website-related notices, including any notices required 
      by law, in lieu of communication by postal mail. Some of these communications may not be opted out of. However, you can change the frequency of 
      many such communications by changing your email preferences. We may also use your email address to send you, or to allow our issuer clients to 
      send you, other messages, including changes to the Website, promotions, and to notify you of new offerings powered by our technology and/or updates to 
      existing offerings. You may modify your settings with respect to these emails by changing your email preferences.  

    %p
      We may disclose certain information about you and/or your use of the Website, without identifying you as an individual, to third parties, for 
      purposes including, but not limited to, analyzing how the Website is used, diagnosing technical problems, maintaining security, and personalizing 
      advertisements and promotions. 

    %p
      We reserve the right, but do not have the obligation, to monitor the content you post on the Website, whether as an issuer or as a potential 
      investor. We reserve the right, consistent with applicable law, to remove any such information or material for any reason or no reason, including 
      without limitation, if in our sole opinion, such information or material violates, or may violate, any applicable law or our 
      = link_to static_page_menu("Terms of Use"), terms_path
      , or to protect or defend our rights or property or those of any third party.  We 
      also reserve the right, consistent with applicable law, to remove information upon the request of any third party.  Please refer to our 
      = link_to static_page_menu("Terms of Use"), terms_path 
      for additional information.

    %p
      We use cookies, clear gifs, and log file information to: (a) remember information so that you will not have to subsequently re-enter it when 
      using our Website; (b) provide custom, personalized content and information; (c) monitor the effectiveness of the services we provide; (d) monitor 
      aggregate metrics such as total number of visitors and traffic; (e) diagnose or fix technology problems; (f) monitor and prevent fraud; and (g) 
      help you efficiently access your information after you sign in. 

    %p
      Any personal information or content that you voluntarily disclose for posting to the Website, whether as an issuer or a potential investor, 
      becomes available to the public. Subject to applicable law, we will remove this information at any time upon request; however, copies may remain 
      viewable in cached and archived pages, and other users may have already copied or stored such information.

    %h4
      How We Share Your Information 

    %h5
      Personally Identifiable Information:
    %p
      We will not rent or sell your personally identifiable information to others. We may share your personally 
      identifiable information with third parties for the purpose of providing services to you, in which case such third parties’ use of your 
      information will be bound by this Privacy Policy. We may store personal information in locations outside of our direct control -- for instance, 
      on servers or databases co-located with hosting providers. 
    %p
      In addition, if you click on “Ready to Invest?” on an issuer’s offering page and then click to “Submit” interest in investing in the issuer, your name, email address, and state of residence will be submitted to the issuer, along with the details of your desired investment.  By clicking “Submit” on this “Next Steps” screen, you authorize us to share this personally identifiable information with the issuer in which you have expressed an interest in investing.
    
    %p
      In the future, we may undertake corporate divestitures, mergers, or asset sales.  Customer, email, and visitor information is generally 
      transferred in these types of transactions. In any such transfer of information, your user information would remain subject to this Privacy Policy. 

    %p
      Except as otherwise described in this Privacy Policy, we will not disclose identifiable personal information to any third party unless required 
      to do so by law or subpoena or if we believe that such action is necessary to (a) conform to applicable law, comply with legal process served on 
      us or our affiliates, or investigate, prevent, or take action regarding suspected or actual illegal activities; (b) to enforce our 
      = link_to static_page_menu("Terms of Use"), terms_path 
      , take precautions against liability, to investigate and defend ourselves against any third-party claims or allegations, to assist government 
      enforcement agencies, or to protect the security or integrity of our site; and (c) to exercise or protect the rights, property, or personal 
      safety of us, our users or others.  The aforementioned may include, but is not limited to, exchanging information with other companies and 
      organizations for the purposes of fraud protection and credit risk reduction.

    %h5
      Non-Personally Identifiable Information: 
    %p
      We may share non-personally identifiable information (such as anonymous usage data, 
      referring/exit pages and URLs, platform types, number of clicks, etc.) with third parties who wish to understand the usage patterns on our Website. 

    %p
      We may allow third-party ad servers to place advertisements on the Website. These third-party ad servers or ad networks use technology to send, directly to your browser, the advertisements and links that appear on the Website. They automatically receive your IP address when this happens. They may also use other technologies to measure the effectiveness of their advertisements and to personalize the advertising content. 

    %p
      We may provide such third parties with aggregate information about our users (for example, we may inform them that X residents of a given state have clicked on their advertisement over a given time period). We may also use such aggregate information to help advertisers reach their target audience. We may make use of the personal data we have collected from you to enable us to comply with our advertisers’ wishes by displaying their advertisements to that target audience.
 
    %p
      The Vim Funding Privacy Policy does not apply to, and we cannot control the activities of, such advertisers.  

    %h4
      How We Protect Your Information 

    %p
      We use commercially reasonable safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to us, and you do so at your own risk. Once you transmit your information to us, we make commercially reasonable efforts to ensure the security of our systems. However, we make no guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of our safeguards. 

    %p
      To protect your privacy and security, we take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to your email communications from us, at all times. 

    %h4
      Compromise of Personal Information 

    %p
      In the event that personal information is compromised as a result of a breach of security, we will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law. 

    %h4
      Your Choices About Your Information 

    %p
      You may decline to submit certain information to us, in which case we may not be able to provide certain services to you. You may update your account information and email preferences at any time. 

    %h4
      Links to Other Web Sites 

    %p
      We are not responsible for the practices employed by websites linked to or from our Website nor the information or content contained therein. When you use a link to go from our Website to another website, our Privacy Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our Website, is subject to that website’s own rules and policies.  Please check the policies and the terms of such websites before you submit any personal data to these websites.

    %h4
      Notification Procedures 

    %p
      It is our policy to provide notifications, whether such notifications are required by law or are for marketing or other business related purposes, to you via email notice, written or hard copy notice, or through conspicuous posting of such notice on our Website page, as determined by us in our sole discretion. We reserve the right to determine the form and means of providing notifications to you, provided that you may opt out of certain means of notification as described in this Privacy Policy. 

    %h4
      Changes to Our Privacy Policy 

    %p
      We may revise this Privacy Policy at any time by amending this page. You are expected to check this page periodically to take notice of any changes made.  Any such changes will be binding on you, and if you disagree with any such changes, you should discontinue use of this Website. 

    %h4
      Your Concerns
 
    %p
      If you have any concerns about our Privacy Policy, please
      = link_to "contact us", about_path + "#tab_contact"
