=content_for :title, "User Settings"
.hero-alt-top
  .container
    %h2 Your Settings
.container
  .tabbable.tabs
    %ul.nav.nav-tabs#settings-tabs
      %li.active
        = link_to "Personal", profile_person_path(current_user.person), :remote => true, 'data-toggle' => 'tab', "data-target" => "#personal"
      %li
        = link_to "Account", edit_user_registration_path, :remote => true, 'data-toggle' => 'tab', "data-target" => "#account"
      %li
        = link_to "Social Accounts", authentications_path, :remote => true, 'data-toggle' => 'tab', "data-target" => "#social"


    #settings-tabs-content.tab-content
      =render :partial => "shared/flash", :locals => {:flash => flash}
      #personal.tab-pane.active.fade.in
      #account.tab-pane.fade
      #social.tab-pane.fade

