.hero-alt-top
  .container
    %h2 Stripe Validation
.container
  %p
    This is the Stripe Validation page.
  %p
    The code we got is [
    = "#{@stripe_code}]"
  %p
    The access token we got is [
    = "#{@access_token}]"
  %p
    The whole response object we got is [
    = "#{@resp}]"
  %p
    = "@resp.headers = #{@resp.headers}"
  %p
    = "@resp.status = #{@resp.status}"
  %p
    = "@stripe_publishable_key = #{@stripe_publishable_key}"
    
/    = "@resp.access_token = #{@resp.access_token}"
/  %p
/    = "@resp.stripe_publishable_key = #{@resp.stripe_publishable_key}"
/  %p
/    = "@resp.stripe_user_id = #{@resp.stripe_user_id}"
/    