= simple_form_for [@offering, @photo], :html => {:multipart => true} do |f|
  .well.span4
    = f.input :caption, required: false
    = f.input :image, input_html: {class: "span4"}, required: false
    %p 
      %i Files can not be more than 5Mb in size
    = form_actions
