.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Photos Associated With Your Offering

.container
  -if @photos.nil? or @photos.count == 0
    .small_notice
      There are currently no photos associated with this offering.
  -else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th Image
          %th Caption
          %th Actions
          %th Default

        - @photos.each do |photo|
          %tr{id: "photo_#{photo.id}"}
            %td= image_tag(photo.image_url(:thumb))
            %td= photo.caption
            %td
              = action_btns @offering, photo
            %td
              - if photo.default?
                This photo is currently the default
              - else
                = simple_form_for [@offering, photo], :html => {:multipart => true} do |f|
                  = f.input :default, :as => :hidden, :input_html => { :value => "true" }
                  = f.button :submit, 'Make Default'
  %br
    = return_add_btns @offering, 'photo'


