
.hero-alt-top
  .container
    %h2= @photo.caption
.container
  .row
    = image_tag(@photo.image_url)
  .row
    %br
    = link_to 'Back', offering_photos_path, class: "btn"
    = link_to 'Edit', edit_offering_photo_path(@photo), class: 'btn btn-primary'
  
