= simple_form_for [@offering, @reward], :html => {:multipart => true} do |f|
  .well.span9

    = f.input :title, input_html: {class: "span4"}
    = f.input :photo, input_html: {class: "span4"}
    .offset4
      -unless @reward.photo.blank?
        = image_tag @reward.photo_url(:thumb), :alt => "Reward Picture", :class => "thumbnail"
    = f.input :short_description, input_html: {class: "span4"}
    = f.input :description, input_html: {class: "span9 wysi resizable", size: "50x8"}
    = f.input :number_available, input_html: {class: "span4"}
    = f.input :reward_type, :collection => ['Reward', 'Coupon', 'Auction'], input_html: {class: "span4"}
    = f.input :enabled, input_html: {class: "span4"}
    = f.input :price, input_html: {class: "span4"}
    = f.input :delivery_method, :collection => ['Physical', 'Electronic'], input_html: {class: "span4"}
    
    = form_actions
