.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Rewards for #{@offering.name}

.container
  -if @rewards.nil? or @rewards.count == 0
    .small_notice
      There are currently no rewards associated with this offering.
  -else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th
          %th Reward Type
          %th Enabled
          %th Title
          %th Still Available
          %th Price
          %th Delivery
          %th.span2 Actions
          

        - @rewards.each do |reward|
          %tr{id: "reward_#{reward.id}"}
            %td
              -unless reward.photo.blank?
                = image_tag reward.photo_url(:thumb), :alt => "Reward Picture", :class => "thumbnail"
            %td= reward.reward_type
            %td= reward.enabled ? 'Yes' : 'No'
            %td= truncate( reward.title )
            - if reward.number_available.nil?
              %td= "Unlimited"
            - else
              %td= "#{reward.number_available-reward.number_granted} of #{reward.number_available}"
            %td= number_to_currency( reward.price )
            %td= reward.delivery_method
            %td= action_btns @offering, reward
          
  %br
    = link_to('Return to Offering', admin_offering_path(@offering), class: "btn")
    = link_to('Add a new reward', new_offering_reward_path(@offering), class: "btn btn-primary")
