.reg_header
  %h1 Rewards Associated With Your Offering

.reg_body
  - if @rewards.nil? or @rewards.count == 0
    .small_notice
      There are currently no rewards associated with your offering.
  - else
    .entity_list
      %table{:cellspacing => "0"}
        %tr
          %th Title
          %th Investment level
          %th Qty Available
          %th Qty Awarded
          %th Description
          %th
          %th

        - @rewards.each do |reward|
          %tr
            %td= reward.title
            %td= number_to_currency(reward.investment_level)
            %td= reward.quantity
            %td= reward.awarded
            %td= reward.description
            %td= link_to 'Edit', 
                          edit_reward_path(reward, :offering => "#{params[:offering]}")
            %td= link_to 'Remove', reward, :data => { :confirm => 'Are you sure?'}, :method => :delete

%br
.offering_commands
  %table
    %tr
      %td= link_to 'Create A New Reward', 
                    new_reward_path(:offering => "#{params[:offering]}")
      %td= link_to "Return To Offering", offering_path(params[:offering])
      