= f.simple_fields_for :addresses, defaults: {input_html: {class: "span3"}} do |address|

  = address.hidden_field :content_type, :value => "Residence"
  = address.input :address1
  = address.input :address2
  = address.input :city
  = address.input :state, :wrapper_html => {:id => 'wrap-state'} do
    = subregion_select_tag "person[addresses_attributes][0][state]", address.object.try(:state), "US", :prompt => "Select if applicable"
  = address.input :zip_code
  = address.input :country_code, :wrapper_html => {:id => 'wrap-country'} do
    = country_select_tag "person[addresses_attributes][0][country_code]",
        address.object.try(:country_code),
        priority: %w(US),
        prompt: 'Please select a country'
