%h1 Step 2 of 3
%p
  If you want to create offerings, we want to first make sure your company is
  represented in the system.  Do a quick search below.  If you don't find your company
  then you're the first person registering from that company so go ahead and enter a
  new company name in the space provided.
  
- @companies = Company.all
- if @companies.count == 0
  .small_notice 
    There are currently no companies in the system.
    %br
    %br
- else
  %table
    - @companies.each do |company|
      %tr
        %td
          = company.name
        %td
          = f.submit "Select", :name => "#{company.id}"

= f.label :company_name, "New Company Name"
= f.text_field :company_name