
= simple_form_for @person, :url => url_for(:controller => 'people', :action => 'profile_update'), :remote => true, :method => 'post', :html => {:multipart => true, :class => "form-horizontal"} do |f|

  .row
    .well.span
      - if params[:section] == "address"
        = render "address_fields", :f => f
      - else
        = f.input :first_name
        = f.input :last_name
        = f.input :title
        = f.input :profile_picture
        = f.input :bio, :input_html => {:size => "200x5", class: 'span6'}

      = form_actions "Save Changes", "Cancel", btn_cancel_path: "#personal"
