%h2 Step 1 of 3
%p
  Registration is easy and quick.  First we need to decide what you want to do with
  the Funding Launchpad site.  Select the roles you anticipate filling below.
  
= f.check_box(:client_option)
= f.label(:client_option, "I want to create a offering")
%br
= f.check_box(:investor_option)
= f.label(:investor_option, "I want to look at investments")
%br
