%h2 Step 3 of 3
%p
  OK, it's finally time to tell us about yourself.  Just enter your name, an email address,
  and a password below to get started.  Once you're registered you'll have the opportunity
  to provide additional information for your profile and, more importantly, you'll be 
  ready to create a offering or invest!
  
-if @companies
  %p
    ="There are #{@companies.count} companies in the system."
-if @person.company_id.nil?
  %p= "company_id is nil"
-else
  %p= "company_id is (#{@person.company_id})"
  
-if @person.old_company_id.nil?
  %p= "old_company_id is nil"
-else
  %p= "old_company_id is (#{@person.old_company_id})"

= f.fields_for :user do |user|
  %table
    %tr
      %td.label= f.label :first_name, "First Name:"
      %td= f.text_field :first_name
    %tr
      %td.label= f.label :last_name, "Last Name:"
      %td= f.text_field :last_name
    %tr
      %td.label= user.label :email, "Email Address:"
      %td= user.text_field :email
    %tr
      %td.label= user.label :password, "Password:"
      %td= user.password_field :password
    %tr
      %td.label= user.label :password_confirmation, "Confirmation:"
      %td= user.password_field :password_confirmation
