.row
  .span12
    %h3.form-header 
      General Info
      = link_to "Edit", profile_edit_person_path(@person), :remote => true, :class => "btn btn-mini"
  .span1
    =image_tag @person.profile_picture_url(:thumb), 
                      :alt => "Profile Picture", 
                      :class => "thumbnail"
  .span10
    %h4= "#{@person.first_name} #{@person.last_name} - #{@person.title}"
    = @person.bio

%br
.row
  .span12
    %h3.form-header
      Address
      = link_to "Edit", profile_edit_person_path(@person, :section => "address"), :remote => true, :class => "btn btn-mini", :id => "address-edit-btn"

%table.table.table-striped
  %tr
    %td{width: 35}= I18n.t("simple_form.labels.addresses.address1")
    %td= @person.addresses.residence.first.try(:address1)
  %tr
    %td= I18n.t("simple_form.labels.addresses.address2")
    %td= @person.addresses.residence.first.try(:address2)
  %tr
    %td= I18n.t("simple_form.labels.addresses.city")
    %td= @person.addresses.residence.first.try(:city)
  %tr
    %td= I18n.t("simple_form.labels.addresses.state")
    %td= @person.addresses.residence.first.try(:state)
  %tr
    %td= I18n.t("simple_form.labels.addresses.zip_code")
    %td= @person.addresses.residence.first.try(:zip_code)
  %tr
    %td= I18n.t("simple_form.labels.addresses.country_code")
    %td= @person.addresses.residence.first.try(:country_code)
