= f.fields_for :user do |user|
  %table
    %tr
      %td.label= f.label :first_name, "First Name:"
      %td= f.text_field :first_name
    %tr
      %td.label= f.label :last_name, "Last Name:"
      %td= f.text_field :last_name
    %tr
      %td.label= f.label :title, "Title:"
      %td= f.text_field :title
    %tr
      %td.label= f.label :profile_picture, "Profile Picture:"
      %td= f.file_field :profile_picture
    %tr
      %td.label= user.label :email, "Email Address:"
      %td= user.text_field :email
    %tr
      %td.label= user.label :password, "Password:"
      %td= user.password_field :password
    %tr
      %td.label= user.label :password_confirmation, "Confirmation:"
      %td= user.password_field :password_confirmation
