.hero-alt-top
  .container
    %h2 People

.container
  - if @people.count == 0
    .small_notice
      There are currently no people associated with this offering.
  -else
    .entity_list
      %table.table.table-bordered.table-striped
        %tr
          %th Picture
          %th Name
          %th Title
          %th Bio

        - @people.each do |person|
          %tr
            %td= image_tag(person.profile_picture_url(:thumb).to_s)
            %td= "#{person.first_name} #{person.last_name}"
            %td= person.title
            %td= person.bio

