.hero-alt-top
  .container
    %h2 Your Profile
    - flash.each do |key, value|
      .alert{:class => key}
        = value
        <a class="close" data-dismiss="alert">×</a>

.container
  = render "profile_fields"


        
