.hero-alt-top
  .container
    %h2= "#{@person.first_name} #{@person.last_name}"

.container
  %table
    %tr
      %td=image_tag @person.profile_picture_url(:thumb).to_s, 
                    :alt => "Profile Picture", 
                    :class => "photo_data"
      %td{:valign => "top"}
        = "#{@person.first_name} #{@person.last_name}"
        %br
        = @person.title

    %tr
      %td{:valign => "top"} Bio
      %td= @person.bio

