= simple_form_for [@offering, @video] do |f|
  
  .well.span8
    
    = f.hidden_field :offering_id
    
    = f.input :description, :input_html => {:class => "span5"}
    = f.input :link, 
              :input_html => {:size => "200x1", :class => "span8"},
              :label => "Type or paste the URL to your video... <span id='video_examples'> examples: <a href='http://vimeo.com/1747316' title='click to copy/paste'>vimeo</a>, <a href='http://www.youtube.com/watch?v=ZUG9qYTJMsI' title='click to copy/paste'>youtube</a></span>"
    
    
    Preview
    .row
      .link_html.span8
  
    = form_actions

