.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Videos Associated With Your Offering

.container
  -if @videos.nil? or @videos.count == 0
    .small_notice
      There are currently no videos associated with this offering.
  -else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th.span4 Video
          %th Link
          %th Description
          %th Actions
          %th Default

        - @videos.each do |video|
          %tr{id: "video_#{video.id}"}
            %td.link_html
              = raw video.link_html
            %td= video.link
            %td= video.description
            %td
              = action_btns @offering, video
            %td
              - unless video.default == true
                = simple_form_for [@offering, video], :html => {:multipart => true} do |f|
                  = f.input :default, :as => :hidden, :input_html => { :value => "true" }
                  = f.button :submit, 'Make Default'
              - else
                This video is currently the default

  %br
    = return_add_btns @offering, 'video'
