.hero-alt-top
  .container
    %h2 
      = header

.container
  .row
    .well.span4
      = simple_form_for [@offering, @link] do |f|
        = f.hidden_field :offering_id, :value => params[:offering]
        
        =f.input :link
        =f.input :description
        
        = form_actions action_label
  .offering_commands
    = link_to 'Back To Link List', offering_links_path(:offering => "#{params[:offering]}")
