.hero-alt-top
  .container
    %h2 Listing links

.container
  - if @links.nil? or @links.count == 0
    There are currently no links associated with this offering.
  - else
    .entity_list
      %table.table.table-striped.table-bordered
        %tr
          %th Link
          %th Description
          %th Actions

        - @links.each do |link|
          %tr{id: "link_#{link.id}"}
            %td.entity_item= link.link
            %td.entity_item= link.description
            %td
              = action_btns @offering, link
              

  %br
    = return_add_btns @offering, 'link'
