%p#notice= notice

%p
  %b Offering:
  = @link.offering_id
%p
  %b Link:
  = @link.link
%p
  %b Description:
  = @link.description

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
