<div class="row">
  <div class="span4 offset4">
    <p id="notice"><%= flash[:notice] %></p>
    <%= form_tag login_path, :class => '' do %>
      <h2 class="new_user_heading">Log In</h2>
      <%= text_field_tag :email, '', :class => 'input-block-level', :placeholder => 'Email' %>
      <%= password_field_tag :password, '', :class => 'input-block-level', :placeholder => 'Password' %>
      <%= submit_tag 'Log In', :class => 'btn btn-large btn-primary' %>
    <% end %>
    <a href="#">Forgot your password?</a>
    <a href="/">Sign up</a>
  </div>
</div>
