= simple_form_for resource.with_person, :remote => true do |f|
  = f.hidden_field :investor, :value => "true"
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Request Beta Access!
  .modal-body
    = f.error_notification
    = f.input :email, :label=> "Keep me informed about the Funding Launchpad Beta (no spam)", :placeholder => "Enter your email address", :input_html => { :class => 'span4' }
    = f.input :pcp_email,
              :label => "I want Funding Launchpad clients to send me a one time email when their offering is live #{info_tag :data => {title: 'New Offering Alerts', content: 'Select this option to be notified when one of our clients launches a crowdfunding offering powered by Funding Launchpad. Each client will only be allowed to send you one email, and they will never see your email address. (Note: these emails will come from our client\'s email address, not directly from us.)'}}",
              :wrapper => :inline_checkbox,
              :input_html => {:checked => true}
    = f.input :newsletter, :label => "Also sign me up for the Funding Launchpad Newsletter", :wrapper => :inline_checkbox, :input_html => {:checked => true}
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#", :id => "request-access-cancel"} Close
    = f.submit "Request Access!", :class => "btn btn-success", :id => 'request-access-submit', :"data-disable-with" => "Request Access!"
