%h1 Funds Have Been Sent
%p
  One of your investors has indicated they have sent funds.  You should be looking for
  a check.  Once you receive it, please update the status of this investment to indicate
  that funds have been escrowed.
%p
  Here are the specifics:
%table
  %tr
    %td Investor
    %td= "#{@investment.user.person.first_name} #{@investment.user.person.last_name}"
  %tr
    %td Amount Expected
    %td= number_to_currency(@investment.offered_amount)
%p
  Thank you again for using the Funding Launchpad to promote and manage your offering!
