%h1 Funds Have Been Escrowed
%p
  The offering owner has indicated that your funds have been escrowed.  Congratulations!
  You are well on your way to owning part of this great offer.  Now there's nothing to do
  but wait for funding to complete.
%p
  This is a great time to tell all your friends about your investment.  More interest just
  improves the chance that the offering you have invested in will be successful.
%p
  Thank you again for using the Funding Launchpad to promote and manage your offering!
