%h1 Interested Investor Alert!
%p
  = "Congratulations, someone has just expressed an interest in investing in #{@investment.offering.company.name}"

%p
  Here are the particulars:
  %ul
    %li
      %b
        Name of the Investor: 
      = "#{@investment.user.person.first_name} #{@investment.user.person.last_name}"
    %li
      %b
        Dollar Investment:
      = number_to_currency(@investment.offered_amount)
    %li
      %b
        Number of Shares to Purchase:
      = @investment.num_shares_offered
    %li
      %b
        Email address of the Investor:
      = @investment.user.email
    %li
      %b
        State of Residence:
      = @investment.user.person.state_of_residence
    %li
      %b
        Investor's Comment:
      = @investment.comment.blank? ? "No comment given" : @investment.comment

%p
  We've forwarded this person your instructions for completing an investment. The ball is in their
  court now, as the next step is for them to fill out the subscription agreement.  Be watching your
  inbox for confirmation that they have filled this agreement out, so that you can promptly confirm
  their investment and close the deal. If you wish, feel free to reach out to them at the email address
  above in the meantime - its your call.

%p
  Please email us at info@fundinglaunchpad.com if you have any questions.  Thank you again for using
  Funding Launchpad for your offering!

%p
  Sincerely,
  %br
  The Funding Launchpad Team