%h1 Your Investment Offer Has Been Acknowledged
%p
  This is a first step.  The offering issuer has acknowledged your request to invest in
  their offering.  If they are interested in your offer, you should receive an acceptance
  notice shortly.
%p
  Be patient.  Some offerings receive many requests for investment.  It can occassionally
  take the owner of the offering some time to review offers.
%p
  You can check the status of your investments under "My Investments."  When this offering
  owner accepts your offer, you will receive another email message.
  