%h1 Congratulations!  Your investment offer has been accepted.
%p
  The owner of this offering has accepted your investment offer.  That means it's time to
  send money.  Please review the investment instructions:
%p
  = @investment.offering.instructions
%p
  Please assemble your funds and get them sent to the offering as instructed above.  Once
  done, please indicate you have done so under "My Investments."
%p
  Thank you again for using the Funding Launchpad.
