%h1 Thank you!
%p
  You've just expressed an interest in investing! The details of your proposed investment are as follows:
  %ul
    %li
      %b
        Name of Company:
      = "#{@investment.offering.company.name}"
    %li
      %b
        Offering: 
      = "#{@investment.offering.name}"
    %li
      %b
        Dollar Investment:
      = number_to_currency(@investment.offered_amount)
    %li
      %b
        Number of Shares to Purchase:
      = @investment.num_shares_offered

  %p
    If this isn't right, or if you did not express an interest to invest, please contact us immediately at
    = PCP_CONFIG.is_pcp? ? PCP_CONFIG.support_email : "info@fundinglaunchpad.com"

  %p
    If this is correct, then great, you're well on your way to investing! Below please find the
    instructions for how to complete an investment in this offering. Please follow the instructions
    EXACTLY to avoid any problems completing your investment.

  %p
    %h3 INSTRUCTIONS:
    = raw @investment.offering.instructions

    -if @investment.offering.min_goal_reached?
      %p
        We've already reached our minimum investment threshold, so once the paperwork is complete and the funds
        have been transferred, you’ll officially be an investor in, and a part of, our company! And that means
        that what's good for us is good for you too.
      %p
        So do yourself a favor and spread the word about us and our offering to anyone who might be interested!
        (And don’t forget that you still have to fill out some documents as well).
    -else
      %p
        Remember that we can’t actually make you an investor until our minimum investment level
        is reached; if we don't reach it, we have to give you your money back.
      %p
        So, if you really want to become a part our company, please <strong>spread the word</strong> about us and our
        offering – help us reach our minimum so we can make you an investor!

  %p
    Finally, please note that until all the steps detailed above are done, your investment in this offering
    will not be complete.  Further, please note that neither you nor #{@investment.offering.company.name}
    is legally obligated to complete your proposed investment.  Until the necessary documentation has been signed by all parties,
    either you or #{@investment.offering.company.name} may choose not to complete the investment, for any reason.

  %p
    Please email us at
    = PCP_CONFIG.is_pcp? ? PCP_CONFIG.support_email : "info@fundinglaunchpad.com"
    if you have any questions.  Thanks and happy investing!

  - if PCP_CONFIG.is_pcp?
    %p
      Sincerely,
      %br
        The #{@investment.offering.company.name} Team
  - else
    %p
      = render 'shared/email_signature'









