
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true, :html => { :method => :put }) do |f|
  = f.error_notification
  .well.span
    .inputs
      = f.input :email, :required => true, :autofocus => true
      = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
      = f.input :password_confirmation, :required => false
      = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true

      = form_actions "Save Changes", "Cancel", btn_cancel_path: "#account"
