
-resource ||= @resource || User.new.with_person

=render :partial => "shared/flash", :locals => {:flash => flash, :no_hide => true}

.tabbable
  %ul.nav.nav-tabs#login-tabs
    %li
      =link_to "Log in", "#login-tab", :'data-toggle' => "tab"
    %li.active
      =link_to "Create a Free Account", "#signup-tab", :'data-toggle' => "tab"

.tab-content
  #signup-tab.tab-pane.active
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true, defaults: {input_html: {class: "span4"}}) do |f|
      = render :partial => "/users/register", :locals => {f: f, hide_email: false}
  #login-tab.tab-pane
    = render :partial => "users/sessions/form", :locals => {:resource => resource}