.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}

.container
  .tabbable
    %ul.nav.nav-tabs#login-tabs
      %li
        =link_to "Log in", "#login-tab", :'data-toggle' => "tab"
      %li.active
        =link_to "Create a Free Account", "#signup-tab", :'data-toggle' => "tab"

  .tab-content
    #signup-tab.tab-pane.active
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), defaults: {input_html: {class: "span4"}}) do |f|
        = render :partial => "/users/register", :locals => {f: f, hide_email: false}
    #login-tab.tab-pane
      = render :partial => "users/sessions/form", :locals => {:resource => resource}

  -if is_pcp?
    .row
      - name = is_pcp? ? PCP_CONFIG.name : "Funding Launchpad"
      .span
        .span12.well.muted
          %h5= "#{name} is using the Funding Launchpad platform to power this offering."
          %p
            %h5
              If you have previously created a login on a different Funding Launchpad site, you can use the same
              social login or username and password to access the #{name} offering.
