<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />{% if page.author %}
    <meta name="author" content="{{ page.author }}" />{% endif %}{% if page.description %}
    <meta name="description" content="{{ page.description }}" />{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% if page.logged_in %}/home.html#{% else %}/#{% endif %}">Vim Hero's Journey</a>
            <div class="nav-collapse collapse">{% if page.logged_in %}
              <ul class="nav">
                <li{% if page.url == '/journal.html' %} class="active"{% endif %}><a href="/journal.html#">TEJ Journal</a></li>
                <li{% if page.url == '/profile.html' %} class="active"{% endif %}><a href="/profile.html#">Profile</a></li>
                <li{% if page.url == '/account.html' %} class="active"{% endif %}><a href="/account.html#">Account</a></li>
                <li{% if page.url == '/privacy-settings.html' %} class="active"{% endif %}><a href="/privacy-settings.html#">Privacy Settings</a></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="/profile.html#" class="user-avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=18"></a></li>
                <li><a href="/profile.html#">First Last</a></li>
                <li>
                  <form class="navbar-form" action="/" method="get">
                    <button type="submit" class="btn">Log Out</button>
                  </form>
                </li>
              </ul>
              {% else %}
              <form class="navbar-form pull-right" action="/home.html" method="get">
                <input class="span2" type="text" placeholder="Email" />
                <input class="span2" type="password" placeholder="Password" />
                <button type="submit" class="btn btn-primary">Log In</button>
              </form>{% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        {{ content }}
      </div>

      <div id="push"></div>
    </div>

    <footer id="footer">
      <div class="container">
        <p class="muted pull-left"><a href="/" title="Go to Vim Hero's Journey Home">Vim Hero's Journey</a> &copy; 2013</p>
        <p class="muted pull-right"><a href="#" title="Go back to the top of this page">Back to top</a></p>
      </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
