- if PCP_CONFIG.is_pcp?
  %h3= "Please confirm your email."
  %p
    = "You have successfully created an account to view the crowdfunding offering page for #{PCP_CONFIG.name}."
  %p
    In order to review the details of this offering, you must confirm your email address.
  %p
    You can confirm your account email through the link below:
  %p=  link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
  %p
    = "Thanks for supporting #{PCP_CONFIG.name}"
- else
  %h3= "Please confirm your email."
  %p
    In order to access the site and start researching investment opportunities, you must confirm your email address.
  %p
    You can confirm your account email through the link below:
  %p=  link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
  %p
    Sincerely,
    %br
    Funding Launchpad
