
.questions.span
  .span1
    .thumb-container.well
      = image_tag(question.user.person.profile_picture_url(:thumb).to_s)

  .well.span6.question
    .q-a-arrow-border
    .q-a-arrow
    =link_to icon_tag(" Reply", "icon-share-alt icon-mirrored"), new_offering_question_answer_path(@offering, question), :class => "btn btn-reply", :title => "Reply", :remote => !user_signed_in?
    .q-a-header

      %h5
        = "#{question.user.person.first_name} #{question.user.person.last_name}"
      %h6
        = "#{distance_of_time_in_words_to_now(question.created_at)} ago"
    %p.q-a-content

      = link_to "#{question.content}", offering_question_path(@offering, question)

- question.answers.each do |answer|
  .answers.span.offset1
    .span1
      .thumb-container.well{:class => answer.user.has_role?(:offering_admin, @offering) ? "issuer-answer" : ""}
        = image_tag(answer.user.person.profile_picture_url(:thumb).to_s)

    .well.span5.answer{:class => answer.user.has_role?(:offering_admin, @offering) ? "issuer-answer" : ""}
      .q-a-arrow-border
      .q-a-arrow
      .q-a-header
        %h5
          = "#{answer.user.person.first_name} #{answer.user.person.last_name}"
        %h6
          = "#{distance_of_time_in_words_to_now(answer.created_at)} ago"
      %p.q-a-content
        = answer.content
