
= render "shared/offering_nav"

.container
  .row
    .span8
      - if @questions.count == 0
        %h4.ac
          There are no questions for this offering.
        %p
          .invest-btn.ac= link_to "Ask a question!", new_offering_question_path(@offering), :class => "btn btn-primary btn-large", :remote => !user_signed_in?
      -else
        %h4.ac
          Want more info about this offering? Browse the Q&A's below or...
        %p
          .invest-btn.ac= link_to "Ask a new question!", new_offering_question_path(@offering), :class => "btn btn-primary btn-large", :remote => !user_signed_in?
        %hr
        #questions-container
          = render @questions

      #question-paginator
        = paginate @questions, :remote => true

    .span4.offering-sidebar
      = render :partial => 'offerings/offering_sidebar'