
= render "shared/required_modal/confirm_email"

.hero-alt-top
  .container
    %h2 New Question

= simple_form_for [@offering, @question], :html => {:class => '' } do |f|
  .container

    .row
      .span4

        .well.span5
          - flash.each do |key, value|
            .alert{:class => key}= value

          = f.input :content, 
            :label => "What is your question?",
            :required => false,
            :input_html => {:size => "100x10", :class => "span5"}
          = form_actions

