.hero-alt-top
  .container
    %h2= "#{@question.content}"
    = "#{@question.user.person.first_name} #{@question.user.person.last_name} (#{distance_of_time_in_words_to_now(@question.created_at)} ago)"

.container
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %td{:colspan => "2"}
        - if params[:list] == "i"
          = link_to "See All Answers", offering_question_path(@offering)
        - else
          = pluralize(@question.answers.count, "answer")
          = link_to "See Only Issuer Answers", offering_question_path(@offering, :list => "i")
    - @question.answers.each do |answer|
      - if (params[:list] == "i" && answer.user.has_role?(:offering_admin, @offering)) || params[:list].nil?
        %tr
          %td{:width => "150"}
            - if !answer.user.person.profile_picture.blank?
              = image_tag(answer.user.person.profile_picture_url(:thumb).to_s)
            %br
            = "#{answer.user.person.first_name} #{answer.user.person.last_name}"
            %br
            = "#{distance_of_time_in_words_to_now(answer.created_at)} ago"
          %td= answer.content

  .form-actions-custom-left
    = link_to "Back To Questions", offering_questions_path(@offering), {class: 'btn btn-success pull-left'}
    = button_to "New Answer", new_offering_question_answer_path(@offering, @question), {class: 'btn btn-primary pull-left'}
