<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vim Hero's Journey</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv" %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Vim Hero's Journey</a>
            <div class="nav-collapse collapse">
            <% if current_user %>
              <ul class="nav">
                <li><a href="/journal">TEJ Journal</a></li>
                <li><%= link_to 'Profile', edit_user_path(current_user) %></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/privacy-settings">Privacy Settings</a></li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <%= link_to current_user, :class => 'user-avatar' do %>
                    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=18">
                  <% end %>
                </li>
                <li><%= link_to current_user.name, current_user %></li>
                <li>
                  <%= form_tag logout_path, :class => 'navbar-form' do %>
                    <%= submit_tag 'Log Out', :class => 'btn' %>
                  <% end %>
                </li>
              </ul>
            <% else %>
              <%= form_tag login_path, :class => 'navbar-form pull-right' do %>
                <%= text_field_tag :email, '', :class => 'span2', :placeholder => 'Email' %>
                <%= password_field_tag :password, '', :class => 'span2', :placeholder => 'Password' %>
                <%= submit_tag 'Log In', :class => 'btn btn-primary' %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <%= yield %>
      </div>

      <div id="push"></div>
    </div>

    <footer id="footer">
      <div class="container">
        <p class="muted pull-left"><a href="/" title="Go to Vim Hero's Journey Home">Vim Hero's Journey</a> &copy; 2013</p>
        <p class="muted pull-right"><a href="#" title="Go back to the top of this page">Back to top</a></p>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
