.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 My Contributions And Rewards

.container
  %h4 Contributions
  - if @contributions.count == 0
    .small_notice
      There are currently no contributions recorded.
  - else
    %table.table.table-striped.table-bordered
      %tr
        %th Offering
        %th Contribution
        %th Date

      - @contributions.each do |contribution|
        %tr
          %td= link_to contribution.offering.name, offering_path(contribution.offering)
          %td= number_to_currency(contribution.amount)
          %td= contribution.created_at.strftime("%m/%d/%Y")

.container
  %h4 Rewards
  - if @user_rewards.count == 0
    .small_notice
      You have not acquired any rewards.
  - else
    %table.table.table-striped.table-bordered
      %tr
        %th Offering
        %th Reward
        %th Price
        %th Address
        %th Date
        %th Status
        %th Options
      - @user_rewards.each do |ur|
        %tr
          %td= link_to ur.offering.name, offering_path(ur.offering)
          %td= ur.reward.title
          %td= number_to_currency(ur.price)
          - if ur.reward.delivery_method == "Physical"
            %td= raw(ur.address_as_text(ur.address))
          - else
            %td= ur.email
          %td= ur.created_at.localtime.strftime("%m/%d/%Y")
          %td= ur.fulfillment_status
          %td
            = link_to "Change Address", edit_user_reward_path(ur), class: "btn btn-primary"
            - if ur.fulfillment_status == "New"
              = link_to 'Cancel Reward', ur, class: "btn btn-danger", :data => { :confirm => 'Are you sure?'}, :method => :delete
              