%h1= "Congratulations, you've been invited to register!"
%p
  Hey, somebody has invited you to register at The Funding Launchpad.
%p
  To sign up, just follow this link.  You will automatically be affiliated with your
  company's account and you will be given further instructions on what you can do next.
%p
  = link_to "Register Now", register_url(:host => "localhost:3000", :r => @invitation.registration_key, :p => @invitation.password)
  