= "Congratulations, #{@user.email}, you are now subscribed to our newsletter!"
====================================================

We think you're going to find The Funding Launchpad a great way to raise money for
your company or invest in promising companies.

Shortly, you will receive the next edition of The Funding Launchpad newsletter!
