%h3= "Congratulations, #{@user.person.first_name}, you have been given access to view a private offering!"
%p
  = "The creators of #{@offering.name} have invited you to view their private offering. You can view the offering by visiting the link below!"
  
  = link_to "#{@offering.name}", offering_path(@offering)
%p
  Thanks for being an integral part of Funding Launchpad!