%h3= "Congratulations"
%p
  You have successfully registered with Funding Launchpad!
%p
  You are now free to browse active offerings,
  contribute to offerings, and even create an offering of your own.
%p
  = render 'shared/email_signature'
