= "Congratulations"
====================================================

You have successfully registered with Funding Launchpad!

You are now free to browse active offerings,
contribute to offerings, and even create an offering of your own.

Sincerely,

Funding Launchpad
