html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 979px) {
  #wrap > .container {
    padding-top: 60px;
  }
}

#footer > .container > p {
  margin: 20px 0;
  font-size: 12px;
}

.form-signup .form-signup-heading {
  margin-bottom: 10px;
}
.form-signup input[type="text"],
.form-signup input[type="password"] {
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.form-signup input[type="text"],
.form-signup input[type="password"],
.form-signup .form-signup-birthday-label {
  font-size: 16px;
  font-weight: bold;
}
.form-signup .form-signup-birthday-label {
  color: #999;
  padding: 0px 0px 7px 9px;
}

#updateJourney > label {
  font-size: 11px;
  font-weight: bold;
}

.user-avatar {
  padding-right: 0px !important;
}