.well
  = simple_form_for @press do |f|
    = f.error_notification

    .form-inputs
      = f.input :title, input_html: { class: 'span3' }
      = f.input :link, input_html: { class: 'span6' }
      = f.input :description, input_html: { class: 'span6', size:'40x6' }
      = f.input :published_date, input_html: { class: 'span2' }
      = f.label :publisher_logo
      .row.control-group
        .span
          = image_tag(@press.publisher_logo_url(:thumb)) if @press.publisher_logo_url
        .span
          = f.input :publisher_logo, :label => false

      = f.input :publish
      = f.input :feature

    .form-actions
      = f.button :submit, class: "btn-primary"
