

-if @press.nil? or @press.count == 0
  %h3
    Press is currently being updated...check back soon
-else
  .row
    .span
      %ul.thumbnails
        - @press.each do |press|

          %li.span3
            = render "press_box", :press => press
  #press-paginator
    = paginate @press, :remote => true
