
.thumbnail.press-box
  = image_tag(press.publisher_logo_url(:main))
  .caption
    %h4.auto-ellipsis
      - if press.title.length > 45
        = "#{press.title[0..45]}..."
      - else
        = press.title
    %h6
      = press.published_date.to_s(:date_only)
    %p.description.auto-ellipsis
      = "#{press.description[0..150]}..."

    %p
      = link_to "Read More...", press.link, class: "btn btn-primary", target: "_blank"