.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 Funding Launchpad Press

.container
  %p
    = link_to 'Add Press', new_press_path, class: "btn btn-primary"


  -if @press.nil? or @press.count == 0
    %h3
      We haven't added any press yet :-(
  -else
    %table.table.table-striped.table-bordered
      %tr
        %th Title
        %th Description
        %th Published Date
        %th Publisher Logo
        %th Visible
        %th Featured
        %th Actions

      - @press.each do |press|
        %tr{id: "press_#{press.id}"}
          %td= press.title
          %td= press.description
          %td= press.published_date
          %td= image_tag(press.publisher_logo_url(:thumb))
          %td= press.publish
          %td= press.feature
          %td
            = link_to 'Edit', edit_press_path(press), class: 'btn btn-primary'
