
.hero-alt-top
  .container
    %h2= @press.title
.container
  %p
    %b Link:
    = @press.link
  %p
    %b Description:
    = @press.description
  %p
    %b Published date:
    = @press.published_date
  %p
    %b Visible:
    = @press.publish
  %p
    %b Featured:
    = @press.feature
  %p
  .row
    = image_tag(@press.publisher_logo_url)
  .row
    %br
    = link_to 'Back', press_admin_path, class: "btn"
    = link_to 'Edit', edit_press_path(@press), class: 'btn btn-primary'

