// Auctions Section (partial of offerings#show)

- if @offering.auctions.count > 0
  .offering-section
    .header
      %h3
        Auctions
    - @offering.auctions.each do |auction|
      %div{id: "auction_detail#{auction.id}", class: "modal hide fade in" }
        .modal-header
          %a.close{"data-dismiss" => "modal"} &times;
          %h3= "#{auction.title}"
        .modal-body
          = raw(auction.description)
          %p
            = render partial: "auctions/auction", locals: { auction: auction }
        .modal-footer
          %a.btn{:href => offering_path(@offering), "data-ga" => "required_warning_back"} Back to Offering
      %div{id: "bid_detail#{auction.id}", class: "modal hide fade in" }
        .modal-header
          %a.close{"data-dismiss" => "modal"} &times;
          %h3= "Bidding on '#{auction.title}'"
        .modal-body
          %p
            = render partial: "auction_preferences/new", locals: { auction: auction }
        .modal-footer
          %a.btn{:href => offering_path(@offering), "data-ga" => "required_warning_back"} Back to Offering
      .span7
        .thumbnail
          .alert.alert-info
            %h4
              = auction.title
          .row
            .span1
            .offset1= raw(auction.description)
            .pull-right
              Minimum price:
              %strong= number_to_currency(auction.price)
          .row
            .span5.muted
              -if auction.bids.count == 0
                No bid yet.
              -else
                = "Current bid: #{number_to_currency(auction.bids.last.amount)}"
            .offset1
              %a.btn.btn-primary.pull-right{href: "#{new_auction_preference_path}?a=#{auction.id}", "data-toggle" => "modal"}
                Bid!
              %a.btn.pull-right{href: "#auction_detail#{auction.id}", "data-toggle" => "modal"}
                Details
