.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseAuction"}
      Auctions
    
    = link_to "#{auctions_section_complete_link}",
              offering_auctions_admin_path(@offering),
              class: "btn pull-right"
    %span.accordion-toggle.pull-right= "#{auctions_section_complete_amt}%" 
  #collapseAuction.accordion-body.collapse
    .accordion-inner
      - if @offering.auctions.nil? or @offering.auctions.count == 0
        There are no auctions associated with this offering
      - else
        %table.table.table-striped
          - @offering.auctions.order(:price).each do |auction|
            %tr
              %td= truncate(auction.title)
              %td= "Minimum Price: #{number_to_currency(auction.price)}"
              - if auction.bids.nil? or auction.bids.count == 0
                %td= "No bid yet."
              - else
                %td= "Current bid: #{number_to_currency(auction.bids.last.amount)}"
              %td= "Bidding ends: #{auction.auction_end_time} "
              %td= "#{truncate(raw(auction.description), length: 60)}"
