.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseBasic"}
      Basic Information 
    
    = link_to "#{basic_section_complete_link}", edit_offering_path(@offering), class: "btn pull-right"

  #collapseBasic.accordion-body.collapse.in
    .accordion-inner
      .row
        .span7
          %table.table.table-striped
            %tr
              %td{:width => "150"} Name:
              %td= @offering.name
            - unless contributions_only?
              %tr
                %th{:colspan => "2"} Investment Settings
              %tr
                %td Investments Enabled:
                %td= @offering.investments_enabled ? 'Yes' : 'No'
              - if @offering.debt?
                %tr
                  %td= "#{I18n.t :interest_rate, :scope => [:simple_form, :labels, :offering]}:"
                  %td= number_to_percentage(@offering.interest_rate, :precision => 2, :strip_insignificant_zeros => true)
                %tr
                  %td= "#{I18n.t :min_investment, :scope => [:simple_form, :labels, :offering]}"
                  %td= "#{number_to_currency(@offering.min_investment, :precision => 2, :strip_insignificant_zeros => true)}"
                %tr
                  %td= "#{I18n.t :repayment, :scope => [:simple_form, :labels, :offering]}"
                  %td= @offering.repayment_text
                %tr
                  %td= "#{I18n.t :term, :scope => [:simple_form, :labels, :offering]}"
                  %td= @offering.term
                %tr
                  %td Raise Amt:
                  %td= "#{number_to_currency(@offering.minimum_goal)}"
              - else
                %tr
                  %td Share Price:
                  %td= number_to_currency(@offering.share_price)
                %tr
                  %td Minimum Investment:
                  %td= number_to_currency(@offering.min_investment)
                %tr
                  %td Shares Offered:
                  %td= "Min: #{comma_delimited_number(@offering.min_shares)} Max: #{comma_delimited_number(@offering.max_shares)}"
                %tr
                  %td Equity Offered:
                  %td= "Min: #{@offering.min_equity}% Max: #{@offering.max_equity}%"
                %tr
                  %td Outstanding Shares:
                  %td= comma_delimited_number(@offering.shares_issued)
                %tr
                  %td Raise Amts:
                  %td= "Min: #{number_to_currency(@offering.minimum_goal)} Max: #{number_to_currency(@offering.maximum_goal)}"
            %tr
              %td Activation Date:
              %td= @offering.activation
            %tr
              %td Expiration Date:
              %td= @offering.expiration
            - unless contributions_only?
              %tr
                %th{:colspan => "2"} Component Visibility Settings
              %tr
                %td Show Investor Count:
                %td= @offering.show_investor_count ? 'Yes' : 'No'
              %tr
                %td Show Social Media Links:
                %td= @offering.show_social_media ? 'Yes' : 'No'
              %tr
                %td Show Investment Progress Bar:
                %td= @offering.show_progress_bar ? 'Yes' : 'No'
              %tr
                %th{:colspan => "2"} Contribution Settings
            - if contributions_only?        
              %tr
                %td Contribution Goal:
                %td= number_to_currency(@offering.contribution_goal)
              %tr
                %td Rewards Enabled:
                %td= @offering.rewards_enabled ? 'Yes' : 'No'
            - else
              %tr
                %td Contributions Enabled:
                %td= @offering.contributions_enabled ? 'Yes' : 'No'
              %tr
                %td Contribution Goal:
                %td= number_to_currency(@offering.contribution_goal)
              %tr
                %th{:colspan => "2"} Rewards Settings
              %tr
                %td Rewards Enabled:
                %td= @offering.rewards_enabled ? 'Yes' : 'No'
              - if @offering.rewards_enabled
                %tr
                  %td Orientation:
                  %td= @offering.rewards_display_orientation == 'V' ? 'Vertical' : 'Horizontal'
                %tr
                  %td Alignment:
                  %td= @offering.rewards_horizontal_alignment == 'L' ? 'Left' : (@offering.rewards_horizontal_alignment == 'C' ? 'Center' : 'Right')
                %tr
                  %td Reward Heading:
                  %td= @offering.rewards_gift_heading
                %tr
                  %td Reward Subheading:
                  %td= @offering.rewards_gift_subheading
                %tr
                  %td Auction Heading:
                  %td= @offering.rewards_auction_heading
                %tr
                  %td Auction Subheading:
                  %td= @offering.rewards_auction_subheading
                %tr
                  %td Rewards Displayed (99=all):
                  %td= @offering.rewards_max_displayed
                %tr
                  %td Default Auction Duration (in days):
                  %td= @offering.rewards_default_auction_duration
            
            - if @offering.short_description
              %tr
                %th{:colspan => "2"}
              %tr
                %td{:valign => "top"} Brief Description:
                %td= @offering.short_description.html_safe
        .span4
          - if !@offering.logo.nil? and  !@offering.logo.blank?
            = image_tag(@offering.logo_url(:small), :class => "logo_box")

