
.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseDesc"}
      Company Overview
      -if @offering.company
        = link_to "Update",
                    edit_offering_company_path(@offering),
                    id: "edit_link",
                    class: "btn pull-right"
      - else
        = link_to "Start",
                    new_offering_company_path(@offering),
                    id: "edit_link",
                    class: "btn pull-right"
                  
    %span.accordion-toggle.pull-right
  #collapseDesc.accordion-body.collapse
    .accordion-inner 
      - if @offering.company.try(:description).nil?
        There is no company overview
      - else
        = @offering.company.description.html_safe

