.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseDoc"}
      Documents
    
    = link_to "#{documents_section_complete_link}", 
              offering_documents_path(@offering), 
              class: "btn pull-right"
  #collapseDoc.accordion-body.collapse
    .accordion-inner
      - if @offering.documents.nil? or @offering.documents.count == 0
        There are no documents associated with your offering
      - else
        %table.table.table-striped
          - @offering.documents.each do |document|
            %tr
              %td
                = link_to "#{File.basename(document.document_url)}", document.document_url
                - if document.required
                  (required)
              %td
                = document.description
    
