.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseEvent"}
      Events

      = link_to "Update",
                offering_events_admin_path(@offering), 
                class: "btn pull-right"
  #collapseEvent.accordion-body.collapse
    .accordion-inner
      - if @offering.events.nil? or @offering.events.count == 0
        There are no events associated with your offering.
      - else
        %table.table.table-striped
          - @offering.events.each do |event|
            %tr
              %td= event.start_date.to_s(:date_only)
              %td= dates_to_human(event.start_date, event.end_date)
              %td= event.title
              %td= event.description.html_safe
