- if @offering.final_weeks?
  -weeks_to_go = Time.diff(Time.now.utc, @offering.expiration_date.end_of_day, '%w')[:diff][/\d+/].to_i
  .info-item.info-item-full
    .title
      -if weeks_to_go > 0
        Weeks Left To Invest
      -else
        Better Hurry!
    .value
      .tip.ib{title: "Ends on: #{@offering.expiration}", rel: "tooltip", data: {placement: "right"}}
        -if weeks_to_go > 0
          = weeks_to_go
        -else
          Final Week!
- if !@offering.final_weeks? && @offering.expired?
  .info-item.info-item-full
    .title
      This Offering Ended On:
    .value
      = @offering.expiration_date.to_s