.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseInvest"}
      Investment Instructions

      = link_to "#{instructions_section_complete_link}",
                  edit_offering_path(:section => "I"),
                class: "btn pull-right"
  #collapseInvest.accordion-body.collapse
    .accordion-inner
      - if @offering.instructions.nil? 
        There are no instructions associated with your offering.
      - else
        = raw @offering.instructions
