.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseLink"}
      Links

      = link_to "#{links_section_complete_link}",
                offering_links_path(@offering),
                class: "btn pull-right"
  #collapseLink.accordion-body.collapse
    .accordion-inner
      - if @offering.links.nil? or @offering.links.count == 0
        There are no links associated with your offering.
      - else
        %table.table.table-striped
          - @offering.links.each do |link|
            %tr
              %td= link_to "#{link.link}", link.link, :target => "_blank"
              %td= link.description

