
%div{:class => offering_counter == 0 ? "item active" : "item"}
  .thumbnail.offering-card{:onclick => "location.href='#{offering_path(offering)}';"}
    .title
      %h2= offering.name
      %h5= "by #{offering.company.name}"
    .offering-details
      .row
        .span3
          = image_tag(offering.logo_url(:main), :alt => "offering Logo", :width => "210px")
        .span3
          %p.offering_short_desc
            - if offering.short_description.length > 280
              = "#{offering.short_description[0..279]}..."
            - else
              = offering.short_description
      .row
        .span.offering_info
          .info-item
            %span
              Share Price:
            = "#{number_to_currency(offering.share_price)}"
          .info-item
            %span
              Issued Shares:
            = "#{offering.shares_issued}"
          .info-item
            %span
              Min Raise:
            = "#{number_to_currency(offering.minimum_goal)}"
          .info-item
            %span
              Max Raise:
            = "#{number_to_currency(offering.maximum_goal)}"
      .row
        .span6.progress-info
          .progress-text
            = funded_label offering.min_funded_percent, offering.invested
          .progress.progress-striped.progress-success.active
            .bar{:style => "width: #{offering.debt? ? offering.min_funded_percent : offering.max_funded_percent}%;"}

      .offering_actions_window

        -if signed_in? and current_user.following?(offering)
          You are following this offering!

        - if can_edit_this_offering?(offering)
          = link_to "Edit This Offering", offering_path(offering)