.row
  .span5
    = f.input :name, :input_html => { :class => "span5" }, :error => false
  .span5.offset1
    = f.input :logo, :hint_html => {:class => "span5"}

.row
  .span5
    =f.input :expiration_date, :error => false, :wrapper => :prepend do
      %span.add-on>
        %i.icon-calendar
      =f.input_field :formatted_expiration_date, :as => 'string', :class => "span5 datepicker-me", :placeholder => "mm/dd/yyyy"
%hr
.row
  .span11
    = f.input :short_description, :input_html => {:size => "65x8", :class => "span11 wysi"}

%hr
.row
  .span5
    =f.input :contribution_goal
  .span5.offset1
    =f.input :rewards_enabled, :wrapper => :inline_checkbox
