-@offering = offering
.item
  .thumbnail.press-box
    .offering-card-carousel
      .offering-details
        -if offering.active?
          .div.banner-blank
        -else
          .div.banner-text
            Launching Soon!
        .card-row.img
          - if offering.logo.blank?
            %img{:alt => "", :src => "/assets/blank_logo.png"}
          - else
            = image_tag(offering.logo_url(:main), :alt => "Offering Logo" )
        .card-row
          .title
            %h5= offering.name

            %p.offering_short_desc.auto-ellipsis
              - if offering.short_description && offering.short_description.length > 120
                = "#{offering.short_description[0..119]}...".html_safe
              - else
                = offering.short_description.html_safe if offering.short_description
