-@offering = offering
%div.item
  .thumbnail.offering-card-alt{:onclick => "location.href='#{offering_path(@offering)}';"}
    .offering-details
      -if @offering.active?
        .div.banner-blank
      -else
        .div.banner-text
          Launching Soon!
      .card-row.img
        = image_tag(@offering.logo_url(:main), :alt => "Offering Logo" ) unless @offering.logo_url.nil?
      .card-row
        .title
          %h5= @offering.name

          %p.offering_short_desc.auto-ellipsis
            - if @offering.short_description && @offering.short_description.length > 120
              = "#{@offering.short_description[0..119]}...".html_safe
            - else
              = @offering.short_description.html_safe if @offering.short_description
      -if @offering.investments_enabled        
        .card-row
          .offering_info
            %strong Investment Info
            -if @offering.debt?
              .info-item
                %span
                  = "#{I18n.t :interest_rate, :scope => [:simple_form, :labels, :offering]}:"
                = number_to_percentage(@offering.interest_rate, :precision => 2, :strip_insignificant_zeros => true)
              .info-item.info-item-full
                %span
                  Min Investment:
                = "#{number_to_currency(@offering.min_investment, :precision => 2, :strip_insignificant_zeros => true)}"
              .info-item
                %span
                  = "#{I18n.t :repayment, :scope => [:simple_form, :labels, :offering]}:"
                = @offering.repayment_text
              .info-item.info-item-full
                %span
                  Term:
                = @offering.term
            -else
              .info-item
                %span
                  Share Price:
                = "#{number_to_currency(@offering.share_price)}"
              .info-item
                %span
                  Issued Shares:
                = "#{@offering.shares_issued}"
              .info-item
                %span
                  Min Raise:
                = "#{number_to_currency(@offering.minimum_goal)}"
              .info-item
                %span
                  Max Raise:
                = "#{number_to_currency(@offering.maximum_goal)}"

        .card-row
          = render partial: "shared/progress_info", locals: {no_tics: true}

      -if @offering.contributions_enabled
        .card-row
          .offering_info
            %strong Campaign Info
            .info-item
              %span
                Goal:
              = number_to_currency(@offering.contribution_goal)

        .card-row
          = render partial: "shared/contribution_progress_info", locals: {no_tics: true}

      .offering_actions_window

        -if signed_in? and current_user.following?(@offering)
          You are following this offering!

        - if can_edit_this_offering?(@offering)
          = link_to "Edit Offering", admin_offering_path(@offering), class: "btn"
