.row
  .span5
    = f.input :name, :input_html => { :class => "span5" }, :error => false
  .span5.offset1
    = f.input :logo, :hint_html => {:class => "span5"}

.row
  .span5
    =f.input :investments_enabled, :wrapper => :inline_checkbox
.row
  .span5
    =f.input :expiration_date, :error => false, :wrapper => :prepend do
      %span.add-on>
        %i.icon-calendar
      =f.input_field :formatted_expiration_date, :as => 'string', :class => "span5 datepicker-me", :placeholder => "mm/dd/yyyy"
  .span5.offset1
    = f.input :state_tokens, :input_html => {:"data-pre" => @offering.current_state_tokens, :class => "state-tokens"}
%hr
.row
  .span11
    = f.input :short_description, :input_html => {:size => "65x8", :class => "span11 wysi"}

%hr
.row
  .span5
    = f.input :show_investor_count, :wrapper => :inline_checkbox
.row
  .span5
    = f.input :show_social_media, :wrapper => :inline_checkbox
.row
  .span5
    = f.input :show_progress_bar, :wrapper => :inline_checkbox
    
%hr
.row
  .span5
    =f.input :contributions_enabled, :wrapper => :inline_checkbox
.row
  .span5
    =f.input :contribution_goal
%hr
.row
  .span5
    =f.input :rewards_enabled, :wrapper => :inline_checkbox
.row
  .span5
    = f.input :rewards_display_orientation, 
              :collection => {'Vertical' => 'V', 'Horizontal' => 'H'}, 
              :selected => 'V'
  .span5.offset1
    = f.input :rewards_horizontal_alignment,
              :collection => {'Left' => 'L', 'Center' => 'C', 'Right' => 'R'},
              :selected => 'C'
.row
  .span5
    = f.input :rewards_gift_heading, :placeholder => "Gifts"
  .span5.offset1
    = f.input :rewards_gift_subheading, :input_html => { size: 120 }, :placeholder => "Rewards for your generous contribution"
.row
  .span5
    = f.input :rewards_auction_heading, :placeholder => "Auctions"
  .span5.offset1
    = f.input :rewards_auction_subheading, :placeholder => "Your chance to get something special"
.row
  .span5
    = f.input :rewards_max_displayed
  .span5.offset1
    = f.input :rewards_default_auction_duration

%hr
.row
  .span5
    = f.input :debt,
              :collection => [['Equity', false], ['Debt', true]],
              :as => :radio_buttons,
              :item_wrapper_class => 'inline'
.debt-fields.hide
  .row
    .span5
      = f.input :term, wrapper: :prepend do
        %span.add-on
          %i.icon-time
        = f.input_field :term, value: @offering.term, class: "span5"
    .span5.offset1
      = f.input :repayment, :collection => Offering::REPAYMENTS.map{|k,v| [k.to_s.titlecase ,v]}, input_html: {class: "span5"}

  .row
    .span5

      =f.input :interest_rate, :wrapper => :append do
        = f.input_field :interest_rate, class: "span5"
        %span.add-on %
    .span5.offset1.min-investment-holder
  .row
    .span5
      =f.input :minimum_goal, :wrapper => :prepend do
        %span.add-on> $
        =f.input_field :minimum_goal, :class => "span5", :placeholder => "0.0"

.equity-fields
  .row
    .span5
      =f.input :shares_issued, :error => false, :wrapper => :prepend do
        %span.add-on> #
        =f.input_field :shares_issued, :class => "span5", :placeholder => "0"
    .span.offset1
      .row
        .span
          =f.label :min_shares
      .row
        .span
          =f.input :min_shares, :error => false, :label => false, :wrapper => :prepend do
            %span.add-on>
              %small
                Min
            =f.input_field :min_shares, :class => "span2 shares", :placeholder => "Minumum"
        .span
          =f.input :max_shares, :error => false, :label => false, :wrapper => :prepend do
            %span.add-on>
              %small
                Max
            =f.input_field :max_shares, :class => "span2 shares", :placeholder => "Maxiumum"
  .row
    .span5
      =f.input :share_price, :error => false, :wrapper => :prepend do
        %span.add-on> $
        =f.input_field :share_price, :class => "span5", :placeholder => "0.0"
    .span5.offset1.min-investment-holder
      =f.input :min_investment, :wrapper => :prepend do
        %span.add-on> $
        =f.input_field :min_investment, :class => "span5", :placeholder => "0.0"
.row
  .span5
    =f.input :ppm, :wrapper => :inline_checkbox
  .span5.offset1
    =f.input :private, :wrapper => :inline_checkbox
    
.row
  .span5
    =f.input :show_investor_count, :wrapper => :inline_checkbox
.row
  .span5
    =f.input :show_social_media, :wrapper => :inline_checkbox
.row
  .span5
    =f.input :show_progress_bar, :wrapper => :inline_checkbox

