%h3.title
  - if !@offering.expired?
    .sidebar-btn.ac= link_to "Ask a Question", new_offering_question_path(@offering), :class => "btn btn-primary btn-large btn-wide", :remote => !user_signed_in?
    - if current_user && current_user.following?(@offering)
      .sidebar-btn.ac= link_to "Stop Following this Offering", unfollow_offering_path(@offering), :class => "btn btn-warning btn-large btn-wide nowrap", :remote => !user_signed_in?
    - else
      .sidebar-btn.ac= link_to "Follow this Offering", follow_offering_path(@offering), :class => "btn btn-warning btn-large btn-wide", :remote => !user_signed_in?
    
.content
  = icon_tag "#{pluralize(@offering.num_followers, 'follower')}", "icon-group"
  
  = render 'offerings/sidebar_investment_section'

  = render 'offerings/sidebar_contribution_section'
  
  = render 'offerings/sidebar_document_section'

  = render 'offerings/sidebar_links_section'

  = render 'offerings/sidebar_events_section'

  = render 'offerings/sidebar_more_info_section'

= render "shared/no_invest_reason"
= render "shared/login"
