
.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseThree"}
      Management Team

      = link_to "#{people_section_complete_link}",
                  offering_team_members_path(@offering),
                  class: "btn pull-right"

  #collapseThree.accordion-body.collapse
    .accordion-inner 
      - if @offering.team_members.nil? or @offering.team_members.count == 0
        There are no management team members associated with your offering
      - else
        %table.table.table-striped
          - @offering.team_members.each do |team_member|
            %tr
              %td
                = image_tag(team_member.picture_url(:thumb).to_s)
              %td= "#{team_member.name} - #{team_member.title}"
              %td= team_member.bio.html_safe

