.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapsePhoto"}
      Photos
    
    = link_to "#{photos_section_complete_link}",
              offering_photos_path(@offering), 
              class: "btn pull-right"
  #collapsePhoto.accordion-body.collapse
    .accordion-inner
      - if @offering.photos.nil? or @offering.photos.count == 0
        There are no photos associated with your offering
      - else
        - @offering.photos.each do |photo|
          .offering_photo_box
            =image_tag(photo.image_url(:small))
            %br
            =photo.caption
      .clear
    
