.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseReward"}
      Rewards
    
    = link_to "#{rewards_section_complete_link}",
              offering_rewards_admin_path(@offering),
              class: "btn pull-right"
    %span.accordion-toggle.pull-right= "#{rewards_section_complete_amt}%" 
  #collapseReward.accordion-body.collapse
    .accordion-inner
      - if @offering.rewards.nil? or @offering.rewards.count == 0
        There are no rewards associated with this offering
      - else
        %table.table.table-striped
          - @offering.rewards.order(:price).each do |reward|
            %tr
              %td= truncate(reward.title)
              - if reward.number_available.nil?
                %td= "Unlimited"
              - else
                %td= "#{reward.number_available - reward.number_granted} of #{reward.number_available} left"
              %td= "#{number_to_currency(reward.price)}"
              %td= "#{truncate(raw(reward.description), length: 60)}"
