// Rewards Section (partial of offerings#show)

- ['Reward','Coupon','Auction'].each do |rt|
  - if eval("@offering.rewards.#{rt.downcase.pluralize}.count") > 0
    .offering-section
      .header
        %h3
          = rt.pluralize
      - eval("@offering.rewards.#{rt.downcase.pluralize}").each do |reward|
        %div{id: "reward_detail#{reward.id}", class: "modal hide fade in" }
          .modal-header
            %a.close{"data-dismiss" => "modal"} &times;
            %h3= "#{reward.title}"
          .modal-body
            - unless reward.photo.blank?
              = image_tag reward.photo_url(:main), :alt => "Reward Picture", :class => "thumbnail"
            = raw(reward.description)
            %p
              = render partial: "rewards/#{reward.reward_type.downcase}", locals: { reward: reward }
          .modal-footer
            %a.btn{:href => offering_path(@offering), "data-ga" => "required_warning_back"} Back to Offering
        .span7
          .thumbnail
            .alert.alert-info
              %h4
                = reward.title
            .row
              .span1
                - unless reward.photo.blank?
                  = image_tag reward.photo_url(:thumb), :alt => "Reward Picture", :class => "thumbnail"
              .offset1= raw(reward.short_description)
              .pull-right
                -if rt == 'Reward'
                  Minimum contribution: 
                - elsif rt == 'Coupon'
                  Purchase price:
                - else
                  Reserve price:
                %strong= number_to_currency(reward.price)
            .row
              .span5.muted= reward.rewards_left
              = you_own_one reward
              .offset1
                = render partial: "rewards/#{reward.reward_type.downcase}_button", locals: { reward: reward, offering: @offering }
                %a.btn.pull-right{href: "#reward_detail#{reward.id}", "data-toggle" => "modal"}
                  Details
