- if !(@offering.upcoming_events.nil? or @offering.upcoming_events.count == 0)
  %hr
  #event-section.sidebar-section
    %h3
      Events
      = link_to "View All", offering_events_path(@offering), class: "btn btn-mini"
    %table.table.table-condensed
      %th Title
      %th Date
      %th Time
      - @offering.upcoming_events(10).each do |event|
        %tr
          %td=link_to "#{event.title}", offering_event_path(@offering, event), remote: true
          %td= event.start_date.to_s(:date_only_no_year)
          %td.nowrap= dates_to_human(event.start_date, event.end_date)
