- if @offering.investments_enabled
  %hr
  %h3 Investment
  .sidebar-btn.ac= link_to "I Want to Invest", 
                          new_offering_investment_path(@offering), 
                          :class => "btn btn-success btn-large btn-wide", 
                          :remote => !user_signed_in?
  .offering-info.ac
    -if @offering.debt?
      .info-item.info-item-full
        .title
          = "#{I18n.t :interest_rate, :scope => [:simple_form, :labels, :offering]}"
        .value
          = number_to_percentage(@offering.interest_rate, :precision => 2, :strip_insignificant_zeros => true)
      .info-item.info-item-full
        .title
          = "#{I18n.t :min_investment, :scope => [:simple_form, :labels, :offering]}"
        .value
          = "#{number_to_currency(@offering.min_investment, :precision => 2, :strip_insignificant_zeros => true)}"
      .info-item.info-item-full
        .title
          = "#{I18n.t :repayment, :scope => [:simple_form, :labels, :offering]}"
        .value
          = @offering.repayment_text
      .info-item.info-item-full
        .title
          Term
        .value
          = @offering.term

      = render "offerings/info_item_final_weeks"

    -else
      .info-item.info-item-full
        .title
          Offering Amount
        .value
          = "#{number_to_currency(@offering.minimum_goal, :precision => 0)} - #{number_to_currency(@offering.maximum_goal, :precision => 0)}"
      -if !@offering.ppm?
        .info-item.info-item-full
          .title
            Registered States
            = info_tag :data => {title: "Registered States", content: 'This offering is only registered in certain states; therefore only legal residents of those states, plus non US residents, may invest in this offering. We apologize to those who live in other states; but that\'s the law. The company has not yet decided whether it will seek to register this offering in other states.'}
          .value
            = @offering.filings.map(&:state).join(", ")

      -if ENV['PCP'] != "workers"
        .info-item.info-item-full
          .title
            Percent of Company Offered
          .value
            - min_percent = number_to_percentage(@offering.min_equity, :precision => 1, :strip_insignificant_zeros => true)
            - max_percent = number_to_percentage(@offering.max_equity, :precision => 1, :strip_insignificant_zeros => true)
            - if min_percent != max_percent
              = "#{min_percent} - #{max_percent}"
            - else
              = min_percent

      .info-item.info-item-full
        .title
          Valuation
          = info_tag :data => {title: "Valuation", content: 'The range shown here is the minimum and maximum "post-money" valuation, which reflects the value of the company <u>after</u> the successful completion of this offering.'}
        .value
          = "#{number_to_currency(@offering.min_valuation_post, :precision => 0)} - #{number_to_currency(@offering.max_valuation_post, :precision => 0)}"

      = render "offerings/info_item_final_weeks"

      .info-item.info-item-half
        .title
          Share Price
        .value
          = "#{number_to_currency(@offering.share_price, :precision => 2, :strip_insignificant_zeros => true)}"
      .info-item.info-item-half
        .title
          Min Investment
        .value
          = "#{number_to_currency(@offering.min_investment, :precision => 2, :strip_insignificant_zeros => true)}"


  = render "shared/progress_info"

  - if @offering.show_investor_count
    .stats
      .item
        = icon_tag "#{pluralize(@offering.num_investors, 'investor')}", "icon-heart"

  - if user_signed_in? && !@offering.expired?
    - if can_invest?
      .sidebar-btn.ac= link_to "I Want to Invest", new_offering_investment_path(@offering), :class => "btn btn-success btn-large btn-wide"
    - else
      .sidebar-btn.ac= link_to "I Want to Invest", "#", :class => "btn btn-success btn-large btn-wide disabled"
