- if !@offering.documents.nil? and @offering.documents.count > 0
  #documents.sidebar-section
    %hr
    %h3
      Documents
    - @offering.documents.sort_by { |doc| doc.required ? 0 : 1 }.each do |document|
      .sidebar-link
        - if document.required
          %i.icon-download-alt
          %i.icon-check-empty
            = link_to "#{document.description}", 
                      offering_document_path(@offering, document), 
                      {class: "tip", rel: "tooltip", data: {placement: "right"}, 
                      title: "Please download and read this document before deciding to invest"}
        - else
          %i.icon-download-alt
            = link_to "#{document.description}", offering_document_path(@offering, document)
