- if !@offering.expired?
  %hr
  .sidebar-section
    %h3.ac
      Want more info?
    %p
      The issuer encourages your questions, so ask away and they will get back to you promptly.
      .sidebar-btn.ac= link_to "Ask a Question", new_offering_question_path(@offering), :class => "btn btn-primary btn-large btn-wide", :remote => !user_signed_in?
