- if !(@offering.links.nil? or @offering.links.count == 0)
  %hr
  .sidebar-section
    %h3
      Links
    - @offering.links.each do |link|
      .sidebar-link
        %i.icon-external-link
        = link_to "#{link.description}", link.link, :target => "_blank"
