- if @offering.contributions_enabled
  %hr
  %h3 Contribution
  .offering-info.ac
    .info-item.info-item-full
      .title
        Contribution Goal
      .value
        = number_to_currency(@offering.contribution_goal, :precision => 0)

  = render "shared/contribution_progress_info"

  .stats
    .item
      = icon_tag "#{pluralize(@offering.num_contributors, 'contributor')}", "icon-heart"

  .sidebar-btn.ac
    -if @offering.active?
      = link_to "I Want To Contribute", 
                          new_offering_contribution_path(@offering), 
                          :class => "btn btn-success btn-large btn-wide", 
                          :remote => !user_signed_in?
