.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseBank"}
      Bank Information 
    
    = link_to "#{bank_section_complete_link}", offering_bank_admin_path(@offering), class: "btn pull-right"

  #collapseBank.accordion-body.collapse
    .accordion-inner
      .row
        .span7
          %table.table.table-striped
            %tr
              %td{:width => "150"} Name:
              %td= @offering.name
            - if @offering.access_token.blank?
              %tr
                %td{:colspan => "2"} Banking connection not yet established
            - else
              %tr
                %td Stripe Access Token:
                %td= @offering.access_token
              %tr
                %td Stripe Publishable Key:
                %td= @offering.publishable_key
