.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseUpdate"}
      Updates

      = link_to "#{updates_section_complete_link}",
                admin_offering_updates_path(@offering), 
                class: "btn pull-right"
  #collapseUpdate.accordion-body.collapse
    .accordion-inner
      - if @offering.updates.nil? or @offering.updates.count == 0
        There are no updates associated with your offering.
      - else
        %table.table.table-striped
          - @offering.updates.each do |update|
            %tr
              %td= update.created_at
              %td= "#{update.person.first_name} #{update.person.last_name}"
              %td= update.subject
