.accordion-group
  .accordion-heading
    %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#collapseVideo"}
      Videos
      = link_to "#{videos_section_complete_link}",
              offering_videos_path(@offering),
              class: "btn pull-right"

  #collapseVideo.accordion-body.collapse
    .accordion-inner 
      - if @offering.videos.nil? or @offering.videos.count == 0
        There are no videos associated with your offering
      - else
        - @offering.videos.each do |video|
          =raw video.link_html

