.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2= "Working on (#{@offering.name})"

.container
  .right.profile_link

    - if @offering.in_development?
      = link_to "Submit Offering for Approval", complete_offering_path(@offering), class: "btn"

    - if @offering.development_completed?
      = link_to "Retract Approval Request", uncomplete_offering_path(@offering), class: "btn"

    - if @offering.active?
      = link_to "Mark Offering as Incomplete", uncomplete_offering_path(@offering),
        :data => { :confirm => "This will 'unapprove' your offering and if it's already active it will be hidden from users. Are you sure?"}, class: "btn btn-danger"

    - if @offering.approved_for_launch? and !@offering.active?
      = link_to "Make this offering Live!", activate_offering_path(@offering), class: "btn btn-success"

    = link_to "View offering page", offering_path(@offering), class: "btn btn-success pull-right"

  - if @offering.active?
    - if contributions_only?
      %p
        This offering is active and accepting contributions.
      %p
        To date,
        = "#{number_to_currency(@offering.contributed)}"
        has been contributed toward a goal of
        = "#{number_to_currency(@offering.contribution_goal)}."
    - else
      %p
        This offering is active and accepting investment.
      %p
        To date,
        = "#{number_to_currency(@offering.invested)}"
        has been invested toward a minimum goal of
        = "#{number_to_currency(@offering.minimum_goal)}."
    %p
      This offering is scheduled to end on
      = "#{@offering.expiration}."
  - else
    %p
      %hr
      OK, now that we have an offering started, let's fill in all the remaining pieces.
      Each of the sections below should include information that helps promote your
      offering. Some items are essential to bring your offering live and others are just
      great extras that help tell the world what you're doing.
    %p
      As each section is addressed, we'll keep track of your progress and let you know how
      you're doing.  When all the essentials are in, your offering can be submitted for
      approval and, if complete and approved, you will be able to make your offering live.
    %p
      There's a bunch to do, but take your time and do it well.  A strong offering attracts
      strong interest!

  #offering-accordion.accordion
    = render :partial => 'basic_information'
    = render :partial => 'stripe_configuration'
    = render :partial => 'description'
    = render :partial => 'people'
    = render :partial => 'video'
    = render :partial => 'photos'
    = render :partial => 'documents'
    = render :partial => 'links'
    = render :partial => 'instructions' unless contributions_only?
    = render :partial => 'updates'
    = render :partial => 'events'
    = render :partial => 'rewards'
    = render :partial => 'auctions'
    
