.hero-alt-top
  .container
    %h2 Change The Status of an Investment

.container
  - if @investment.status == Investment.initiated
    %p
      A new investment has been offered. The investor has been sent 
      instructions to sign the subscription document. Once completed, you
      as the issuer will be asked to counter sign if you agree to the investment offer.
    %p
  - elsif @investment.status == Investment.signed
    %p
      You have accepted this investment offer and signed the subscription document. A 
      request for funds has been sent to the investor.  We are awaiting confirmation that funds have been sent.
  - elsif @investment.status == Investment.declined
    %p
      You have declined this investment or your offering wasn't completely funded.
  - elsif @investment.status == Investment.completed
    %p
      You have indicated that funds have been escrowed for this investment.  We are now waiting
      for your offering to completely fund.

  .well
    Use the dropdown below to update the status of this investment.
    %br
    %br
    = simple_form_for [@offering, @investment] do |f|
      - flash.each do |key, value|
        .flash{:class => key}= value

      %select{:id => 'investment_status', :name => 'investment[status]', :class => 'span6'}
        %optgroup{label: ""}
          - Investment::STATES[0..3].each do |state|
            %option{:selected => @investment.status == state}= state
        %optgroup{label: "----"}
          %option{:selected => @investment.status == Investment.declined}= Investment.declined

      #offered_amount{class: "#{@investment.status == Investment.completed ? '' : 'hide'}"}
        %br
        = "The offered investment amount was: $#{@investment.offered_amount}"
        = f.input :accepted_amount
      %br
      = f.submit class: 'btn btn-primary'

  = link_to "Return To Investment List", offering_investments_path(@offering)
