.hero-alt-top
  .container
    %h2 Updating Your Offering

.container
  = simple_form_for @offering, :url => {:action => :update, :section => params[:section]}, :html => {:class => 'form-vertical' } do |f|
    .well.span

      - if params[:section] == "D"

        %h4.form-header Company Overview
        =f.input :long_description, :label => false, :input_html => {:size => "150x15", :class => "span11 wysi"}

      - elsif params[:section] == "I"

        %h4.form-header Investment Instructions for Investors
        =f.input :instructions, :label => false, :input_html => {:size => "150x15", :class => "span11 wysi"}

      - else

        = render :partial => "offering", :locals => { :f => f }

      - if params[:section] != "I"
        - if ['edit', 'update'].include? controller.action_name and @offering.has_been_active?
          %hr
          = f.input :edit_summary,
                    :input_html => {:class => "span11", :value => ""},
                    :placeholder => "briefly explain your changes (corrected spelling, improved formatting, added information)"
      .row
        .span11.form-actions-custom
          %hr
          %button.btn.btn-primary{:type => "submit"}
            Update Offering
          = link_to "Cancel", :back, :class => "btn"
