.hero-alt-top
  .container
    %h2= "Followers of #{@offering.name}"
  
.container
  -if @offering.followings.empty?
    .small_notice
      You currently have no followers of this offering.
  -else
    .entity_list
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th
          %th
        - @offering.followings.each do |following|
          %tr
            - if !following.user.person.profile_picture.blank?
              %td{:width => "50"}
                = image_tag(following.user.person.profile_picture_url(:thumb).to_s)
            - else
              %td
            %td= "#{following.user.person.first_name} #{following.user.person.last_name}"
  = link_to "Back To Offering List", my_offerings_path
  