= render "pages/features"

/I don't like this, just a hack for now
- if signed_in?
  .hero-alt-top
    .container
      =render :partial => "shared/flash", :locals => {:flash => flash}
      %h2 Browse Offerings
  .container
    .row
      .span10
        - if @offerings.count == 0
          %h3
            No offerings matched your search. Please try again. 
        - else
          %ul.thumbnails
            = render :partial => "offering_card_alt", :collection => @offerings, :as => "offering"

  .clear
