= render "shared/offering_nav"

.container
  .row
    .span8
      - if @investments.count == 0
        %h3.ac
          There are currently no people invested in this offering.
      -else
        %table.table.table-striped.table-bordered
          %tr
            %th.span2 Investor
            %th Comment
  
          - @investments.each do |investment|
            %tr
              %td
                = investment.anonymous ? image_tag("fallback/default_profile.jpg") : image_tag(investment.user.person.profile_picture_url(:thumb).to_s)
                .investor_name
                  = investment.anonymous ? "Anonymous" : investment.user.person.full_name
              %td= investment.comment

    .span4.offering-sidebar
      = render :partial => 'offering_sidebar'

= render "shared/no_invest_reason"
  

