.hero-alt-top
  .container
    %h2 Investments In This Offering

.container
  - if @investments.count == 0
    %p
      There are currently no investments in this offering.
  - else
    %table.table.table-bordered.table-striped
      %tr
        %th Investor
        %th Money Offered
        %th Money Accepted
        %th Date
        %th Current Status
        %th Action
        %th History
      - @investments.each do |investment|
        %tr
          %td= "#{investment.user.person.first_name} #{investment.user.person.last_name}"
          %td= number_to_currency(investment.offered_amount)
          %td= number_to_currency(investment.accepted_amount)
          %td= investment.updated_at.strftime("%m/%d/%Y %I:%M:%S %M")
          %td= investment.status
          %td= link_to "Update Status", change_status_offering_path(:ii => investment.id)
          %td= link_to "View", investment_history_offering_path(:ii => investment.id)
          
  = link_to "Return To Offering List", my_offerings_path
