.hero-alt-top
  .container
    %h2 Create Offering - Basics
.container
  = simple_form_for @offering, :html => {:multipart => true, :class => 'form-vertical' } do |f|
    .well.span
      %p
        - if contributions_only?
          First, let's create the overview.  This is what contributors will see when browsing offerings.
        - else
          First, let's create the overview. This is what investors will see when browsing offerings.
      %hr
      
      -if @offering.errors.any?
        #error_explanation.alert.alert-error
          %h3.alert-heading= "#{pluralize(@offering.errors.count, "error")} prohibited this offering from being saved:"
          %ul
            - @offering.errors.full_messages.each do |msg|
              %li= msg
  
      - if contributions_only?
        = render partial: "offering_contribution_overview", :locals => { :f => f }
      - else
        = render :partial => "offering", :locals => { :f => f }
  
      .row
        %hr
        .form-actions-custom.span10
          %button.btn.btn-primary{:type => "submit"}
            Create Offering
          = link_to "Cancel", :back, :class => "btn"
          
