= content_for(:title) {"Offering Edit History"}
.hero-alt-top
  .container
    =render :partial => "shared/flash", :locals => {:flash => flash}
    %h2 
      "#{@offering.name}" Revisions
.container{:data => {:"pjax-container" => true, :title => "#{yield :title}"}}

  .well
    %h3
      %p
        You are viewing the edit history for the offering description section
    = link_to "#{icon_tag('Return to Offering Overview', 'icon-arrow-left')}".html_safe, offering_path(@offering), class: "btn btn-large #{request.xhr? ? 'pjax-me' : ''}"
  .html-diff.accordion.accordion-custom
    - @offering.versions.reverse.each do |version|
      - person = User.find(version.whodunnit).person
      -if !version.reify.nil?
        %section
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#v-#{version.index}"}
                %h3.version-num
                  %i.icon-caret-down
                  - if version.next.nil?
                    Current
                  -else
                    = "Version #{version.index + 1}"
              .version-edit.pull-right
                .version-edit-date
                  Edited #{version.created_at.to_s(:date_at_time)}
                = image_tag(person.profile_picture_url(:thumb).to_s, size: '30x30')
                .version-edit-person.ib
                  = "#{person.first_name} #{person.last_name}"

            .accordion-body.collapse.in{id: "v-#{version.index}"}
              .accordion-inner
                .well
                  .update-header
                    %h1
                      = "#{I18n.t :short_description, :scope => [:simple_form, :labels, :offering]}"

                  .update-content
                    = version.html_diff(:short_description).try(:html_safe) || version.reify.short_description.html_safe

                .accordion-heading.accordion-footer
                  %dl.dl-horizontal
                    %dt
                      = "#{I18n.t :edit_summary, :scope => [:simple_form, :labels, :update]}:"
                    %dd
                      =version.changeset[:edit_summary].try(:last) || @offering.edit_summary

    %section
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{ "data-toggle" => "collapse", :href => "#v-orig"}
            %h3.version-num
              %i.icon-caret-down
              = "Original"
          .version-edit.pull-right
            .version-edit-date
              Created
              = "#{@offering.activated_at.to_s(:date_at_time)}" unless @offering.activated_at.blank?
            = image_tag(@offering.contact.person.profile_picture_url(:thumb).to_s, size: '30x30')
            .version-edit-person.ib
              = "#{@offering.contact.person.first_name} #{@offering.contact.person.last_name}"

        .accordion-body.collapse.in{id: "v-orig"}
          .accordion-inner
            .well
              .update-header
                %h1
                  = "#{I18n.t :short_description, :scope => [:simple_form, :labels, :offering]}"

              .update-content
                - if @offering.versions.present?
                  = @offering.versions.first.reify.short_description.html_safe
                - else
                  = @offering.short_description.html_safe

            .accordion-heading.accordion-footer
              %dl.dl-horizontal
                %dt
                  &nbsp;
                %dd



