= content_for(:title) {"#{@offering.company.try(:name)} Offering powered by Funding Launchpad"}
= render "shared/offering_nav"

.container
  .row
    .span8{:data => {:"pjax-container" => "true", :title => "#{yield :title}"}}
      .offering-section
        .offering-details
          -if current_user.offering_contributions(@offering) > 0
            .well
              .offset1= "You have contributed #{number_to_currency(current_user.offering_contributions(@offering))} to this offering."
              .offset1= "You have applied #{number_to_currency(current_user.contributions_applied(@offering))} to other rewards."

          .main-img
            -if !@offering.videos.empty? && @offering.videos.map(&:default).include?(true)
              .link_html
                = @offering.videos.select { |video| video.default? }.first.link_html.html_safe
            -elsif !@offering.photos.empty? and @offering.photos.map(&:default).include?(true)
              =image_tag(@offering.photos.select { |photo| photo.default?}.first.image_url)
            -elsif !@offering.photos.empty?
              =image_tag(@offering.photos.last.image_url)
            - if @offering.show_social_media
              = render "shared/sharethis_btns"

      .offering-section
        .header
          %h3
            Offering Description

        %p
          = @offering.short_description.try(:html_safe)

      .offering-section
        .header
          %h3 Company Overview
        %p
          = @offering.company.try(:description).try(:html_safe)
          
      -if @offering.rewards_enabled and @offering.rewards.count > 0
        = render :partial => 'rewards_section'
      -if @offering.rewards_enabled and @offering.auctions.count > 0
        = render :partial => 'auctions_section'

      -if not (@offering.videos.nil? or @offering.videos.select { |video| !video.default? }.count == 0)
        .offering-section
          .header
            %h3 Videos
            %ul.thumbnails
              - @offering.videos.select { |video| !video.default? }.each do |video|

                %li.span4
                  %a.thumbnail{:href => "#"}
                    .link_html
                      = video.link_html.html_safe
      .offering-section
        .header
          %h3 Management Team

        - if @offering.team_members.nil? or @offering.team_members.count == 0
          There are no management team members associated with this offering
        - else
          - @offering.team_members.each do |team_member|
            .row
              .span1
                =image_tag team_member.picture_url(:thumb),
                                  :alt => "Profile Picture",
                                  :class => "thumbnail"
              .span7
                %h4
                  = "#{team_member.name} - #{team_member.title}"
                = team_member.bio.html_safe

      .offering-section
        .header
          %h3 Photos
        - if @offering.photos.nil? or @offering.photos.select { |photo| !photo.default? }.count == 0
          There are no photos associated with this offering
        - else
          %ul.thumbnails.use-masonry{data: {toggle: "modal-gallery", target: "#modal-gallery"}}
            - @offering.photos.select { |photo| !photo.default? }.each do |photo|

              %li.span2
                %a.thumbnail{href: photo.image_url, rel: "gallery", title: photo.caption}
                  =image_tag(photo.image_url(:small))

        = render 'shared/modal_gallery'

      -if @offering.investments_enabled
        .offering-section
          %p.well
            %small.muted
              This does not constitute an offer to sell securities or a solicitation of an offer to buy securities. Offers are made
              by offering circular only. Prospective investors are encouraged to read the entire SCOR offering circular prior to
              investing. There are risks associated with an investment in the company and you should not invest unless you can afford
              the loss of your entire investment.

    .span4.offering-sidebar
      = render :partial => 'offering_sidebar'

  - if !user_signed_in?
    .row
      .span12
        %hr
          %h3.ac
            To view more information about this offering please log in or register for a free account.
          %p
            .invest-btn.ac= link_to "Login or Register to learn more", new_user_session_path, :class => "btn btn-primary btn-large"
