- if @authentications
  - unless @authentications.empty?
    %p
      %strong You can sign in to this account using:
    .authentications
      - for authentication in @authentications
        .well.ib
          = link_to icon_tag("<span>#{authentication.provider.to_s.titleize}</span>".html_safe, "icon-#{authentication.provider.to_s}"),"#",
              class: "btn btn-large disabled social-login-#{authentication.provider.to_s} autowidth mb"
          .row
            .span
              = link_to "Remove Account", authentication, :confirm => 'Are you sure you want to remove this social login?', :method => :delete, :remote => true
  %p
    %strong Add another service:
- else
  %p
    %strong Log in through one of these services:

= render :partial => "shared/social_logins"
