%h2 A new offering update has been posted
%p
  = "Hi, #{@user.person.first_name}."
  %br
%p
  Because you're following the '
  = "#{@offering.name}"
  ' offering, we wanted to let you know the issuer has just posted this update:
%p
  %blockquote
    %h2= "#{@update.subject}"
    %p= "#{@update.content}".html_safe
%hr
%p
  If you no longer want to receive notices about new updates to a offering you are following
  please adjust your following options for that offering.
%p
  = render 'shared/email_signature'
