
-if @answer
  %h2 A new answer has been posted regarding the question:
  %p
    = "'#{@answer.question.content}'"
  %hr
  %h5 Answer:
  %p
    = "'#{@answer.content}'"
-else

  %h2 A new question has been posted:
  %p
    = "'#{@question.content}'"
%hr

%p
  You can view this #{@answer ? 'answer' : 'question'} by visiting
  = @url

%p
  If you no longer want to receive notifications when a new question or answer is added to the #{@offering.name} offering,
  please adjust your following options #{link_to 'here', edit_following_option_url(@offering)}.
%p
  = render 'shared/email_signature'