<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to The Entrepreneur's Journey!</h1>
    <p>You have been sent an invitation from <%= @from.name %>.<br/></p>
    <p><a href="<%= @url %>">Follow this link to confirm your email.</a></p>
    <p>Thank you for sharing your story with the world!</p>
  </body>
</html>
