
.tabs-left .tab-content {
  padding-left: 1px; //fix to prevent cuttin off text
}

#team {
  .row {
    padding-bottom: 10px;
    img {
      margin-top: 7px;
      .box-shadow(7px 7px 10px 0px rgba(0,0,0,.25));
    }
  }
  padding: 5px 0;
}

#contact {

  table td {
    vertical-align: top;
  }

  .contact-text {
    margin-left: 0;
    margin-bottom: 10px;
  }
  hr {
    clear: both;
  }
}

.press-box {
  img {
    //height: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .caption {
    h4 {
      height: @baseLineHeight * 2;
    }
    .description {
      height: @baseLineHeight * 4;
      padding-bottom: 5px;
    }
  }
}

.press-carousel {
  .thumbnail {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    background-color: #fff;

    h4 {
      font-weight: bold !important;
      color: inherit !important;
    }
  }
}
