@linkedinBackground:  #007fb2;
@linkedinHighlight: #6bb6d6;
@twitterBackground: #00aced;
@twitterHighlight: lighten(@twitterBackground, 25%);
@facebookBackground: #335f9c;
@facebookHighlight: lighten(@facebookBackground, 25%);

a[class*=' social-login-'] {
  width: 199px;
  margin-bottom: @baseLineHeight;
  :last {
    margin-bottom: 0px;
  }
  i {
    width: 16px;
    padding-right: 10px;
    float:left;
  }
  span {
    float:left;
  }
}

.social-login-linkedin {
  .buttonBackground(@linkedinHighlight, @linkedinBackground);
}

.social-login-twitter {
  .buttonBackground(@twitterHighlight, @twitterBackground)
}

.social-login-facebook {
  .buttonBackground(@facebookHighlight, @facebookBackground)
}