#event-modal {
  dl {
    margin: 0px;

    dt {
      font-size: 14px;
    }

    dd {
      font-size: 14px;
      padding-bottom: 9px;
    }
  }
}

#event-section {
  h3 > .btn {
    float: right;
    margin-top: 6px;
  }
}
