
/* ############ Sticky Footer ############################
 * Keeps footer stuck to the bottom of the page, 
 * unless the content moves it out of viewport 
 */

/* footerHeight is set to the computed height of the 
 * footer. If content within footer changes, update it!
 */
@footerHeight: 203px;

html, body {
  height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -@footerHeight;
}
.push {
    height: @footerHeight;
}

@pcpFooterHeight: 191px;

.wrapper.pcp {
    margin: 0 auto -@pcpFooterHeight;
}
.push.pcp {
    height: @pcpFooterHeight;
}
/* ################ END Sticky Footer #################### */


.footer-floor {
  background-color: @grayDarker;
  color: @white;
  a {
    color: @navbarLinkColor;
  }
  background-image: url('/assets/footer-floor.jpg');
  ul {
    text-align: center;
    padding-top: 5px;
  }
}

footer {
  background-color: @grayDark;
  color: @white;
  h3 {
    color: @grayLight;
  }
  .help-inline {
    color: @grayLight;
  }
  
}

.footer-main {
  background-image: url('/assets/footer-main.jpg');
  padding: 30px 0;
  
  #newsletter {
    .controls { 
      margin-left: 0;
    }
  }
  
  a {
    color: @grayLighter;
  }
}

.footerMenu {
    float: left;
    margin-bottom: 40px;
    overflow: hidden;
    padding-right: 30px;
    width: 210px;
}

.pcp_footer {
  padding-top: 5px;
  padding-bottom: 28px;
  h3 {
    font-size: 22px;
    padding-bottom: 30px;
  }
  
  li {
    font-size: 16px;
  }
}
