// CSS Reset
@import "twitter/bootstrap/reset";

// Core variables and mixins
@import "twitter/bootstrap/variables";
@import "custom/variables"; // variable overrides.
@import "twitter/bootstrap/mixins";
@import "custom/mixins";    // mixin overirdes.

// Grid system and page structure
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/layouts";

// Base CSS
@import "twitter/bootstrap/type";
@import "twitter/bootstrap/code";
@import "twitter/bootstrap/forms";
@import "twitter/bootstrap/tables";

// Components: common
//@import "twitter/bootstrap/sprites";
@import "custom/font-awesome";
@import "twitter/bootstrap/dropdowns";
@import "twitter/bootstrap/wells";
@import "twitter/bootstrap/component-animations";
@import "twitter/bootstrap/close";

// Components: Buttons & Alerts
@import "twitter/bootstrap/buttons";
@import "twitter/bootstrap/button-groups";
@import "twitter/bootstrap/alerts";

// Components: Nav
@import "twitter/bootstrap/navs";
@import "twitter/bootstrap/navbar";
@import "twitter/bootstrap/breadcrumbs";
@import "twitter/bootstrap/pagination";
@import "twitter/bootstrap/pager";

// Components: Popovers
@import "twitter/bootstrap/modals";
@import "twitter/bootstrap/tooltip";
@import "twitter/bootstrap/popovers";

// Components: Misc
@import "twitter/bootstrap/thumbnails";
@import "twitter/bootstrap/media";
@import "twitter/bootstrap/labels-badges";
@import "twitter/bootstrap/progress-bars";
@import "twitter/bootstrap/accordion";
@import "twitter/bootstrap/carousel";
@import "twitter/bootstrap/hero-unit";

// Utility classes
@import "twitter/bootstrap/utilities";

// FundingLaunchpad
@import "custom/utils";
@import "custom/navbar";
@import "custom/footer";
@import "custom/about";
@import "custom/modal";
@import "custom/sidebar";
@import "custom/masonry";
@import "custom/events";
@import "custom/revisions";
@import "custom/navs";
@import "custom/requests";
@import "custom/update";
@import "custom/team_members";
@import "custom/offering_cards";
@import "custom/q-and-a";
@import "custom/buttons";

// Vendor files
@import "vendor/token-input-bootstrap";


//@import "twitter/bootstrap/responsive";


/*fix box-model when using well and span together, the well border causes issues without this */
.well[class^="span"] {
  .box-sizing-fix;
}

/* used for testing out the grid */
.show-grid {
  background-color: @gray;
}

/* fix label when using span class  */
.control-group > label[class*="span"] {
    margin-left: 0;
}

body {
    //padding-top: 74px;
}

.form-header {
  margin-bottom: 9px;
}
section > .container {
  padding-bottom: 40px;
}

.hero {
  //.hero_background;
  background-image: url("/assets/hero.jpg");
  padding-top: 20px;
  
  h2, h3, h4, h5 {
    color: @grayLight;
    font-weight: normal;
  }
  
  strong {
    color: @grayLighter;
    text-transform: uppercase;
  }
  
  .tagline {
    text-align: left;
    h1 {
      font-size: 36px;
      color: @grayLighter;
/*      text-transform: uppercase; */
    }
    h4.video_sub {
      text-align: right;
      font-size: 12px;
    }
    padding-top: 5px;
    padding-bottom: 20px;
  }
  
  .action {
    padding: 25px 0;
  }
}

.investment_total {
  text-align: center;
  h1 {
    font-size: @baseFontSize * 3 !important;
    letter-spacing: 3px;
  }
}

.hero-seperator {
  background-image: url('/assets/stripe-seperator.jpg');
  height: 10px;
  border-bottom: 1px solid #ffffff;
}

.hero-alt {
  background-color: @grayLighter;
  background-image: @noise;
}

#business {
  padding-bottom: 30px;
}

#business-needs {
  padding-top: 30px;
  padding-bottom: 30px;
}

.learn-more {
  padding: 20px;
}

.hero-alt-top {
  margin-bottom: 20px;
  padding-top: 10px;
  .hero-alt;

  .offering-header {
    h4 {
      color: @gray;
      padding-left: 5px;
      margin-top: -10px;
    }
  }
  
  .alert {
    margin-bottom: 10px;
  }

}

.hero-investor {
  border-top: 1px dashed #dddddd;
  border-bottom: 1px dashed #dddddd;
}

.hero-tagline {
  text-align: center;
  margin: 25px 0;
  strong{
    color: @green;
  }
}

.hero-tab {
  padding-top: 5px;
  .nav {
    margin-bottom: 0px;
    a {
      outline: none;
    }
  }
  //.box-shadow(0 -3px 3px -3px inset)
}

.well-border {
  border: 1px solid rgba(0, 0, 0, 0.05);
  .border-radius(4px);
}

section {
  //padding-top: 40px;
}

.lead.small {
  font-size: 15px;
}

blockquote.quote {
  padding-top: 20px;
  overflow: hidden; /* clearfix alternative */
  font-size: 18px;
  line-height: 150%;
  color: #454545;
  border: none;

  small {
    text-align: right;
    padding-right: 25px;
  }
}

blockquote.quote:before {
  display: block;
  float: left;
  margin: 10px 15px 0 0;
  font-size: 5em;
  content: "“";
  color: @grayLight;
  text-shadow: 0 1px 1px #909090;
}
blockquote.quote:after {
  content: none;
}

.feature {
  h4{
    text-transform: uppercase;
    margin-top: 20px;
  }
  img {
    padding-left: 10px;
  }
}

.target-user {
  h4{
    text-transform: uppercase;
  }
  img {
    padding-top: 12px;
    padding-bottom: 30px;
  }
}

.target-user-tagline {
  padding-left: 20px;
  padding-right: 40px;
  font-weight: bold;
}

.dash {
    border-bottom: 2px dashed @grayLighter;
    margin-top: 15px;
    margin-bottom: 15px;
}

#fl-logo {
  //padding: 10px 0px;
  padding: 20px 0px 10px 0;
  max-width: 300px;
  img {
    max-height: 71px;
  }
}



.browse-sidebar{
  padding: 8px 0;  
}

.accordion-custom {
  .accordion-heading {
    .titleBar();
  }
  a {
    outline: none;
  }
}

.offering_image_window {
  width: 280px;
  height: 280px;
  color: white;
  //background-color: $color-standard-blue;
  padding: 10px;
  margin: 0 0 10px 0;
  //@include round(10px);
}

#offering-accordion {
  .accordion-heading {
    .btn{
      margin: 3px;
    }
  }
  .accordion-toggle {
    //display: inline-block;

  }
  
  .accordion-inner {
    background-color: @grayLighter;
  }
  a.accordion-toggle {
    width: 80%;
    float: left;
  }
  .accordion-body {
    clear: both;
  }
  
}

.offering-section {
  .header{
    h3, h5 {
      padding-right: 5px;
      .ib;
    }
  }
  .row {
    padding-bottom: 15px;
  }
}

.offering-section:not(:last-child) {
  padding-bottom: 15px;
}

.offering_window {
   background-color: @grayLighter;
   .border-radius(25px);
   border: 1px solid #DDDDDD;
   .box-shadow(0 0 3px 3px rgba(0,0,0,.3));
   float: left;
   margin: 0pt 15px 15px 0pt;
   padding: 5px;
   width: 600px;
   @include  translucent-border;
}

@font-face {
    font-family: 'CareFree';
    src: url('/assets/fonts/carefree.eot');
    src: url('/assets/fonts/carefree.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/carefree.woff') format('woff'),
         url('/assets/fonts/carefree.ttf') format('truetype'),
         url('/assets/fonts/carefree.svg#CareFree') format('svg');
    font-weight: normal;
    font-style: normal;
}

.more-info {
  font-family: CareFree;
  font-size: 36px;
  vertical-align: middle;
  
  img {
    padding: 0 10px;
  }
}
.issuer {
  background-color: #8cf;
}

.form-actions-custom {
  .btn {
    margin-left: 10px;
    .pull-right;
  }
}

.form-actions-custom-left {
  .btn {
    margin-right: 10px;
  }
}

.terms {
  h4 {
    padding: 10px 0;
  }
}

.privacy {
  .terms;
}

[class^="icon-"], [class*=" icon-"] {
  padding-right: 3px;
}

.offering-details {
  .main-img {
    img {
      width: 100%;
    }
  }
}

.social-buttons {
  line-height: @baseLineHeight;
}

.shares {
  width: 136px !important;
}

.no-invest-msg {
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

.thumb-container {
  padding: 5px;
}

.help-block,
.help-inline {
  font-size: @baseFontSize - 2;
}

.help-block {
  margin-top: -@baseLineHeight / 6;
}

.help-block[class*="span"] {
  margin-left: 0;
}

#faq {
  section {
    padding-bottom: 10px;
    h3 {
      padding-bottom: 5px;
    }
  }
}

.popover-icon, .tip, .accredited-popover {
  cursor: pointer;
}

form#signin {
  .control-group.error > label {
    color: #333 !important;
  }
  .control-group.error input {
    border-color: #ccc !important;
  }
}

.well.focus {
  // Focus state
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
}

.well.signup, .well.login, .well.social-logins {
  margin-top: 10px;
}

.well.social-logins {
  width: 235px;
}

.login-seperator {
  padding-top: 6%;
}
//Line up edit btn with header
h3 > .btn-mini {
  margin-top: -4px;
}

.next-steps {
  margin-left: 25px;
}

.popover.accredited {
  width: 500px;
  text-align: left;
  .well {
    margin-bottom: 0;
    margin-top: @baseLineHeight;
  }
}

