
/* apply a natural box layout */
.box-sizing-fix { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#q-and-a {
  .top-right(@arrowWidth: 5px, @color: @black, @top: 25%, @left: 0) {
      top: @top;
      left: @left;
      margin-top: -@arrowWidth;
      border-top: @arrowWidth solid transparent;
      border-bottom: @arrowWidth solid transparent;
      border-right: @arrowWidth solid @color;
    }
}

.titleBar {
  .gradientBar(@titleBarPrimary, @titleBarSecondary, inherit, none);
}

.textEngrave {
  text-shadow: 0px 1px 1px #fff;
}

.removeBorders {
//remove overlapping borders
  .info-item:not(:first-child) {
    border-top: none;
  }
  
  .info-item-half:nth-child(even){
      border-left: none;
    }
  // .info-item:nth-child(n + 3) {
    // border-top: none;
  // }
}

.hero_background {
  background-color: #1a1a23;
  
  background-image: @noise,  
                    @stripes,
                    -moz-radial-gradient(center top, ellipse cover,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 50%),
                    -moz-radial-gradient(center bottom, ellipse cover,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 20%);
  background-image: @noise,  
                    @stripes,  
                    -webkit-gradient(radial, center top, 0px, center top, 100%, color-stop(0%,rgba(255,255,255,0.25)), color-stop(50%,rgba(255,255,255,0))),
                    -webkit-gradient(radial, center bottom, 0px, center bottom, 100%, color-stop(0%,rgba(255,255,255,0.25)), color-stop(20%,rgba(255,255,255,0)));
  background-image: @noise,  
                    @stripes,
                    -webkit-radial-gradient(center top, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 50%),
                    -webkit-radial-gradient(center bottom, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 20%);
  background-image: @noise,  
                    @stripes,
                    -o-radial-gradient(center top, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 50%),
                    -o-radial-gradient(center bottom, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 20%);
  background-image: @noise,  
                    @stripes,
                    -ms-radial-gradient(center top, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 50%),
                    -ms-radial-gradient(center bottom, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 20%);
  background-image: @noise,  
                    @stripes,
                    radial-gradient(center top, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 50%),
                    radial-gradient(center bottom, ellipse cover,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 20%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#00ffffff',GradientType=1 );
}

///////////For Input prepend, will need to remove when its fixed in bootstrap (not fixed in 2.0.3) ///////////////////////
//this adjusts the prepended inputs to correct size when using spans


#gridSystem1 {
  .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, @columns) {
      width: (@gridColumnWidth * @columns) - 36 + (@gridGutterWidth * (@columns - 1));
    } 
}

.input-prepend, .input-append {
 
   // Default columns
  input.span1 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 1); }
  input.span2 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 2); }
  input.span3 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 3); }
  input.span4 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 4); }
  input.span5 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 5); }
  input.span6 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 6); }
  input.span7 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 7); }
  input.span8 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 8); }
  input.span9 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 9); }
  input.span10 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 10); }
  input.span11 { #gridSystem1 > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, 11); }
}
/////////// End  input prepend  ////////////////////////////////////////////////////////////////////////////
