/* remove form margin when using in modal */
.modal {
  form {
    margin: 0;
  }
}

.modal-header {
  .border-radius(6px);
  background-color: #f5f5f5;
}

.modal#login {
  width: 820px;

  .modal-body {
    max-height: 610px;
  }
}
