

.navbar.custom {
  .box-shadow(0 1px 3px rgba(0,0,0,.25));
  margin-bottom: 0px;


  .navbar-inner {
    border-radius: 0px;
    filter: none;
    background-image: url('/assets/nav-bar.jpg');
  }

  .container {
    width: @gridRowWidth;
  }

  .nav-logged-in {
    padding-top: 20px;
  }

  .nav >.active   {
    >a, >a:hover{
      background-color: inherit;
    }
  }

  .brand {
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    width: 350px;
  }
}