.nav-tabs > li > a > .badge {
  background-color: @linkColor;
  vertical-align: 1px;
  margin-left: 2px;
}

.nav-tabs > li > a:hover > .badge {
  background-color: @linkColorHover;
}

.nav-tabs > .active > a > .badge,
.nav-tabs > .active > a:hover > .badge {
  background-color: @gray;
}