
.offering-card {
  padding: 0;
  background-color: #f2f3f7; //f7f8fc
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  cursor: pointer;

  .title {
    .titleBar();
    text-align: center;
    h5 {
      margin-top: -5px;
    }
    padding: 5px;
    border-bottom: 1px solid #ccc;
    .textEngrave;
  }
  img {
    display: block;
    max-width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .offering-details {
    padding: 20px;
    .row {
      padding: 5px 0;
    }

    .row:first-child {
      padding-top: 0px;
    }
    .row:last-child {
      padding-bottom: 0px;
    }
  }
  .offering_short_desc {
    padding-top: 5px;
  }

  .offering_info {
    @ciPadding: 5px;
    @ciBorder: 1px;
    @iBorder: 1px;
    @iColumns: 3;
    @iPadding: 10px;

    padding: @ciPadding;
    border: @ciBorder solid #ddd;
    background-color: #fff;
    .info-item {
      //background-color: #bbb;
      border: @iBorder solid #aaa;
      float:left;
      //width: (@gridColumnWidth * @iColumns) + (@gridGutterWidth * (@iColumns - 1)) - (@ciPadding + @ciBorder + @iBorder + @iPadding + 1);
      width: 202px;
      padding: @iPadding;
      .titleBar();

      span {
        font-weight: bold;
        .textEngrave;
      }
    }
    .removeBorders;

  }
}

.offering-card-alt {
  .card-row.img {
    min-height: 154px;
  }
  padding: 0;
  background-color: #f2f3f7; //f7f8fc
  //height: 475px;
  width: 244px;
  margin-left: 20px;
  text-align: left;
  float: left;
  cursor: pointer;
  margin-bottom: 15px;
  .title {
    //.titleBar();
    //text-align: center;
    min-height: 135px;
    h6 {
      margin-top: -10px;
    }
    padding: 10px;
    //border-bottom: 1px solid #ccc;
    .textEngrave;
  }
  img {
    .box-sizing-fix;
    display: block;
    max-width: 100%;
    max-height: 155px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .offering-details {
    padding: 10px;
    .row {
      padding: 5px 0;
    }

    .row:first-child {
      padding-top: 0px;
    }
    .row:last-child {
      padding-bottom: 0px;
    }
  }
  .offering_short_desc {
    padding-top: 5px;
    max-height: 80px;
  }

  .offering_info {
    @ciPadding: 5px;
    @ciBorder: 1px;
    @iBorder: 1px;
    @iColumns: 3;
    @iPadding: 10px;

    padding: @ciPadding;
    border: @ciBorder solid #ddd;
    background-color: #fff;
    .info-item {
      .box-sizing-fix;

      //background-color: #bbb;
      border: @iBorder solid #aaa;
      //width: (@gridColumnWidth * @iColumns) + (@gridGutterWidth * (@iColumns - 1)) - (@ciPadding + @ciBorder + @iBorder + @iPadding + 1);
      width: 100%;
      padding: @iPadding;
      .titleBar();

      span {
        font-weight: bold;
        .textEngrave;
      }
    }
  }

  .banner-blank {
    padding: 0;
  background-color: #f2f3f7; //f7f8fc
  height: 70px;
  width: 100px;
  }
  .banner-text {
    text-align: center;
    font-size: 18px;
    position: relative;
    color: #fff;    
    margin: 0 -20px 30px -20px;
    padding: 10px 0; 
    text-shadow: 0 1px rgba(0,0,0,.8);
//    background: #5c5c5c;
    background: #33aa33;
    background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
  }
  .banner-text:before, .banner-text:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
  }
  .banner-text:before {
    border-width: 0 10px 10px 0;
//    border-right-color: #222;
    border-right-color: #262;
    left: 0;
  }
  .banner-text:after {
    border-width: 0 0 10px 10px;
//    border-left-color: #222;
    border-left-color: #262;
    right: 0;
  }
  
}

.offering-card-carousel {
  .card-row.img {
    max-width: 90%;
    min-height: 154px;
    height: 180px;
  }
  padding: 0;
  background-color: #f2f3f7; //f7f8fc
  width: 244px;
  margin-left: -5px;
  margin-top: -5px;
  text-align: left;
  float: left;
  cursor: pointer;
  margin-bottom: 15px;
  .title {
    min-height: 135px;
    h6 {
      margin-top: -10px;
    }
    padding: 10px;
    .textEngrave;
  }
  img {
    .box-sizing-fix;
    display: block;
    max-width: 100%;
    max-height: 155px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .offering-details {
    padding: 10px;
    .row {
      padding: 5px 0;
    }

    .row:first-child {
      padding-top: 0px;
    }
    .row:last-child {
      padding-bottom: 0px;
    }
  }
  .offering_short_desc {
    padding-top: 5px;
    max-height: 80px;
  }

  .offering_info {
    @ciPadding: 5px;
    @ciBorder: 1px;
    @iBorder: 1px;
    @iColumns: 3;
    @iPadding: 10px;

    padding: @ciPadding;
    border: @ciBorder solid #ddd;
    background-color: #fff;
    .info-item {
      .box-sizing-fix;

      border: @iBorder solid #aaa;
      width: 100%;
      padding: @iPadding;
      .titleBar();

      span {
        font-weight: bold;
        .textEngrave;
      }
    }
  }

  .banner-blank {
    padding: 0;
    background-color: #f2f3f7; //f7f8fc
    height: 70px;
    width: 100px;
  }
  .banner-text {
    text-align: center;
    font-size: 18px;
    position: relative;
    color: #fff;    
    margin: 0 -20px 30px -20px;
    padding: 10px 0; 
    text-shadow: 0 1px rgba(0,0,0,.8);
    background: #33aa33;
    background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
  }
  .banner-text:before, .banner-text:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
  }
  .banner-text:before {
    border-width: 0 10px 10px 0;
    border-right-color: #262;
    left: 0;
  }
  .banner-text:after {
    border-width: 0 0 10px 10px;
    border-left-color: #262;
    right: 0;
  }
  
}
