
.q-and-a {
  padding: 7px 19px;
  position: relative;
  .q-a-header {
    h5, h6 {
      .ib;
    }
    h6 {
      text-transform: none;
      padding-left: 5px;
    }
  }
  .q-a-content {
    padding: 10px 0;
  }

  .q-a-arrow {
      position: absolute;
      width: 0;
      height: 0;
      #q-and-a > .top-right(8px, #f5f5f5, 30px, -7px);
    }

  .q-a-arrow-border {
    position: absolute;
    width: 0;
    height: 0;
    #q-and-a > .top-right(8px, #e8e8e8, 30px, -9px);
  }
}


.question {

  .btn-reply {
    position: absolute;
    right: 0;
    bottom: 0;
    color: inherit;
    border-color: #ddd #eee #eee #ddd;
    background-image: none;
    border-radius: 4px 0 0 0 ;
  }

  .q-and-a;
}

.answer {
  .q-and-a;
}


.issuer-answer {
  background-color: @infoBackground;
  .q-a-arrow {
    border-right-color: @infoBackground;
  }
  .q-a-arrow-border {
    border-right-color: #CDE0EA;
  }
}

#question-paginator {
  float: right;
}
