
#investor-invite {
  display: none;
  width: 545px;

  h4 {
    font-size: 18px;
  }

  //needed for chrome for some reason
  .modal-header {
    .border-radius(6px);
  }
}

.invite-call-to-action {
  .btn {
    font-size: 22px;
  }
}

.invite-call-to-action.business {
  text-align: center;
  padding-bottom: 20px;
}
