.html-diff {

  ins {
    background:#dfd;
    color:#080;
    text-decoration:none;
  }

  del {
    background:#fee;
    color:#b00;
  }
  
}

.html-diff.accordion {

  .accordion-group {
    margin-bottom: 9px;

    .accordion-heading {
      .clearfix;
      .accordion-toggle {
        display: inline-block !important;
      }

      .version-edit {
        padding: 4px 15px;
        font-size: 12px;
      }
    }
    .accordion-heading.accordion-footer {
      padding: 0px;
      margin: 0px -16px -9px;
      .border-radius(0px);
      .titleBar();

      .dl-horizontal {
        margin-bottom: 9px;
        dt {
          width: 105px;
        }
        dd {
          margin-left: 115px;
        }
      }
    }
  }

}
.version-num{
  margin-top: 6px;
  .ib;
}

.version-edit {
  color: @grayDark;
}

