
.stButton .stBubble_count {
 height: 23px !important;
 background: white !important;
 border: 1px solid #CCCCCC !important;
 font-size: 15px !important;
 color: #666 !important;
 border-radius: 3px !important;
 font-family: arial !important;
 padding-top: 6px !important;
}

.stButton .stBubble {
  background: url("/assets/bubble_arrow_below.png") no-repeat scroll 26px 30px transparent !important;
  margin: 5px 0 -5px !important;
}