.offering-sidebar {
  background: @grayLighter;
  padding-bottom: 25px;
  .content {
    padding: 0 20px;
  }
  h3.title{
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
  }

  .offering-info {
   .info-item {
     float:left;
     min-height: 60px;
     border: 1px solid #ddd;
     background-color: #fff;
     padding: 10px 8px;
     .box-sizing-fix;
     .border-radius(4px);
     .title {
       font-weight: bold;
       font-size: 14px;
       color: lighten(@grayDark, 15%);
     }
     .value {
       font-size: 22px;
       font-weight:bold;
       line-height: 36px
     }
   }
   .info-item-full {
     width: 260px;
   }
   .info-item-half {
     width: 130px;
   }
   .removeBorders;
  }
  
  .sidebar-section {
    h3 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 10px;
    }
    .sidebar-link {
      padding-left: 8px;
    }
  }

  .stats {
    padding-bottom: 18px;
    .item {
      .ib;
      padding-right: 5px;
    }
  }

  .sidebar-btn {
    padding-bottom: 9px;
    .btn-wide {
      width: 80%;
    }
  }
}

//Used in sidebar and offering cards
.progress-text {
    padding-bottom: 18px;
    padding-top: -5px;
    clear: both;
    font-weight: bold;
    margin-top: -5px;
  }
.progress-info {
  clear: both;
  padding-top: 12px;
  width: 95%;

  .bar {
    max-width: 100%;
  }
  .progress {
    margin-bottom: 9px;
  }
  .progress-tics {
    .tic {
      .ac;
      .ib;
      i {
        padding: 0;
        font-size: 16px;
      }
      .text {
        margin-bottom: -5px;
      }
    }
    .tic.max {
      float:right;
      .offset {
        margin-right: -11px;
      }
      .fix-offset {
        .text { margin-right: -20px;}
        i {margin-right: -5px;}
      }
    }
    .tic.min {
      .offset {
        margin-left: -11px;
      }
      .fix-offset {
        .text { margin-left: -6px;}
        i {margin-right: -6px;}
      }
    }
  }
}

