.handle {
  cursor: pointer;
}
ul.team_members {
  list-style: none;
  border-top: solid 1px #DEDEDE;
}

ul.team_members li {
  padding: 4px;
  border-bottom: solid 1px #DEDEDE;
}

ul.team_members li div.left {
  float: left;
  width: 200px;
}

ul.team_members li div.right {
  padding-top: 6px;
  float: left;
  width: 120px;
}

ul.team_members li div.clear {
  clear: both;
}
