
.update-header {
  border-bottom: 2px dotted @grayLight;
  margin-bottom: 15px;
  padding-bottom: 10px;

  h1,h2 {
    color: #444;
  }

  h5 {
    color: @gray;
  }
  .update-num {
    color: @blue;
  }
}

.update-content{
  margin-bottom: 30px;
  h1,h2,h3{
    color: @gray;
    margin-bottom: 5px;
  }
  img {
    width: 100%;
    margin-bottom: 15px;
  }
}


.wysihtml5-editor {
  img{
    max-width: 500px !important;
    width: 95% !important;
  }
}
