
.ac {
  text-align: center !important;
}

.ib {
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

.nomargin {
  margin: 0px !important;
}

.mb {
  margin-bottom: 9px !important;
}

.autowidth {
  width: auto !important;
}
