<%= form_for(@entry, :class => 'form-horizontal') do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <label>Is this about a waypoint?</label>
      <input type="button" class="btn" value="Yes" id="entryHasWaypoint" />
      <input type="button" class="btn" value="No" id="entryHasCategory" />
      <%= f.hidden_field :is_about_a_waypoint %>
    </div>
  </div>

  <div class="control-group hidden" id="entryWaypointControls">
    <%= f.label :waypoint, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :waypoint, [
        "The Pain",
        "The Vision",
        "The Call",
        "The Denial",
        "The Mentor",
        "The Dump",
        "The Commitment",
        "The Trials",
        "The Crisis",
        "The Lesson",
        "The Purpose",
        "The Gift",
        "The Message",
        "The Sharing",
        "The New Life",
        "The Freedom"
      ] %>
    </div>
  </div>

  <div class="control-group hidden" id="entryCategoryControls">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category, [
        "None", "Life", "Business"
      ] %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, {:order => [:month, :day, :year], :start_year => 1900, :end_year => Time.new.year}, {:class => 'span2'} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :bliss, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :bliss, (1..10).to_a.reverse %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :privacy, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :privacy, [
        ["Public - Everyone", 0], ["Approved - Fellows", 1], ["Private - Only Myself", 2]
      ] %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="entryPostToWallYes">Post to Wall</label>
    <div class="controls">
      <label class="pull-left" style="margin-right: 10px;">
        <input id="entryPostToWallYes" type="radio" name="entry_post_to_wall" value="1" checked="checked"> Yes
      </label>
      <label>
        <input type="radio" name="entry_post_to_wall" value="0"> No
      </label>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => '4', :class => 'input-xxlarge' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Create Journal Entry', :class => 'btn btn-primary' %>
  </div>

<% end %>
