<h1>Listing entries</h1>

<table>
  <tr>
    <th>Is About A Waypoint</th>
    <th>Waypoint</th>
    <th>Category</th>
    <th>Date</th>
    <th>Bliss</th>
    <th>Privacy</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.is_about_a_waypoint %></td>
    <td><%= entry.waypoint %></td>
    <td><%= entry.category %></td>
    <td><%= entry.date %></td>
    <td><%= entry.bliss %></td>
    <td><%= entry.privacy %></td>
    <td><%= entry.description %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
