<script>
  function getEntriesCount() {
    return <%= @entries.count %>;
  }

  var entriesData = <%= @entries.to_a.to_json.html_safe %>;
  if (entriesData.length) entriesData = entriesData.map(function(o) { return o.entry; });
</script>

<ul class="nav nav-tabs">
  <li class="active"><a href="#create" data-toggle="tab">Create a New Journal Entry</a></li>
  <li><a href="#list" data-toggle="tab">List Entries</a></li>
  <li><a href="#graph" data-toggle="tab">Graph Entries</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="create">
    <%= render 'form' %>
  </div>
  <div class="tab-pane" id="list">
    <div class="row">
      <div class="span12">
        <label class="checkbox pull-left" style="padding-right: 10px">
          <input id="life" type="checkbox" checked="checked" /> Life
        </label>
        <label class="checkbox pull-left" style="padding-right: 10px">
          <input id="business" type="checkbox" checked="checked" /> Business
        </label>
        <label class="checkbox pull-left" style="padding-right: 10px">
          <input id="waypoint" type="checkbox" checked="checked" /> Waypoint
        </label>
      </div>
    </div>
    <div class="row">
    <% i = 0
       @entries.to_a.reverse.each do |entry| ; i = i + 1 %>
      <div class="span3 journalEntry<% if entry.category == "Life" %> lifeEntry<% end %><% if entry.category == "Business" %> businessEntry<% end %><% if entry.is_about_a_waypoint %> waypointEntry<% end %>" <% if i > 4 %>style="display: none;"<% end %>>
        <% if entry.is_about_a_waypoint %>
        <p><%= entry.waypoint %></p>
        <% else %>
        <p><%= entry.category %></p>
        <% end %>
        <p><%= entry.date %></p>
        <p><%= entry.description %></p>
        <p><%= entry.bliss %></p>
      </div>
    <% end %>
    </div>
    <div class="row">
      <div class="span12">
        <span class="pull-left">Current</span>
        <span class="pull-right">Beginning</span>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="slider"></div>
      </div>
    </div>
    <br>
  </div>
  <div class="tab-pane" id="graph">
    <div class="row" id="chart">
      <svg class="span12" style="height: 400px;">
    </div>
  </div>
</div>
