<p id="notice"><%= notice %></p>

<p>
  <b>Is About A Waypoint:</b>
  <%= @entry.is_about_a_waypoint %>
</p>

<p>
  <b>Waypoint:</b>
  <%= @entry.waypoint %>
</p>

<p>
  <b>Category:</b>
  <%= @entry.category %>
</p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Bliss:</b>
  <%= @entry.bliss %>
</p>

<p>
  <b>Privacy:</b>
  <%= @entry.privacy %>
</p>

<p>
  <b>Description:</b>
  <%= @entry.description %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
