= simple_form_for @auction_preference do |f|
  .well.span9

    
    = f.input :current_bid, 
              label: false, 
              placeholder: "your bid", 
              input_html: {class: "span4"},
              hint: "Your bid must be at least as much as the minimum bid indicated above."
    
    = f.input :auto_bid, 
              input_html: {class: "span4"},
              label: false,
              inline_label: "Auto-bid?", 
              hint: "Auto-Bid: Checking this indicates that you want the system to continually increase your bid to keep you in the winning position until the auction completes or you have bid your maximum."
    
    = f.input :max_bid, 
              label: false, 
              placeholder: "maximum bid", 
              input_html: {class: "span4"},
              hint: "The maximum bid is the most you will auto bid on this auction.  You can change this as long as the auction is active, however, you cannot reduce it below your highest existing bid."
    = f.input :max_bid_notification,
              label: false,
              inline_label: "Notify of losing bid?",
              hint: "Checking this indicates you want to receive notification via email if the bid goes above your maximum bid."

    = form_actions
