.hero-alt-top
  .container
    %h2= "Bidding on '#{@auction.title}'"

.container
  - if @auction.has_bids?
    %p
      = "Current bid is #{number_to_currency(@auction.current_bid)}."
    %p
      - if current_user.has_bid_on?(@auction)
        = "Your most recent bid is #{number_to_currency(current_user.current_bid(@auction))}."
      - else
        = "You have not bid on this auction yet."
  - else
    = "There have been no bids on this auction yet.  The minimum starting bid is #{number_to_currency(@auction.price)}."
  %hr
  = render :partial => "form"
  
.container
  = link_to "Back to Offering", offering_path(@offering), class: "btn"
