.hero-alt-top
  .container
    %h2 
      = "Following Options For #{@offering.name}"
      
.container
  %p
    You can adjust your following options for this specific offering.
  %p
    Changes you make here only affect this offering and will not alter your defaults or
    the options you have set for other offerings.

  = simple_form_for @fo, :html => {:class => 'form-vertical' }, defaults: {:wrapper => :inline_checkbox} do |f|
    .row
      .span
        = f.input :new_offering_update, :label => "New Offering Updates"
    .row
      .span
        = f.input :new_offering_qa, :label => "New Offering Questions or Answers"
    .row
      .span
        = f.input :investment_invested, :label => "Money Invested"
    .row
      .span
        = f.input :offering_funded, :label => "Offering Fully Funded"
    .row
      .span
        = f.input :offering_expired, :label => "Offering Expired Without Funding"
    .row
      .span
        = f.input :offering_content_changed, :label => "Changes Made To Offering Content"
    .row
      .span
        %button.btn.btn-primary{:type => "submit"}
          Update Following Options
