.hero-alt-top
  .container
    %h2 Invite Others To Join Your Company
  
.container
  %p
    Use this space to enter the email addresses of people you would like to invite to join
    your company.  Enter as many addresses as you like separated with commas.
  %p
    = form_tag("invitations/#{params[:c]}/invite", :method => "get") do
      = hidden_field_tag(:company_id, params[:c])
      .field
        = label_tag(:emails, "Email Addresses:")
      .field
        = text_area_tag(:emails, "", :size => "80x3")
      .field
        = submit_tag("Invite!")
  %p
    The following list shows people already associated with your company.  You can remove
    users who are no longer associated to restrict their access to your offerings.
 
  .entity_list
    - if @invitations.nil? or @invitations.count == 0
      .small_notice
        There are currently no people other than you associated with this company.
    - else
      %table.table
        %tr
          %th Email Address
          %th Sent
          %th Accepted
          %th Action
        - @invitations.each do |invitation|
          %tr
            %td= invitation.email
            %td= invitation.sent_on
            %td= invitation.accepted_on
            - if invitation.accepted_on.nil?
              %td= link_to "Re-Invite", reinvite_invitation_path(invitation)

  %p.offering_commands
    = link_to "Return To Profile", profile_person_path(current_user.person)
