.hero-alt-top
  .container
    %h2 Registration

.container
  = simple_form_for @person, :url => url_for(:controller => 'invitations', :action => 'create') do |f|
    = f.hidden_field :invite, :value => "#{@invitation.id}"

    .alert.alert-success
      Thank you for acknowledging your invitation. Please fill out the fields below to complete your registration.
    
    = render :partial => "/users/register", :locals => {f: f, email: "#{@invitation.email}"}
    
     