.hero-alt-top
  .container
    %h2 Add An Investment

.container
  %p
    If you have had an investment by a user outside of Funding Launchpad, perhaps before your site launched, 
    you can add that investment below and it will be reflected in your numbers shown on your offering page.
  .row
    .well.span

      = simple_form_for [@offering, @investment], :url => offering_private_investments_path, :method => :post do |f|
        =render :partial => "shared/flash", :locals => {:flash => flash}
        = f.input :accepted_amount
        = f.hidden_field :anonymous, value: true

        .row
          %p.span4
            = f.submit "Submit Investment", {class: 'btn btn-primary'}

  .row
    = link_to "Back to your offering", admin_offering_path(@offering), {class: 'btn btn-success'}
