%h2 A new answer has been posted regarding the question:
%p
  = "'#{@answer.question.content}'"
%hr
%h5 Answer:
%p
  = "'#{@answer.content}'"
%p
  You can respond to the question or new answer after you have signed in and visit: 
  = @url
%p

  = render 'shared/email_signature'
