

%div
  Generally, a natural person (i.e. an individual human being) is an accredited investor if either:
  %ul
    %li
      His/her individual net worth, or joint net worth with that person's spouse, at the time of investment exceeds 
      $1,000,000, excluding the value of such person's primary residence; or
    %li
      His/her individual income (without including any income of that person’s spouse) was in excess of $200,000 or joint
      income with that person’s spouse was in excess of $300,000, in each of the two most recent years, and he/she reasonably
      expects to reach the same income level in the current year.

.well
  %small.muted
    It’s trickier if the investor is an entity, not a natural person. Either way, this is only a summary; please 
    review the complete definition in paragraph (a) of Section 230.501
    = link_to "here", "http://www.law.cornell.edu/cfr/text/17/230.501", target: "_blank"
    , and consult with the issuer and your own lawyer before investing.
    Please note that you will be required to certify your status as an accredited investor, and may also be
    required to provide additional evidence thereof, before investing.
