.hero-alt-top
  .container
    %h2 Banking Information
.container
  - unless @offering.access_token.blank?
    %p
      You banking credentials are already on file, but if you need to make changes to your 
      = link_to "Stripe", "http://stripe.com"
      account, you can do so here.
  - else
    %p
      Before you can accept contributions for your offering, we need to know where to put the money.  FundingLaunchpad makes use of a 3rd party
      credit card processing service called "Stripe" and we do not store any credit card information or banking information.  Instead, we allow
      you to configure your account with Stripe who will provide us with a "token" or special password to access your account and deposit money
      we collect through contributors on our site.
    %p
      We encourage you to review Stripe's policies and procedures at 
      = link_to "http://stripe.com", "http://stripe.com"
      before proceeding further.
    %p
      Once you are ready to set up your account, just click on the button below to initiate the process.  When complete, you will be
      returned here to continue the development of your offering.

  %p
  =link_to "Create Your Stripe Account", "https://connect.stripe.com/oauth/authorize?response_type=code&scope=read_write&client_id=#{STRIPE_CLIENT_ID}&state=#{@offering.id}", class: "btn btn-primary"
  
  %br        
  %br
  .offering_commands
    %table
      %tr
        %td= link_to "Return To Offering", admin_offering_path(@offering), class: "btn"
