.like-button {
  display: inline;
}

.like-button input[type=submit] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: #0088cc;
  font-size: 85%;
  cursor: pointer;
}

.like-button input[type=submit]:hover {
  color: #005580;
  text-decoration: underline;
}
